.example-code pre.code-toolbar > .toolbar .toolbar-item:last-child {
    display: inline-block;
}
.example-code pre.code-toolbar > .toolbar .toolbar-item {
    border-right: 1px solid #e1e1e8;
}
.example-code pre.code-toolbar > .toolbar .toolbar-item:last-child{
    border-right: none;
}
