div.container {
    width: 97%;
}

table.params {
    display: block;
    overflow: auto;
}

/*@media (min-width: 768px) {
    div.container {
        width: 750px
    }
}

@media (min-width: 992px) {
    div.container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    div.container {
        width: 1170px
    }
}*/

body .toc .nav > li > a:focus,
body .toc .nav > li.active > a,
body .toc .nav > li.active > a:hover,
body .toc .nav > li.active > a:focus {
    color: black;
    font-weight: bold;
}

.dropdown-menu li a[href="SITNA.Map.html"] {
    font-weight: bold;
}

td.attributes {
    color: #adadad;
}

td.attributes + td:not(.last) {
    /* Celda de valores por defecto */
    font-family: monospace;
}