:host {
    display: inline-block;
    height: 2em;
}

:host([variant="link"]) {
    display: inline;
    height: auto;
}

:host([variant="minimal"]) {
    display: inline-block;
    width: 2em;
    height: 2em;
}

:host([variant="minimal"][disabled]) {
    background-color: transparent;
    display: inline-block;
    width: 2em;
    height: 2em;
}

:host([hidden]) {
    display: none;
}

button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
    vertical-align: baseline;
    -webkit-appearance: button;
    cursor: pointer;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    border: 1px solid var(--btn-border-color);
    border-radius: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    button[data-icon="help"] {
        cursor: help;
    }

:host(:first-of-type) button {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

:host(:last-of-type) button {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

button:focus {
    outline: none;
}

button:disabled {
    color: var(--btn-disabled-color);
    background-color: var(--btn-disabled-bg-color);
    border-color: var(--btn-disabled-border-color);
    cursor: default;
}

button.active {
    color: var(--btn-hl-color);
    background-color: var(--btn-hl-bg-color);
    border-color: var(--btn-hl-border-color);
}

button[data-icon]::before,
button[data-icon-text]::before {
    margin-right: 0.2em;
}

button.minimal[data-icon]::before,
button.minimal[data-icon-text]::before {
    margin-right: 0;
}

button::before {
    font-family: var(--icon-font-family);
    content: var(--icon-text);
}

button[data-icon-text]::before {
    content: attr(data-icon-text);
}

button[data-icon="close"]::before {
    content: var(--icon-close);
}

button[data-icon="delete"]::before {
    content: var(--icon-delete);
}

button[data-icon="download_all"]::before {
    content: var(--icon-download-all);
}

button[data-icon="edit"]::before {
    content: var(--icon-edit);
}

button[data-icon="share"]::before {
    content: var(--icon-share);
}

button[data-icon="help"]::before {
    content: var(--icon-help);
}

button::before:empty {
    margin-right: 0;
}

button.icon {
    text-indent: -1000vw;
    min-width: 2em;
}

    button.icon::before {
        position: absolute;
        font-size: 1em;
        height: 100%;
        width: 100%;
        text-align: center;
        text-indent: 0;
        line-height: 2em;
        left: 0;
        top: 0;
    }

button.minimal {
    background-color: transparent;
    text-indent: -1000vw;
    border-radius: 0;
    border: none;
    padding: 0;
}

    button.minimal::before {
        position: absolute;
        color: var(--glyph-color);
        font-size: 1em;
        height: 100%;
        width: 100%;
        text-align: center;
        text-indent: 0;
        line-height: 1.5em;
        left: 0;
        top: 0;
    }

    button.minimal:disabled {
        background-color: transparent;
    }

        button.minimal:disabled::before {
            color: var(--glyph-disabled-color);
        }

button.link {
    background-color: transparent;
    display: inline;
    color: var(--link-color);
    text-decoration: var(--link-decoration);
    border: 0;
    text-align: left;
}
