@keyframes pulsation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

:host {
    display: flex;
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: calc(var(--icon-font-grid-size) * 0.5);
    line-height: 1em;
    contain: content;
    align-items: center;
}

:host([checked-icon-text]),
:host([unchecked-icon-text]) {
    font-size: calc(var(--icon-font-grid-size) * 0.75);
}

:host([label-position=left]) {
    flex-direction: row-reverse;
}

:host([variant=switch]) input[type=checkbox] {
    width: 3em;
}

:host([hidden]) {
    display: none
}

:host input[type=checkbox]::before {
    color: var(--cb-unchecked-color);
    content: var(--unchecked-icon-text);
}

:host([unchecked-icon-text]) input[type=checkbox]::before {
    content: attr(data-unchecked-icon-text);
}

:host([checked]) input[type=checkbox]::before {
    color: var(--cb-checked-color);
    content: var(--checked-icon-text);
}

:host([checked][checked-icon-text]) input[type=checkbox]::before {
    content: attr(data-checked-icon-text);
}

:host input.indeterminate[type=checkbox]::before,
:host([checked]) input.indeterminate[type=checkbox]::before {
    color: var(--cb-indeterminate-color);
    font-family: sans-serif;
    content: var(--icon-indeterminate);
}

input[type=checkbox] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    border: solid 1px var(--cb-border-color);
    border-radius: calc(var(--border-radius) / 2);
    background-color: var(--cb-bg-color);
    font-size: min(1em, calc(var(--icon-font-grid-size) * 0.75));
    outline: none;
    box-sizing: border-box;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    padding: 0;
    text-indent: -1000vw;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

    input[type=checkbox]::before {
        position: absolute;
        top: 0;
        left: 0;
        font-family: var(--icon-font-family);
        font-weight: var(--icon-font-weight); 
        width: 100%;
        height: 100%;
        line-height: calc(var(--icon-font-line-height) - 0.25em);
        text-indent: 0;
        text-align: center;
        color: var(--cb-color);
        content: " ";
    }

    input[type=checkbox]::after {
        position: absolute;
        top: 0;
        left: 0;
        font-family: var(--icon-font-family);
        width: 100%;
        height: 100%;
        line-height: calc(var(--icon-font-line-height) - 0.25em);
        text-indent: 0;
        text-align: center;
    }

    input[type=checkbox]:checked {
        background-color: var(--cb-checked-bg-color);
        border-color: var(--cb-checked-border-color);
    }

label {
    margin: 0 0.3em;
}

:host(:empty) label {
    margin: 0;
}

label:empty {
    margin: 0;
}

:host(.tc-loading) label {
    color: transparent;
    background-color: var(--btn-disabled-bg-color);
    animation: pulsation 1.2s infinite;
}

:host(.tc-loading) label::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: pink;
}

:host input.indeterminate[type=checkbox],
:host([checked]) input.indeterminate[type=checkbox] {
    background-color: var(--cb-indeterminate-bg-color);
    border-color: var(--cb-indeterminate-border-color);
}

    input[type=checkbox]:focus {
        outline: none;
    }

input[type=checkbox]:disabled {
    cursor: default;
    background-color: var(--btn-disabled-bg-color);
    border-color: var(--btn-disabled-border-color);
}

:host([disabled]) input[type=checkbox],
:host(.tc-loading) input[type=checkbox] {
    color: var(--btn-disabled-color);
    cursor: default;
}

:host([variant=switch]) input[type=checkbox] {
    background-image: linear-gradient(90deg, var(--glyph-bg-color) 0%, var(--glyph-bg-color) 50%, var(--cb-checked-bg-color) 50%, var(--cb-checked-bg-color) 100%);
    border: none;
}

:host([variant=switch][checked]) input[type=checkbox] {
    background-image: linear-gradient(90deg, var(--cb-checked-bg-color) 0%, var(--cb-checked-bg-color) 50%, var(--glyph-bg-color) 50%, var(--glyph-bg-color) 100%);
}

:host([variant=switch]) input[type=checkbox]::before {
    color: var(--cb-color);
    font-family: var(--icon-font-family);
    font-size: 0.75em;
    line-height: 2em;
    content: var(--checked-icon-text);
    text-align: center;
    position: absolute;
    left: 0;
    width: 50%;
}

:host([variant=switch][checked-icon-text]) input[type=checkbox]::before {
    content: attr(data-checked-icon-text);
}

:host([variant=switch][checked]) input[type=checkbox]::before {
    color: var(--cb-checked-color);
}

:host([variant=switch]) input[type=checkbox]::after {
    color: var(--cb-checked-color);
    font-family: var(--icon-font-family);
    font-size: 0.75em;
    line-height: 2em;
    content: var(--unchecked-icon-text);
    text-align: center;
    position: absolute;
    left: 50%;
    width: 50%;
}

:host([variant=switch][unchecked-icon-text]) input[type=checkbox]::after {
    content: attr(data-unchecked-icon-text);
}

:host([variant=switch][checked]) input[type=checkbox]::after {
    color: var(--cb-color);
}

:host([variant=switch][disabled]) input[type=checkbox],
:host(.tc-loading[variant=switch]) input[type=checkbox] {
    background-image: none;
}

    :host([variant=switch][disabled]) input[type=checkbox]::before,
    :host(.tc-loading[variant=switch]) input[type=checkbox]::before {
        color: var(--btn-disabled-color);
    }

    :host([variant=switch][disabled]) input[type=checkbox]::after,
    :host(.tc-loading[variant=switch]) input[type=checkbox]::after {
        color: var(--btn-disabled-color);
    }