:host {
    display: inline-block;
    margin-left: 0.2em;
    margin-right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.2em;
    contain: content;
}

:host([hidden]) {
    display: none
}

input[type=checkbox] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    border-radius: calc(var(--border-radius) / 2);
    outline: none;
    background-color: var(--cb-bg-color);
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    text-indent: -1000vw;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

    input[type=checkbox]:checked {
        background-color: var(--cb-checked-bg-color);
    }

    input[type=checkbox]::before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.8em;
        font-family: var(--icon-font-family);
        width: 100%;
        height: 100%;
        line-height: 1.8em;
        text-indent: 0;
        text-align: center;
        color: var(--cb-color);
        content: " ";
        transition: color 0.3s ease;
    }
    
    input[type=checkbox][data-unchecked-icon-text]::before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.8em;
        font-family: var(--icon-font-family);
        width: 100%;
        height: 100%;
        line-height: 1.8em;
        text-indent: 0;
        text-align: center;
        color: var(--cb-color);
        content: attr(data-unchecked-icon-text);
    }

    input[type=checkbox]:checked::before {
        color: var(--cb-checked-color);
        content: "\2714";
    }

    input[type=checkbox][data-checked-icon-text]:checked::before {
        content: attr(data-checked-icon-text);
    }

    input[type=checkbox]:focus {
        outline: none;
    }

    input[type=checkbox]:disabled {
        color: var(--btn-disabled-color);
        background-color: var(--btn-disabled-bg-color);
        border-color: var(--btn-disabled-border-color);
        cursor: default;
    }

        input[type=checkbox]:disabled:before {
            color: var(--btn-disabled-color);
        }
