<div class="tc-slide-panel tc-right-panel tc-tools-panel tc-collapsed-right">
    <h1 class="tc-panel-tab" title="{{tools}}">{{tools}}</h1>
    <div class="tc-panel-content">
        <div id="tc-slot-search"></div>
        <div id="tc-slot-bms" class="tc-collapsed"></div>
        <div id="tc-slot-toc" class="tc-collapsed"></div>
        <div id="tc-slot-measure" class="tc-collapsed"></div>
    </div>
</div>
<div class="tc-slide-panel tc-left-panel tc-legend-panel tc-collapsed-left" data-no-cb>
    <h1 class="tc-panel-tab" title="{{legend}}">{{legend}}</h1>
    <div class="tc-panel-content">
        <div id="tc-slot-legend"></div>
    </div>
</div>
<div class="tc-slide-panel tc-right-panel tc-ovmap-panel tc-collapsed-right" data-no-cb data-no-3d>
    <h1 class="tc-panel-tab" title="{{overviewMap.tooltip}}">{{overviewMap}}</h1>
    <div id="tc-slot-ovmap"></div>
</div>
<div id="tc-slot-coordinates"></div>
<div id="tc-slot-ccontainer"></div>
