<div id="header">
    <h1>{{viewerTitle}}</h1>
    <div><a id="link-pamplona" href="http://www.pamplona.es/" target="_blank">pamplona.es</a></div>
    <div id="search"></div>
</div>
<div class="tc-slide-panel tc-right-panel tc-tools-panel tc-collapsed-right">
    <h1 class="tc-panel-tab" title="{{tools}}">{{tools}}</h1>
    <div class="tc-panel-content">
        <div id="bms" class="tc-collapsed"></div>
        <div id="toc" class="tc-collapsed"></div>
        <div id="catalog" class="tc-collapsed"></div>
        <div id="wms" class="tc-collapsed"></div>
        <div id="measure" class="tc-collapsed"></div>
        <div id="download" class="tc-collapsed"></div>
        <div id="print" class="tc-collapsed"></div>
        <div id="share" class="tc-collapsed"></div>
    </div>
</div>
<div class="tc-slide-panel tc-left-panel tc-legend-panel tc-collapsed-left">
    <h1 class="tc-panel-tab" title="{{legend}}">{{legend}}</h1>
    <div class="tc-panel-content">
        <div id="legend"></div>
    </div>
</div>
<div class="tc-slide-panel tc-right-panel tc-ovmap-panel tc-collapsed-right">
    <h1 class="tc-panel-tab" title="{{overviewMap.tooltip}}">{{overviewMap}}</h1>
    <div id="ovmap"></div>
</div>
<div id="footer">
    <div id="scalebar"></div>
    <div id="coordinates" class="tc-hidden"></div>
    <div id="attribution"></div>
</div>

