<h2>
    {@i18n $key="download"/}
</h2>
<div>
    <div class="tc-ctl-download-div">
        <div class="tc-ctl-download">
            <div class="tc-group tc-ctl-download-cnt">
                    <label>{@i18n $key="format"/}:</label>
                    <select id="download-format" class="tc-combo">
                        <option value="GML32">GML</option>
                        <option value="application/json">GeoJSON</option>
                        <option value="application/vnd.google-earth.kml+xml">KML (Google Earth)</option>
                        <option value="shape-zip">Shape (ESRI)</option>
                    </select>
                </div>
            </div>
        <form class="tc-ctl-download-form" method="post" enctype="text/plain">
            <!--
                HACK: El servicio WFS espera que en el payload del POST llegue la consulta WFS (en este caso GetFeature). El problema es que debe llegar solo la consulta,
                no en formato clave=valor. Por tanto, lo único que se me ha ocurrido es buscar el primer signo ‘=’ de la consulta, y poner lo que hay a la izquerda en el name
                del input Y lo de la derecha en el value (se inserta desde al archivo Download.js)
            -->
            <input type="hidden" name="<wfs:GetFeature xmlns:xsi" class="tc-ctl-download-query" />
        </form>
        <div class="tc-group tc-ctl-download-cnt">
            <i class="tc-ctl-download-help icon-question-sign" data-toggle="tooltip" data-placement="top" title="{@i18n $key="showDownloadHelp"/}"></i>
            <button class="tc-ctl-download-btn tc-button tc-icon-button" title="{@i18n $key="downloadLayersFromCurrentExtent"/}">{@i18n $key="download"/}</button>
    </div>
    <div class="tc-alert alert-warning tc-hidden">
        <p id="zoom-msg"><strong>{@i18n $key="tooManyFeatures"/}: </strong>{@i18n $key="tooManyFeatures.instructions"/}</p>
        <p id="layers-msg"><strong>{@i18n $key="noLayersLoaded"/}: </strong>{@i18n $key="noLayersLoaded.instructions"/}</p>
        <p id="url-msg"><strong>{@i18n $key="tooManySelectedLayers"/}: </strong>{@i18n $key="tooManySelectedLayers.instructions"/}</p>
        <p id="noFeatures-msg"><strong>{@i18n $key="noData"/}: </strong>{@i18n $key="noData.instructions"/}</p>
    </div>

</div>
</div>