    <button class="tc-ctl-btn tc-ctl-draw-btn-new" title="{tooltip}">{@i18n $key="new"/}</button>
    <button class="tc-ctl-btn tc-ctl-draw-btn-undo" disabled title="{@i18n $key="undo"/}">{@i18n $key="undo"/}</button>
    <button class="tc-ctl-btn tc-ctl-draw-btn-redo" disabled title="{@i18n $key="redo"/}">{@i18n $key="redo"/}</button>
    <button class="tc-ctl-btn tc-ctl-draw-btn-end" disabled title="{@i18n $key="end"/}">{@i18n $key="end"/}</button>
    <button class="tc-ctl-btn tc-ctl-draw-btn-cancel" title="{@i18n $key="cancel"/}">{@i18n $key="cancel"/}</button>    


