    <a class="tc-ctl-btn tc-ctl-draw-btn-new" title="{tooltip}">{@i18n $key="new"/}</a>
    <a class="tc-ctl-btn tc-ctl-draw-btn-undo tc-disabled" title="{@i18n $key="undo"/}">{@i18n $key="undo"/}</a>
    <a class="tc-ctl-btn tc-ctl-draw-btn-redo tc-disabled" title="{@i18n $key="redo"/}">{@i18n $key="redo"/}</a>
    <a class="tc-ctl-btn tc-ctl-draw-btn-end" title="{@i18n $key="end"/}">{@i18n $key="end"/}</a>
    <a class="tc-ctl-btn tc-ctl-draw-btn-cancel" title="{@i18n $key="cancel"/}">{@i18n $key="cancel"/}</a>    


