<li data-id="{id}">
    <span title="{name}">{name}</span>
    <input class="tc-textbox" type="text" hidden value="{name}" />
    <button class="tc-btn-draw" title="{@i18n $key="tr.lst.draw" /}"></button>
    <button class="tc-btn-simulate" title="{@i18n $key="tr.lst.simulate" /}"></button>
    <button hidden class="tc-btn-stop" title="{@i18n $key="tr.lst.stop" /}"></button>
    <button class="tc-btn-edit" title="{@i18n $key="tr.lst.edit" /}"></button>
    <button hidden class="tc-btn-pause" title="{@i18n $key="tr.lst.pause" /}"></button>    
    <button hidden class="tc-btn-save" title="{@i18n $key="save" /}"></button>
    <button hidden class="tc-btn-cancel" title="{@i18n $key="tr.lst.cancel" /}"></button>
    <button class="tc-btn-delete" title="{@i18n $key="tr.lst.delete" /}"></button>
    <button class="tc-btn-export-gpx" title="{@i18n $key="tr.lst.exportGPX" /}"></button>
    <button class="tc-btn-export-kml" title="{@i18n $key="tr.lst.exportKML" /}"></button>
    <select class="tc-combo tc-sel-speed" hidden title="{@i18n $key="tr.lst.velocity" /}">
        <option value="0.5">x2</option>
        <option value="0.25">x4</option>
        <option value="0.125">x8</option>        
    </select>
</li>
