<li data-id="{id}">
    <a href="#" id="draw" title="{@i18n $key="tr.lst.draw"/}"></a>
    <a href="#" id="simulate" title="{@i18n $key="tr.lst.simulate"/}"></a>
    <a href="#" hidden id="stop" title="{@i18n $key="tr.lst.stop"/}"></a>
    <span title="{name}">{name}</span>
    <input type="text" hidden value="{name}" />
    <a href="#" id="edit" title="{@i18n $key="tr.lst.edit"/}"></a>
    <a href="#" hidden id="pause" title="{@i18n $key="tr.lst.pause"/}"></a>    
    <a href="#" hidden id="save" title="{@i18n $key="tr.lst.save"/}"></a>
    <a href="#" hidden id="cancel" title="{@i18n $key="tr.lst.cancel"/}"></a>
    <a href="#" id="delete" title="{@i18n $key="tr.lst.delete"/}"></a>
    <a href="#" id="exportGPX" title="{@i18n $key="tr.lst.exportGPX"/}"></a>
    <a href="#" id="exportKML" title="{@i18n $key="tr.lst.exportKML"/}"></a>
    <select hidden id="velocity" title="{@i18n $key="tr.lst.velocity"/}">
        <option value="0.5">x2</option>
        <option value="0.25">x4</option>
        <option value="0.125">x8</option>        
    </select>
</li>
