<li data-id="{id}">
    <span title="{name}">{name}</span>
    <input class="tc-textbox" type="text" hidden value="{name}" />
    <button  id="draw" title="{@i18n $key="tr.lst.draw" /}"></button>
    <button id="simulate" title="{@i18n $key="tr.lst.simulate" /}"></button>
    <button hidden id="stop" title="{@i18n $key="tr.lst.stop" /}"></button>
    <button id="edit" title="{@i18n $key="tr.lst.edit" /}"></button>
    <button hidden id="pause" title="{@i18n $key="tr.lst.pause" /}"></button>    
    <button hidden id="save" title="{@i18n $key="tr.lst.save" /}"></button>
    <button hidden id="cancel" title="{@i18n $key="tr.lst.cancel" /}"></button>
    <button id="delete" title="{@i18n $key="tr.lst.delete" /}"></button>
    <button id="exportGPX" title="{@i18n $key="tr.lst.exportGPX" /}"></button>
    <button id="exportKML" title="{@i18n $key="tr.lst.exportKML" /}"></button>
    <select class="tc-combo" hidden id="velocity" title="{@i18n $key="tr.lst.velocity" /}">
        <option value="0.5">x2</option>
        <option value="0.25">x4</option>
        <option value="0.125">x8</option>        
    </select>
</li>
