<div class="tc-ctl-fedit-panel">
    <div class="tc-ctl-fedit-edit">
        <sitna-edit id="{{editControlId}}"{{#if stylable}} stylable{{/if}}{{#if snapping}} snapping{{/if}} no-other-tools></sitna-edit>
    </div>
    <div class="tc-ctl-fedit-actions">
        <sitna-button text="{{i18n "save"}}" class="tc-ctl-fedit-btn-save"></sitna-button>
        {{#if includeSaveAs}}
        <sitna-button text="{{i18n "saveAs"}}" class="tc-ctl-fedit-btn-saveas"></sitna-button>
        {{/if}}
    </div>
</div>