<table>
    <tbody>
        {{#value}}
            {{#if name}}
                {{> tc-ctl-attr-edit-row }}
            {{else}}
                {{> tc-ctl-attr-edit-row name=@index value=this }}
            {{/if}}
        {{/value}}
        {{#unless sealed}}
            {{> tc-ctl-attr-edit-new }}
        {{/unless}}
    </tbody>
</table>