<div class="tc-ctl-download-help-dialog tc-modal">
    <div class="tc-modal-background tc-modal-close"></div>
    <div class="tc-modal-window">
        <div class="tc-modal-header">
            <h3>{@i18n $key="downloadData"/}</h3>
            <div class="tc-modal-close"></div>
        </div>
        <div class="tc-modal-body">
            <p>{@i18n $key="dl.instructions.1|s"/}</p>
            <ul>
                <li>{@i18n $key="dl.instructions.2|s"/}</li>
                <li>{@i18n $key="dl.instructions.3|s"/}</li>
                    <li>
                        {@i18n $key="dl.instructions.4|s"/}
                    <ul>
                        <li>{@i18n $key="dl.instructions.5|s"/}</li>
                        <li>{@i18n $key="dl.instructions.6|s"/}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tc-modal-footer">
            <button type="button" class="tc-button tc-modal-close">{@i18n $key="close"/}</button>
        </div>
    </div>
</div>

