<div class="tc-ctl-msmt-box">
{{#if point}}
    <div class="tc-ctl-msmt-txt">
        <span class="tc-ctl-msmt-val-coord">
            <span class="tc-ctl-msmt-txt-elm tc-ctl-msmt-val-coord-1">
                <span class="tc-ctl-msmt-val-coord-1-t"></span> <span class="tc-ctl-msmt-val-coord-1-v"></span>
            </span>
            <span class="tc-ctl-msmt-txt-elm tc-ctl-msmt-val-coord-2">
                <span class="tc-ctl-msmt-val-coord-2-t"></span> <span class="tc-ctl-msmt-val-coord-2-v"></span> 
            </span>    
            <span class="tc-ctl-msmt-txt-elm tc-ctl-msmt-val-coord-ele">
                <span class="tc-ctl-msmt-val-coord-ele-t"></span> <span class="tc-ctl-msmt-val-coord-ele-v"></span>
            </span>
            <span class="tc-ctl-msmt-txt-elm tc-ctl-msmt-val-crs"></span>
        </span>
    </div>
{{else}}
    {{#if polyline}}
    <div class="tc-ctl-msmt-txt">
        <span class="tc-ctl-msmt-txt-elm">[[2dLength]]: <span class="tc-ctl-msmt-val-len">[[lengthValue]]</span></span>
    </div>
        {{#if enabledProfile}}
    <sitna-toggle checked class="tc-ctl-msmt-prof-btn" title="[[deactivateElevationProfile]]" checked-icon-text="&#xe920;" unchecked-icon-text="&#xe920;"></sitna-toggle>
        {{/if}}
    {{else}}
        {{#if polygon}}
    <div class="tc-ctl-msmt-txt">
        <span class="tc-ctl-msmt-txt-elm">[[area]]: <span class="tc-ctl-msmt-val-area">[[areaValue]]</span>,</span> <span class="tc-ctl-msmt-txt-elm">[[2dPerimeter]]: <span class="tc-ctl-msmt-val-peri">[[perimeterValue]]</span></span>
    </div>
        {{/if}}
    {{/if}}
{{/if}}
</div>