<li class="tc-ctl-omm-bl-node" data-layer-uid="{{id}}">
    <label style="background-size: 100% 100%; background-image: url({{thumbnail}})">
        <input type="checkbox" name="cbbl" value="{{id}}" disabled><span>{{title}}</span>
    </label>
</li>