<li data-extent="{extent}">
    <span><a href="{url}" title="{name}">{name}</a></span>
    <input class="tc-textbox tc-hidden" type="text" value="{name}" />
    <button class="tc-btn-save tc-hidden" title="{@i18n $key="save"/}"></button>
    <button class="tc-btn-cancel tc-hidden" title="{@i18n $key="cancel"/}"></button>
    <button class="tc-btn-edit" title="{@i18n $key="editMapName"/}">{@i18n $key="editMapName"/}</button>
    <button class="tc-btn-view" title="{@i18n $key="viewMapExtent"/}">{@i18n $key="viewMapExtent"/}</button>
    <button class="tc-btn-delete" title="{@i18n $key="deleteMap"/}">{@i18n $key="deleteMap"/}</button>
</li>
