<<div class="tc-ctl-popup">
    <div class="tc-ctl-popup-content{{#if closeButton}} tc-ctl-popup-has-btn{{/if}}"></div>
    <div class="tc-ctl-popup-menu">
        {{#if closeButton}}
        <button class="tc-ctl-popup-close tc-icon-btn" title="{{i18n "close"}}"></button>
        {{/if}}
        {{#if shareButton}}
        <button class="tc-ctl-popup-share tc-icon-btn" title="{{i18n "shareQuery"}}"></button>
        {{/if}}
    </div>
</div>