<li class="tc-layer" data-layer-id="{{id}}">
    <h3>{{title}}</h3>
    <ul class="tc-features">
        {{#each features}}
            {{> tc-ctl-edit-import-feature}}
        {{/each}}
    </ul>
</li>