<div class="tc-ctl-file-dialog tc-modal">
    <div class="tc-modal-background tc-modal-close"></div>
    <div class="tc-modal-window">
        <div class="tc-modal-header">
            <h3></h3>
            <div class="tc-modal-close"></div>
        </div>
        <div class="tc-modal-body">
            {{i18n "fileAccessPrompt"}}
        </div>
        <div class="tc-modal-footer">
            <sitna-button class="tc-ctl-file-dialog-ok" text="{{i18n "ok"}}"></sitna-button>
        </div>
    </div>
</div>
