{?layer}
<li class="tc-ctl-bms-node" data-layer-name="{layer.name}" data-layer-id="{layer.id}" data-layer-uid="{layer.uid}" >
    <label{?legend} style="background-image: url({layer.legend.src})"{/legend}{?layer.thumbnail} style="background-image: url({layer.thumbnail})"{/layer.thumbnail}>
        <input type="radio" name="{controlId}-bm" value="{layer.name}"{?layer.mustReproject} class="tc-disabled"{/layer.mustReproject}>
        <span>{layer.title}</span>
    </label>
    <div class="tc-ctl-bms-info">
        <h3>{layer.title}</h3>
        {#info}
            <p>{{abstract}}</p>
            {?info.metadata}
            <div class="tc-ctl-bms-metadata">
                <h4>{{i18n "metadata"}}</h4>
                <ul>
                {#info.metadata}
                    <li><a href="{url|s}" type="{format}" title="{formatDescription}" target="_blank">{formatDescription|s}</a></li>
                {/info.metadata}
                </ul>
            </div>
            {/info.metadata}
        {/info}
    </div>
</li>
{:else}
<li class="tc-ctl-bms-node"><label class="tc-loading"></label></li>
{/layer}