<a class="tc-ctl-lcat-info-close"></a>
<h2>{@i18n $key="layerInfo"/}</h2>
<h3 class="tc-ctl-lcat-title">{title}</h3>
{?abstract}
<div class="tc-ctl-lcat-abstract">
    <h4>{@i18n $key="abstract"/}</h4>
    <div><pre>{abstract|s}</pre></div>
</div>
{/abstract}
{?metadata}
<div class="tc-ctl-lcat-metadata">
    <h4>{@i18n $key="metadata"/}</h4>
    <ul>
        {#metadata}
        <li><a href="{url|s}" type="{format}" title="{formatDescription}" target="_blank">{formatDescription|s}</a></li>
        {/metadata}
    </ul>
</div>
{/metadata}