<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{cssUrl}}" />
</head>
<body onload="print()" class="tc-ctl-print-page">
    <h1>{{title}}</h1>
    {{{content}}}
</body>
</html>
