<div class="tc-ctl-rpanel-grp tc-ctl-rpanel-sidebar-body " style="display: none" data-no-cb>
    <div class="tc-ctl-rpanel-main">
        <div class="tc-ctl-rpanel-heading">
            <h4 class="tc-ctl-rpanel-title">
                <span class="tc-ctl-rpanel-title-text"></span>
                <span class="tc-ctl-rpanel-tools">
                    <sitna-button variant="minimal" class="tc-ctl-rpanel-btn-close" text="{{i18n "close"}}"></sitna-button>
                    <sitna-button variant="minimal" class="tc-ctl-rpanel-btn-min" text="{{i18n "hide"}}"></sitna-button>                    
                </span>                
            </h4>
        </div>
        <div class="tc-ctl-rpanel-collapsible">
            <div class="tc-ctl-rpanel-menu"></div>
            <div class="tc-ctl-rpanel-body tc-ctl-rpanel-info"></div>
            <div class="tc-ctl-rpanel-body tc-ctl-rpanel-table"></div>
            <div class="tc-ctl-rpanel-body tc-ctl-rpanel-chart"></div>
        </div>
        <div class="tc-ctl-rpanel-resize-handler tc-resizable-grid-handlerRight"></div>
        <div class="tc-ctl-rpanel-resize-handler tc-resizable-grid-handlerBottom"></div>
        <div class="tc-ctl-rpanel-resize-handler tc-resizable-grid-handlerDiagonal"></div>
    </div>
</div>
<div class="tc-ctl-rpanel-minimized tc-ctl-rpanel-minimized-max tc-ctl-rpanel-minimized-pull-left" style="display: none;" title="{{i18n "expand"}}" data-no-cb>
    <span class="tc-ctl-rpanel-minimized-max-table tc-hidden"></span>
    <span class="tc-ctl-rpanel-minimized-max-chart tc-hidden"></span>
</div>