<div class="tc-ctl-prnmap-tools">
    <div class="tc-ctl-prnmap-btn-pdf" title="{{i18n "printpdf"}}"></div>
    {{#if canShare}}
    <div class="tc-ctl-prnmap-btn-share" title="{{i18n "sharePDF"}}"></div>
    {{/if}}
    <div class="tc-ctl-prnmap-btn-close" title="{{i18n "close"}}"></div>
</div>    