<div class="tc-ctl-finfo-btn">
    <button class="tc-icon-btn tc-ctl-finfo-btn-show-all" title="{@i18n $key="showAllFeatures"/}">{@i18n $key="showAllFeatures"/}</button>
    <button class="tc-icon-btn tc-ctl-finfo-btn-zoom-all tc-hidden" title="{@i18n $key="zoomToAllResults"/}">{@i18n $key="zoomToAllResults"/}</button>
    <button class="tc-icon-btn tc-ctl-finfo-btn-del-all tc-hidden" title="{@i18n $key="removeAllResults"/}">{@i18n $key="removeAllResults"/}</button>
    <button class="tc-icon-btn tc-ctl-finfo-btn-dl" title="{@i18n $key="downloadAllResults"/}">{@i18n $key="downloadAllResults"/}</button>
</div>