<div class="tc-ctl-ftools">
    <button class="tc-icon-btn tc-ctl-ftools-dl-btn" title="{@i18n $key="downloadFeature"/}">{@i18n $key="download"/}</button>
    <button class="tc-icon-btn tc-ctl-ftools-share-btn" title="{@i18n $key="shareFeature"/}">{@i18n $key="share"/}</button>
    <button class="tc-icon-btn tc-ctl-ftools-zoom-btn" title="{@i18n $key="zoomToFeature"/}">{@i18n $key="zoomToFeature"/}</button>
    <button class="tc-icon-btn tc-ctl-ftools-del-btn" title="{@i18n $key="deleteFeature"/}">{@i18n $key="deleteFeature"/}</button>
</div>