<div class="tc-ctl-m-finfo-select">
    <span>{@i18n $key="selectionBy"/}</span>
    {?pointSelectValue}<label class="tc-ctl-m-finfo-btn-point" title="{@i18n $key="selectionByPoint"/}"><input type="radio" name="{controlId}-mode" value="{pointSelectValue}" checked /><span class="tc-ctl-btn">{@i18n $key="byPoint"/}</span></label>{/pointSelectValue}
    {?lineSelectValue}<label class="tc-ctl-m-finfo-btn-line" title="{@i18n $key="selectionByLine"/}"><input type="radio" name="{controlId}-mode" value="{lineSelectValue}" /><span class="tc-ctl-btn">{@i18n $key="byLine"/}</span></label>{/lineSelectValue}
    {?polygonSelectValue}<label class="tc-ctl-m-finfo-btn-polygon" title="{@i18n $key="selectionByPrecinct"/}"><input type="radio" name="{controlId}-mode" value="{polygonSelectValue}" /><span class="tc-ctl-btn">{@i18n $key="byPrecinct"/}</span></label>{/polygonSelectValue}
    <button class="tc-icon-btn tc-ctl-m-finfo-btn-dl" disabled title="{@i18n $key="downloadFeatures"/}"></button>
    <button class="tc-icon-btn tc-ctl-m-finfo-btn-remove" disabled title="{@i18n $key="deleteFeatures"/}"></button>
</div>
