<div class="tc-ctl-geolocation-dialog tc-ctl-geolocation-share-dialog tc-modal">
    <div class="tc-modal-background tc-modal-close"></div>
    <div class="tc-modal-window">
        <div class="tc-modal-header">
            <h3>{{i18n "geo.track.1"}} - {{i18n "share"}}</h3>
            <div class="tc-modal-close"></div>
        </div>
        <div class="tc-modal-body">
            <div class="tc-ctl-geolocation-share-dialog-ctl"></div>
        </div>
    </div>
</div>


