<h2>[[search1]]</h2>
<div class="tc-ctl-search-content">
    <input type="search" class="tc-ctl-search-txt" placeholder="[[searchPlaceholder]]" title="[[searchInstructions]]" />
    <button type="button" title="[[share]]" class="tc-ctl-btn tc-ctl-search-share-btn tc-hidden">[[share]]</button>
    <button type="button" title="[[searchInstructions]]" class="tc-ctl-btn tc-ctl-search-btn">[[search2]]</button>
    <ul class="tc-ctl-search-list tc-hidden"></ul>
</div>