
<div class="tc-ctl-finfo-coords">
    <span class="tc-ctl-finfo-coords-pair tc-ctl-finfo-coords-crs" title="{@i18n $key="crs"/}">CRS: <span class="tc-ctl-finfo-coords-val">{crs}</span></span>
    {?isGeo}
    <span class="tc-ctl-finfo-coords-pair tc-ctl-finfo-coords-lat">{@i18n $key="lat"/}: <span class="tc-ctl-finfo-coords-val">{coords[1]}</span></span>
    <span class="tc-ctl-finfo-coords-pair tc-ctl-finfo-coords-lon">{@i18n $key="lon"/}: <span class="tc-ctl-finfo-coords-val">{coords[0]}</span></span>
    {:else}
    <span class="tc-ctl-finfo-coords-pair tc-ctl-finfo-coords-x">x: <span class="tc-ctl-finfo-coords-val">{coords[0]}</span></span>
    <span class="tc-ctl-finfo-coords-pair tc-ctl-finfo-coords-x">y: <span class="tc-ctl-finfo-coords-val">{coords[1]}</span></span>
    {/isGeo}
    {?displayElevation}<span class="tc-ctl-finfo-coords-pair tc-ctl-finfo-elev" title="{@i18n $key="elevation"/}">{@i18n $key="ele"/}: <span class="tc-ctl-finfo-coords-val"></span></span><span class="tc-ctl-finfo-coords-pair tc-ctl-finfo-height" title="{@i18n $key="heightOverTerrain"/}">{@i18n $key="height"/}: <span class="tc-ctl-finfo-coords-val"></span></span>{/displayElevation}
</div>
<ul class="tc-ctl-finfo-services">
    {#services}
    <li>
        <h3>{?title}
                {title}
            {:else}
                {?layers[0].title}
                    {layers[0].title}
                {:else}
                    {layer.name}
                {/layers[0].title}
        {/title}</h3>
        <div class="tc-ctl-finfo-service-content">
            {#hasLimits}
            <span class="tc-ctl-finfo-errors">{hasLimits}</span>
            {:else}
                <ul class="tc-ctl-finfo-layers">
                    {#layers}
                    <li>
                        <h4><span class="tc-ctl-finfo-layer-n">{features.length}</span> {#path}{.}{@sep} &bull; {/sep}{/path}</h4>                                            
                        <div class="tc-ctl-finfo-layer-content">
                            <ul class="tc-ctl-finfo-features">
                                {#features}
                                <li>
                                    {?rawContent}
                                        <h5>{@i18n $key="feature"/}</h5>
                                            {@eq key=rawFormat value="text/html"}                                
                                                {?expandUrl}
                                                    {@ne key=expandUrl value=""}
                                                        <div class="tc-ctl-finfo-features-iframe-cnt">
                                                            <iframe src="{rawUrl}"></iframe>
                                                            <a class="tc-ctl-finfo-open" onclick="window.open('{expandUrl}', '_blank')" title="{@i18n $key="expand"/}"></a>
                                                        </div>
                                                    {:else}
                                                        <iframe src="{rawUrl}"></iframe>
                                                    {/ne}
                                                {/expandUrl}
                                            {:else}
                                                <pre>{rawContent}</pre>
                                            {/eq}
                                    {:else}
                                        {?error}
                                            <span class="tc-ctl-finfo-errors">{@i18n $key="fi.error"/}<span class="tc-ctl-finfo-error-text">{error}</span></span>
                                        {:else}
                                            <h5>{id}</h5>
                                                <table class="tc-attr"{?geometry} title="{@i18n $key="clickToShowOnMap"/}"{/geometry}>
                                                    <tbody>
                                                        {#attributes}
                                                        <tr>
                                                            <th class="tc-ctl-finfo-attr">{name}</th>
                                                            <td class="tc-ctl-finfo-val">
                                                                {>tc-ctl-finfo-object:value/}
                                                            </td>
                                                        </tr>
                                                        {/attributes}
                                                    </tbody>
                                                </table>
                                        {/error}
                                    {/rawContent}
                                </li>
                                {:else}
                                    <li class="tc-ctl-finfo-empty">{@i18n $key="noDataInThisLayer"/}</li>
                                {/features}
                            </ul>
                        </div>
                    </li>
                    {:else}
                        <li class="tc-ctl-finfo-empty">{@i18n $key="noDataAtThisService"/}</li>
                    {/layers}
                </ul>
            {/hasLimits}
        </div>
    </li>
    {:else}
        {^loading}
            {^displayElevation}<li class="tc-ctl-finfo-empty">{@i18n $key="noData"/}</li>{/displayElevation}
        {/loading}
    {/services}
</ul>
{?featureCount}
{@gt key=featureCount value="1" type="number"}
<button class="tc-ctl-btn tc-ctl-finfo-btn-prev">{@i18n $key="previous"/}</button>
<div class="tc-ctl-finfo-counter"><span class="tc-ctl-finfo-counter-current"></span>/{featureCount}</div>
<button class="tc-ctl-btn tc-ctl-finfo-btn-next">{@i18n $key="next"/}</button>
{/gt}
{/featureCount}