<h2>{@i18n $key="geo"/}</h2>
<div class="tc-ctl-geolocation-content">    
    <div class="tc-ctl-geolocation-track">
        <div class="tc-ctl-geolocation-track-snap-info"></div>                
        <div class="tc-ctl-geolocation-track-panel-block" >
            <input id="tc-ctl-geolocation-track-panel-opened-{controlId}" type="checkbox" checked/>
            <label for="tc-ctl-geolocation-track-panel-opened-{controlId}" title="{@i18n $key="geo.trk.panel.help.1"/}">{@i18n $key="geo.trk.panel.help.2"/}</label>
            <i class="tc-ctl-geolocation-track-panel-help icon-question-sign" title="{@i18n $key="geo.trk.panel.help.3"/}"></i>
        </div>
        <div class="tc-ctl-geolocation-track-mng">
            <div class="tc-ctl-geolocation-select">
                <label class="tc-ctl-geolocation-btn-track" title="{@i18n $key="geo.track.title"/}"><input type="radio" name="{controlId}-mode" checked value="tracks" /><span>{@i18n $key="geo.gps"/}</span></label>
                <label  class="tc-ctl-geolocation-btn-tracks" title="{@i18n $key="geo.tracks.title"/}"><input type="radio" name="{controlId}-mode" value="track-available" /><span>{@i18n $key="geo.tracks"/}</span></label>                    
            </div>                        
            <div  class="tc-ctl-geolocation-track-available tc-ctl-geolocation-track-cnt tc-ctl-geolocation-panel tc-hidden">
                <i class="tc-ctl-geolocation-track-search-icon"></i>
                <input id="tc-ctl-geolocation-track-available-srch" type="search" list="tc-ctl-geolocation-track-available-lst" class="tc-ctl-geolocation-track-available-srch tc-textbox" placeholder="{@i18n $key="geo.filter.plhr"/}" maxlength="200" />                
                <ol id="tc-ctl-geolocation-track-available-lst" class="tc-ctl-geolocation-track-available-lst">
                    <li class="tc-ctl-geolocation-track-available-empty"><span>{@i18n $key="geo.noTracks"/}</span></li>
                    <li class="tc-ctl-geolocation-track-not" hidden><span>{@i18n $key="noMatches"/}</span></li>
                </ol>
                <div class="tc-ctl-geolocation-track-cnt">
                    <input name="uploaded-file" id="uploaded-file-{controlId}" type="file" class="tc-ctl-geolocation-track-import tc-button" accept=".gpx,.kml,.kmz" disabled />
                    <label class="tc-button tc-icon-button" for="uploaded-file-{controlId}" title="{@i18n $key="geo.trk.import.upload" /}">{@i18n $key="geo.trk.import.lbl"/}</label>
                </div>
            </div>
            <div class="tc-ctl-geolocation-tracks tc-ctl-geolocation-panel">    
                <div class="tc-alert alert-warning tc-hidden" >
                    <p id="panel-msg">
                        {@i18n $key="geo.trk.panel.1"/}                    
                        <ul>
                            <li>{@i18n $key="geo.trk.panel.2"/}</li>
                            <li>{@i18n $key="geo.trk.panel.3"/}</li>
                            <li>{@i18n $key="geo.trk.panel.4"/}</li>
                            <li>{@i18n $key="geo.trk.panel.5"/}</li>
                        </ul>
                    </p>
                </div>            
                <div class="tc-ctl-geolocation-track-ui">   
                    <div  class="tc-ctl-geolocation-track-render">
                        <input id="tc-ctl-geolocation-track-render-{controlId}" type="checkbox" hidden checked />
                        <label for="tc-ctl-geolocation-track-render-{controlId}" class="tc-ctl-geolocation-track-render" title="{@i18n $key="geo.trk.render"/}">{@i18n $key="geo.trk.render"/}</label>
                    </div>
                    <button class="tc-button tc-icon-button tc-ctl-geolocation-track-ui-activate" title="{@i18n $key="geo.track.activate.title"/}">{@i18n $key="geo.track.activate"/}</button>
                    <button class="tc-button tc-icon-button tc-ctl-geolocation-track-ui-deactivate tc-hidden" title="{@i18n $key="geo.track.deactivate.title" /}">{@i18n $key="geo.track.deactivate"/}</button>
                </div>
                <div  class="tc-ctl-geolocation-track-current tc-ctl-geolocation-track-cnt">
                    <input type="text" class="tc-ctl-geolocation-track-title tc-textbox" disabled placeholder="{@i18n $key="geo.trk.name.plhr"/}" maxlength="200" />
                    <button class="tc-button tc-icon-button tc-ctl-geolocation-track-save" disabled title="{@i18n $key="geo.trk.name.save"/}"></button>
                    <input type="text" class="tc-ctl-geolocation-track-waypoint tc-textbox" disabled placeholder="{@i18n $key="geo.trk.wyp.plhr"/}" maxlength="200" />
                    <button class="tc-button tc-icon-button tc-ctl-geolocation-track-add-wpt" disabled title="{@i18n $key="geo.trk.wyp.save"/}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tc-ctl-geolocation-track-center tc-hidden">
    <button class="tc-float-btn" title="{@i18n $key="geo.trk.center"/}"></button>
</div>


