<div class="tc-ctl-load-bar">
    <div class="tc-ctl-load-dots tc-ctl-load-dot1"> </div>
    <div class="tc-ctl-load-dots tc-ctl-load-dot2"> </div>
    <div class="tc-ctl-load-dots tc-ctl-load-dot3"> </div>
    <div class="tc-ctl-load-dots tc-ctl-load-dot4"> </div>
    <div class="tc-ctl-load-dots tc-ctl-load-dot5"> </div>
    <div class="tc-ctl-load-dots tc-ctl-load-dot6"> </div>
    <div class="tc-ctl-load-dots tc-ctl-load-dot7"> </div>
    <div class="tc-ctl-load-dots tc-ctl-load-dot8"> </div>
</div>