<div class="tc-ctl-edit-import">
    <div class="tc-ctl-edit-import-list">
        <ul class="tc-layers">
            {{#each layers}}
                {{> tc-ctl-edit-import-layer}}
            {{/each}}
        </ul>
        <p class="tc-ctl-edit-import-empty-note">{{i18n "thereAreNoCompatibleFeatures"}}</p>
    </div>
    <div class="tc-ctl-edit-import-foot">
        <button class="tc-button tc-ctl-edit-import-btn-ok">{{i18n "ok"}}</button>
    </div>
</div>
