<h2>[[loadedLayers]]<span class="tc-ctl-wlm-n"></span><button type="button" class="tc-ctl-wlm-del-all tc-hidden" title="[[removeAllLayersFromMap]]"></button></h2>
<div class="tc-ctl-wlm-empty">[[noData]]</div>
<div class="tc-ctl-wlm-content tc-hidden">
    <ul>{{#each workLayers}}{{> tc-ctl-wlm-elm}}{{/each}}</ul>
</div>