<div class="tc-ctl-coords-crs-dialog tc-modal">
    <div class="tc-modal-background tc-modal-close"></div>
    <div class="tc-modal-window">
        <div class="tc-modal-header">
            <h3>[[changeCRS]]</h3>
            <div class="tc-modal-close"></div>
        </div>
        <div class="tc-modal-body">
            <p>[[coordsCurrentProjection]] <strong>[[currentCRSName]]</strong> (<strong>[[currentCRSCode]]</strong>)</p>
            <p class="tc-ctl-coords-no-change">[[coordsNoCrsWarning]]</p>
            <div class="tc-ctl-coords-change">
                <p>[[coordsInstructions]]</p>
                <p class="tc-msg-warning tc-hidden">[[coordsInstructionsWarning]]</p>
            </div>
            <ul class="tc-list tc-ctl-coords-crs-list tc-crs-list"></ul>
        </div>
        <div class="tc-modal-footer">
            <button type="button" class="tc-button tc-modal-close">[[cancel]]</button>
        </div>
    </div>
</div>

