<div class="tc-ctl-draw-tools">
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-new" title="[[tooltip]]">[[new]]</button>
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-undo" disabled title="[[undo]]">[[undo]]</button>
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-redo" disabled title="[[redo]]">[[redo]]</button>
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-end" disabled title="[[end]]">[[end]]</button>
    <button type="button" class="tc-ctl-btn tc-ctl-draw-btn-cancel" title="[[cancel]]">[[cancel]]</button>
</div>
<div class="tc-ctl-draw-style{{#unless stylable}} tc-hidden{{/unless}}">
    <sitna-feature-styler></sitna-feature-styler>
</div>

