<h2>{{i18n "worklayers"}}</h2>
<div class="tc-ctl-toc-tree">
    <div class="tc-ctl-toc-empty">{{i18n "noData"}}</div>
    <ul class="tc-ctl-toc-branch tc-ctl-toc-wl">
        {{#each workLayers}}
        {{> tc-ctl-toc-wlbranch}}
        {{/each}}
    </ul>
</div>