{{#each conditions}}
<div class="tc-ctl-wfsquery-where-cond">
    {{field}}&nbsp;{{opText}}&nbsp;
    {{#if isString}}
    &quot;
    {{/if}}
    {{formatNumber valueToShow}}
    {{#if isString}}
    &quot;
    {{/if}}
</div>
<div class="tc-ctl-wfsquery-del-cond" title="{{i18n "query.tooltipRemoveCond"}}"></div>	
{{/each}}