<div id="header">
    <h1>{{viewerTitle}}</h1>
    <div><a id="link-pamplona" href="http://www.pamplona.es/" target="_blank">pamplona.es</a></div>
    <div id="search"></div>
</div>
<div id="tools-panel" class="slide-panel right-panel tools-panel right-collapsed">
    <h1 id="tools-tab" title="{{tools}}">{{tools}}</h1>
    <div class="panel-content">
        <div id="bms" class="tc-collapsed"></div>
        <div id="toc" class="tc-collapsed"></div>
        <div id="catalog" class="tc-collapsed"></div>
        <div id="wms" class="tc-collapsed"></div>
        <div id="measure" class="tc-collapsed"></div>
        <div id="download" class="tc-collapsed"></div>
        <div id="print" class="tc-collapsed"></div>
        <div id="share" class="tc-collapsed"></div>
    </div>
</div>
<div id="legend-panel" class="slide-panel left-panel legend-panel left-collapsed">
    <h1 id="legend-tab" title="{{legend}}">{{legend}}</h1>
    <div class="panel-content">
        <div id="legend"></div>
    </div>
</div>
<div id="ovmap-panel" class="slide-panel right-panel ovmap-panel right-collapsed">
    <h1 id="ovmap-tab" title="{{overviewMap.tooltip}}">{{overviewMap}}</h1>
    <div id="ovmap"></div>
</div>
<div id="footer">
    <div id="scalebar"></div>
    <div id="coordinates" class="tc-hidden"></div>
    <div id="attribution"></div>
</div>

