@import '../responsive/style.css';

    a:hover {
        text-decoration: none;
    }
html, body, #mapa:not(.tc-ctl-sv-active) {
    width: 100%;
    height: 100%;    
}
input[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(213,235,90,0), #D2EA56);
}

input[type=range]::-webkit-slider-thumb {
    background: #5a7586;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(213,235,90,0), #D2EA56);
}

input[type=range]::-moz-range-track {
    background: linear-gradient(to right, rgba(213,235,90,0), #D2EA56);
}

input[type=range]::-moz-range-thumb {
    background: #5a7586;
}

input[type=range]::-ms-track {
    background: linear-gradient(to right, rgba(213,235,90,0), #D2EA56);
}

input[type=range]::-ms-thumb {
    background: #5a7586;
}

.olImageLoadError {
    visibility: hidden !important;
}

.legend-panel {
    bottom: 1.5em;
}

.ovmap-panel {
    bottom: 1.5em;
}

#header {
    position: absolute;
    width: 100%;
    height: 68px;
    z-index: 10010;
    background-color: rgba(255,255,255,0.8);
}

    #header h1 {
        float: right;
        color: #000;
        font-size: 1em;
        font-style: italic;
        margin-right: 44px;
    }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    z-index: 10007;
    background-color: rgba(204,204,204,0.8);
}

#link-pamplona {
    display: block;
    width: 140px;
    height: 64px;
    text-indent: -100em;
    margin: 2px;
    background-image: url(img/logoAyto.png);
}

#link-ayuda {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-bottom-left-radius: 0.2em;
    text-indent: -200em;
    text-decoration:none;
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.2);
}

    #link-ayuda:before {
        position: absolute;
        color: #000;
        content: '\003f';
        font-size: 1.5em;
        font-weight: bold;
        width: 0.75em;
        height: 0.75em;
        text-indent: 133.55em;
        text-align: center;
        line-height: 1em;
        margin: 0em;
    }

.tc-map.tc-collapsed {
    border-top: 0.2em solid #5a7586;
    border-left: 0.2em solid #5a7586;
}

    .tc-map.tc-collapsed .slide-panel, .tc-map.tc-collapsed .tc-ctl-nav, .tc-map.tc-collapsed #header, .tc-map.tc-collapsed #footer, .tc-map.tc-collapsed .tc-ctl-nav {
        display: none;
    }
.tc-ctl-popup-close {
    color: #5a7586;
}


.tc-button {
    background-color: rgb(90, 117, 134);
    border-color: rgb(90, 117, 134);    
}

.tc-button[disabled], .tc-button-disabled {
    background-color: rgba(204, 204, 204, 1);
    border-color:rgba(204, 204, 204, 1);
    cursor: default;
}

.tc-ctl-print-btn {
    position: absolute;
    top: 1.5em;
    right: 0;
    font-size: 1.2em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 1em;
    cursor: pointer;
    overflow: hidden;
}

.tc-ctl-print-btn:before {
    color: #5a7586;
    margin-right: 1em;
    text-indent: 0;
}

/*.tc-ctl-finfo-layers > li {
    float:left;
    clear:both;
}*/

.tc-ctl-btn.tc-ctl-draw-btn-new.tc-active,.tc-ctl-btn:not([disabled]) {
    background-color: #5a7586;
}

.tc-ctl.tc-ctl-nav {
    top: 4.7em;
}

    .tc-ctl-nav .tc-ctl-nav-btn {
        background-color: #5a7586;
    }

    .tc-ctl-nav .tc-ctl-nav-slider {
        background-color: #fff;
    }

.tc-ctl-nav-slider.ol-zoomslider-thumb {
    background-color: #5a7586;
}

.ol-zoomslider {
    top: 6.7em;
}

.tc-ctl-load {
    opacity: 1;
}

.tc-ctl-load-dots {
    background-color: #D2EA56;
    box-shadow: 10px 10px 5px #078930;
}

.tc-ctl-p-results {    
    top: 4.7em;
    max-width: 60%;
    min-width: 40%;
}

.tc-ctl-search {
    position: absolute;
    top: 1.2em;
    width: 25.1em;
    left: 50%;
}

.tc-ctl-search-content {
    position: relative;
    margin: auto;
    width: 100%;
    left: -50%;
    padding: 1em 0 1em 0.2em;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    font-size: 0.8em;
}

.tc-ctl-search-btn {
    background-color: #5a7586;
    border-color: #5a7586;
}

    .tc-ctl-search-btn:hover, .tc-ctl-search-btn:active {
        color: #5a7586;
    }

    .tc-ctl-search-btn:before {
        width: 100%;
    }

.tc-ctl-bms-node input[type=radio] ~ span {
    border-color: #e9eeea;
}

.tc-ctl-bms-node input[type=radio]:checked ~ span {
    border-color: #D2EA56;
}

.tc-ctl-search-txt, .tc-ctl-search-list {
    width: 25em;
    margin-left: 0;
    box-sizing:border-box;
}

  {
    top: auto;
    left: 1em;
    bottom: 0.1em;
    font-size: 0.8em;
    border: 0;
    background-color: transparent;
}

.tc-ctl-coords {
    padding: 0.4em;
    position: relative;
    left: 16em;
    color: #000;
    background-color: transparent;
    font-size: 0.7em;
    line-height: 1.5em;
    z-index: 10009;
}
.tc-ctl-coords .close {
    visibility:hidden;
    }

.tc-ctl-lcat-tree {
    padding-top: 0;
    max-height: 43vh !important;
    overflow-x:hidden;
}

li.tc-ctl-lcat-node > span.tc-selectable {
    color: #5a7586;
}

.tools-panel .tc-ctl.tc-collapsed div {
    padding: 0;
}

    .tools-panel .tc-ctl.tc-collapsed div * {
        visibility: hidden;
        max-height: 0;
        margin: 0;
        padding: 0;
        display: block;
    }

/*.tc-ctl-meas-select input[type=radio]:checked ~ span {
    color: #666;
    font-weight: bold;    
}*/
/*  estilos imprimir mapa */


.tc-ctl-prnmap-txt {
    display: inline-block;
    width: 96%;
    margin: 1em 0 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    text-align: left;
    padding: 0.3em;
}

.tc-ctl-prnmap-val {
    border: none;
}
div.panel-content > div.tc-ctl-prnmap-txt input.tc-ctl-prnmap-title, div.tc-ctl-prnmap-txt select {
    width: auto;
}

.tc-ctl-prnmap-txt-title {
    width: 85%;
}

.tc-ctl-prnmap-note {
    color: rgba(90, 117, 133, 1);
    padding-top: 0.7em;
    float: right;
}

.tc-ctl-prnmap-note-hidden {
    display: none;
}

.tc-ctl-prnmap h2 {
    clear:both;
}

.tc-ctl-wlm-switch {
    margin: 0.2em;
}

.tc-ctl-wlm-switch-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.tc-ctl-wlm-switch-text-izda {
    margin-right: 0.3em;
    margin-left: 0.5em;
}

.tc-ctl-wlm-switch-text-dcha {
    margin-left: 0.3em;
}

.tc-ctl-wlm-switch-text.disabled {
    color: #ccc;
}

.tc-ctl-finfo {
    overflow-x: hidden;
}

.olPopupContent .tc-ctl-finfo {
    width: 50vw;
    height: 50vh;
}

.tools-panel {
    top: 68px;
    max-height: calc(100% - 68px);
}

.slide-panel > h1 {
    background-color: #D2EA56;
    color: #000;
}


.tc-ctl-coords.tc-hidden div:last-child {
    visibility: hidden;
}

.tc-ctl-attrib {
    display: none;
    left: auto;
    right: 0;
    z-index: 100003;
    width: auto;
}

    .tc-ctl-attrib > div {
        border: 0;
        color: #666;
        left: auto;
        background-color: transparent;
        margin-bottom: 0.2em;
    }

    
.tc-ctl-sv-btn {
    background-color: #5a7586;
    top: 10.9em;
}

.tc-ctl-wlm .tc-ctl-wlm-n {
    visibility: hidden;
    cursor: default;
    background-color: #D2EA56;
    color: #000;
}

.tc-ctl-wlm .tc-ctl-wlm-n {
    visibility: hidden;
    cursor: default;
    background-color: #D2EA56;
    color: #000;
}

.tc-ctl-wlm .tc-ctl-wlm-type {
    color: #D2EA56;
}

.tc-ctl-wlm .tc-ctl-wlm-btn-info {
    color: #5a7586;
}
.tc-ctl.tc-ctl-fscreen {    
    top: 11em;
}
.tc-ctl.tc-ctl-fscreen button{
    background-color:#5a7586
}
.left-collapsed #legend-tab {
        background-image: url(img/legend-icon.svg);
        background-size: contain;
    }

@media screen and (min-height: 42em) {
     div.tc-map {
        width: 100%;
        bottom: 0;
        position: absolute;
        top: 0;
        height: auto;
    }
    .tc-ctl-finfo ul.tc-ctl-finfo-features li.tc-checked table {
        border: 0.2em #c00 solid;
    }    

        .tc-ctl-attrib a {
            overflow: auto;
            max-width: none;
        }

    .tc-ctl-sv-btn {
        top: 21.35em;
    }
    .tc-ctl.tc-ctl-fscreen {
        top: 23.7em;    
    }
    .left-collapsed #legend-tab {
        background-image: none;
    }
    
}

.tc-ctl-btn.tc-active {
    background-color: #D2EA56;
}

.tc-ctl-meas-select input[type=radio]:checked ~ span,
.tc-ctl-share-select input[type=radio]:checked ~ span,
.tc-ctl-geolocation-select input[type=radio]:checked ~ span,
.tc-ctl-tctr-select input[type=radio]:checked ~ span {
    border-color: #666;
    border-bottom-color: #fff;
    color: #666;
    font-weight: bold;
}

/*CSS TC.control.Help*/

.tc-ctl-help-content {
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 0.3em;
    border-radius: 0.3em;
    padding: 1em;
    max-height: 70vh;
    overflow: auto;
    opacity: 1;
    width: 29.2em;
    height: 30em;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    transition: all .2s ease;
}

.tc-ctl-help-content.tc-hidden {
    opacity: 0;
    width: 0.1em;
    height: 0.1em;
    visibility: visible;
    display:none;
}

.tc-ctl-help-btn {
    position: absolute;
    top: 0;
    right: 0em;
    display: block;
    width: 1.2em;
    height: 1.2em;
    margin: 0.4em;
    border-radius: 1em;
    font-size: 1em;
    text-indent: 0;
    opacity: 0.2;
    cursor: pointer;
    z-index: 1;
    color: #666;
}

.tc-ctl-help-btn:hover {
    opacity: 1;
    color: #666;
}

.tc-ctl-help-btn:after {
    position: absolute;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
    text-indent: 0;
    margin: 0.05em 0 0 0;
    top: 0;
    width: 1.2em;
    color: #fff;
    content: '?';
    margin-left:-1px;/*FF*/
}
.tc-ctl-share .ga-share-icons a:hover {
    color: #D2EA56;
}

.tc-ctl-finfo ul.tc-ctl-finfo-features li {
    float:left;
    clear:both;
}

.tc-ctl-m-finfo-select input[type=radio]:checked ~ span {
    color: #000;
    background-color: #D2EA56;
}

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .tc-ctl-help-btn:after {
            margin-left: 0px;
        }
    }

    .tc-ctl-search .tc-ctl-help-btn {
    font-size: 0.8em;
    right: 15.3em;
}

.tc-ctl-search .tc-ctl-help-content {
    font-size: 0.8em;
    right: 15.7em;
}
/***/

.tc-ctl-share {
    padding-bottom: 1em;
}

@media screen and (max-width: 735px), screen and (max-height: 42em) {   

    #search {
        left: calc(50% - 12.55em);
        top: 0.2em;
    }

    #header {
        height: 32px;
    }

    #link-pamplona {
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: content-box;
        padding-bottom: 1px;
        box-sizing: border-box;
    }

    .tools-panel {
        top: 33px;
        max-height: calc(100% - 33px);
    }

    .tc-ctl.tc-ctl-nav {
        top: 2.6em;
    }

    .ol-zoomslider {
        top: 4.5em;
    }

    .tc-ctl-sv-btn {
        top: 8.8em;
    }
    .tc-ctl.tc-ctl-fscreen {
        top: 10.9em;
    }
    .tc-ctl-search-content {
        left:0;
    }
    .tc-ctl-search .tc-ctl-help-btn {
        right:0;
    }
    .tc-ctl-p-results {
        top: 2.6em;
    }
}
@media screen and (max-width: 735px) and (min-height: 42em) {
    .tc-ctl-sv-btn {
        top: 19.13em;
    }
    .tc-ctl.tc-ctl-fscreen {
        top: 21.35em;
    }
}

@media screen and (max-width: 735px){    
    /*#search {
        left:200px;
    }*/    
    
    #header h1 {
        display:none;
        visibility:hidden;
    }
    .tc-ctl-legend-tree {
        height:14em;
    }
    .tc-ctl-search .tc-ctl-help-content{
        RIGHT:0;
    }
    /*Mover div de coordenadas*/
    .tc-ctl-coords{               
        width: 270px;
        background-color: rgba(204,204,204,0.8);
        height: 1.5em;
        text-align: center;
        top: -30px;
        left: calc(50% - 135px);
        background-color: white;
        border-radius: 0.3em;
        border: 1px solid rgb(204, 204, 204);
    } 
}
@media screen and (max-width: 735px) and (max-height: 42em){
    .tc-ctl-coords{
        bottom: 8em;
    }
}

@media screen and (max-width: 550px) {    
    .tc-ctl-search-txt, .tc-ctl-search-list {
        width: 19em;        
    }
    #search  {
        width: 20.1em;
        left: calc(50% - 10em);
    }
    .tc-ctl-search .tc-ctl-help-content
    {
        left: 0;
        width: 100%;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 480px) {
    
    #search  {
        left:auto;
        right: 1.5em;
    }
    .tc-ctl-search .tc-ctl-help-content{
        position: fixed;
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    
    #search {
        left:0.7em;
        right: auto;
    }
    #link-pamplona {
        display:none;
        visibility:hidden;
    }
    #tools-panel #tools-tab {
        background-image: url(img/logoAyto.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 95% 50%;
        background-origin: content-box;
        padding: 5px;
        box-sizing: border-box;
    }
    #tools-panel.right-collapsed #tools-tab {
        background-image: none;
        padding: 0px;
        box-sizing:inherit;
    }
    #tools-panel:not(.right-collapsed).slide-panel > h1#tools-tab::before {
        text-align:left;
        left:3em;
    }  
      
}
@media screen and (min-width: 451px) {
    .tc-ctl-attrib {
        display: block;
    }

}

@media screen and (max-width: 360px) {
    #link-ayuda, .tc-ctl-btn.tc-ctl-help-btn {
        display:none;
    }
    #search {
        width: calc(100% - 0.7em);
    }
    .tc-ctl-search-txt {
        width: calc(100% - 4.7em);
    }
    .tc-ctl-coords{                
        top: -45px;        
        width: 140px;
        left: calc(50% - 70px);
        height: 2.8em;        
    }   
}


div.tc-ctl-lcat-search ul li button:hover:after, .tc-ctl-lcat-search li h5:hover {
    color:#c00;
}

.tc-ctl-xwms-option-selected {
    color:#5a7586;
}

.icon-question-sign:before {
    content: "\f059";
}

.tc-ctl-sb {
    top: auto;
    left: 1em;
    bottom: .1em;
    font-size: .8em;
    border: 0;
    background-color: transparent;
}
div.tc-ctl-attrib-other {
    display: inline-block;
}

li.tc-ctl-lcat-node > button.tc-ctl-lcat-btn-info.tc-checked:after, li.tc-ctl-lcat-search-group button.tc-ctl-lcat-search-btn-info.tc-checked:after{
    color:#D2EA56;
}
li.tc-ctl-lcat-node > button.tc-ctl-lcat-btn-download {
    right: 0;
    background: none;
    color: #666;
    cursor: pointer;
    z-index: 10000;
    font-size: 100%;
    border: 0;    
    vertical-align: middle;
}
li.tc-ctl-lcat-node > button.tc-ctl-lcat-btn-download:after, li.tc-ctl-lcat-search-group button.tc-ctl-lcat-search-btn-download:after {
    content: '\f019';
    }
li.tc-ctl-lcat-node > button.tc-ctl-lcat-btn-download:hover, li.tc-ctl-lcat-search-group button.tc-ctl-lcat-search-btn-download:hover:after {
    color: #600;
}
.tc-ctl-lcat-info h3:before{
    color:#D2EA56;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes downloading {
    0%   {color: inherit;}    
    50% {color: #D2EA56;}
    100% {color: inherit;}    
}
/* Standard syntax */
@keyframes downloading {
    0%   {color: inherit;}    
    50% {color: #D2EA56;}
    100% {color: inherit;}    
}
.tc-ctl-lcat-btn-download.tc-downloading, .tc-ctl-lcat-search-btn-download.tc-downloading:after {
    -webkit-animation-name: downloading; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count:infinite;
    animation-name: downloading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.tc-ctl-wlm-metadata a:before, .tc-ctl-lcat-metadata a:before{
    color:#5a7586;
}
.tc-ctl-wlm-metadata a[type='text/xml']:after, .tc-ctl-lcat-metadata a[type='text/xml']:after, .tc-ctl-wlm-metadata a[type='text/html']:after, .tc-ctl-lcat-metadata a[type='text/html']:after {
    background-color:#5a7586
}
.tc-ctl-lcat-search ul button.tc-ctl-lcat-search-btn-download {
    margin-right:0px;
    padding: 2px 0 0 0;
}
.tc-ctl-lcat-search li h5 {
    width:78%;
}
.tc-ctl-lcat-btn-ok {
    margin: 0 0.5em 0 0;
}
.tc-ctl-download-fail-dialog .tc-combo {
    width:100%;
}
.tc-ctl-wlm .tc-ctl-wlm-btn-info{
    width: 6%;
}

.tc-ctl-wlm .tc-ctl-wlm-btn-query {
    display: inline-block;
    vertical-align: middle;
    width: 8%;
    color: #5a7586;
    cursor: pointer;
    vertical-align: top;
    line-height: 1.6em;
    font-size: 1.1em;
    text-align:center;

}
.tc-ctl-wlm .tc-ctl-wlm-btn-query:after {
    font-family: 'FontAwesome';
    content: '\f002';
}
.tc-ctl-wlm .tc-ctl-wlm-btn-query.tc-loading{
    cursor:default;
    animation: pulsation 0.75s infinite;
    -webkit-animation: pulsation 0.75s infinite;
}
.tc-ctl-wlm .tc-ctl-wlm-btn-query.tc-unavailable:after{
    cursor: default;    
    color:rgba(234, 234, 227, 1);
    }

.tc-ctl-wlm input[type=range] {
     width:70%;
}
.tc-modal-form input[type=radio] {
    display:none;
}
