<div id="tools-panel" class="slide-panel right-panel tools-panel right-collapsed">
    <h1 id="tools-tab" title="{@i18n $key="tools"/}">{@i18n $key="tools"/}</h1>
    <div class="panel-content">
        <div id="search"></div>
        <div id="bms" class="tc-collapsed"></div>
        <div id="toc" class="tc-collapsed"></div>
        <div id="measure" class="tc-collapsed"></div>
    </div>
</div>
<div id="legend-panel" class="slide-panel left-panel legend-panel left-collapsed">
    <h1 id="legend-tab" title="{@i18n $key="legend"/}">{@i18n $key="legend"/}</h1>
    <div class="panel-content">
        <div id="legend"></div>
    </div>
</div>
<div id="ovmap-panel" class="slide-panel right-panel ovmap-panel right-collapsed">
    <h1 id="ovmap-tab" title="{@i18n $key="overviewMap.tooltip"/}">{@i18n $key="overviewMap"/}</h1>
    <div id="ovmap"></div>
</div>
<div id="coordinates"></div>
