sitna-attributes-edit {
    display: block;
}

.tc-ctl-edit .tc-ctl-attr-edit-body {
    overflow-y: auto;
}

.tc-ctl-rpanel .tc-ctl-edit .tc-ctl-attr-edit-body {
    max-height: 20em;
    overflow-y: auto;
}

    .tc-ctl-edit .tc-ctl-attr-edit-body table th {
        text-align: left;
    }

    .tc-ctl-edit .tc-ctl-attr-edit-body table input {
        width: calc(100% - 1em);
        min-width: 4em;
    }

.tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex {
    padding-left: 1em;
}

    .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table {
        border-radius: var(--border-radius);
        border-collapse: separate;
        border: solid var(--sec-divider-color) 2px;
    }

        .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:first-child {
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);
        }

            .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:first-child > th:first-child,
            .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:first-child > td:first-child {
                border-top-left-radius: var(--border-radius);
            }

            .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:first-child > th:last-child,
            .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:first-child > td:last-child {
                border-top-right-radius: var(--border-radius);
            }

        .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:last-child {
            border-bottom-left-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }

            .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:last-child > th:first-child,
            .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:last-child > td:first-child {
                border-bottom-left-radius: var(--border-radius);
            }

            .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:last-child > th:last-child,
            .tc-ctl-attr-edit-body table td.tc-ctl-attr-edit-complex table > tbody > tr:last-child > td:last-child {
                border-bottom-right-radius: var(--border-radius);
            }

.tc-ctl-edit select.tc-ctl-attr-edit-type.tc-hidden {
    display: none;
}

.tc-ctl-edit .tc-ctl-attr-edit-new-value input,
.tc-ctl-edit .tc-ctl-attr-edit-new-value select,
.tc-ctl-edit .tc-ctl-attr-edit-new-value sitna-toggle {
    display: none;
}

    .tc-ctl-edit .tc-ctl-attr-edit-new-value input.tc-active,
    .tc-ctl-edit .tc-ctl-attr-edit-new-value select.tc-active,
    .tc-ctl-edit .tc-ctl-attr-edit-new-value sitna-toggle.tc-active {
        display: inline-block;
    }
