
.tc-ctl-dmm .tc-hidden {
    display: none;
}

.tc-ctl-dmm .tc-ctl-meas-select.tc-hidden {
    margin-top: 0.5em;
}

.tc-ctl-dmm .tc-ctl-meas-select sitna-tab {
    width: 33.33%;
}

    .tc-ctl-dmm .tc-ctl-meas-select sitna-tab.tc-ctl-meas-select-mode-point:before {
        content: '\e90a';
    }

    .tc-ctl-dmm .tc-ctl-dmm-tool button {
        position: relative;
        display: inline-block;
        border-radius: 0;
        height: 2em;
        vertical-align: top;
        text-align: center;
        color: var(--btn-color);
    }

    .tc-ctl-dmm .tc-ctl-dmm-tool button:disabled {
        color: var(--btn-disabled-color);
        background-color: var(--btn-disabled-bg-color);
        border-color: var(--btn-disabled-border-color);
    }

        .tc-ctl-dmm .tc-ctl-dmm-tool button:first-of-type {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

    .tc-ctl-dmm .tc-ctl-dmm-tool button:last-of-type {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }


    .tc-ctl-dmm .tc-ctl-dmm-mod sitna-modify {
        padding: 0;
    }

    .tc-ctl-dmm .tc-ctl-dmm-mod sitna-modify .tc-ctl-mod-btn {
        width: 100%;
        padding-bottom: 0.5em;
    }


.tc-ctl-dmm .tc-ctl-mod-btn-delete {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

    .tc-ctl-dmm .tc-ctl-mod-btn-delete:disabled {
        border-right-color: var(--btn-disabled-border-color);
    }

.tc-ctl-dmm .tc-ctl-mod sitna-modify {
    width: 100%;
}

.tc-ctl-dmm .tc-ctl-mod .tc-ctl-mod-btn > button.tc-ctl-btn.tc-ctl-mod-btn-join,
.tc-ctl-dmm .tc-ctl-mod .tc-ctl-mod-btn > button.tc-ctl-btn.tc-ctl-mod-btn-split {
    display: none;
    flex-grow: 0;
}

.tc-ctl-dmm-cmd {
    display: flex;
    gap: 0.2em;
    flex-grow: 3;
}

.tc-ctl-dmm .tc-ctl-dmm-cmd button {
    flex-grow:1;   
    text-indent: -1000vw;
    position: relative;
    color: var(--btn-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
}

    .tc-ctl-dmm .tc-ctl-dmm-cmd button:after {
        position: absolute;
        font-size: 1em;
        height: 100%;
        width: 100%;
        text-align: center;
        text-indent: 0;
        line-height: 2em;
        font-family: var(--icon-font-family);
        left: 0;
        top: 0;
    }

    .tc-ctl-dmm .tc-ctl-dmm-cmd button:disabled {
        color: var(--btn-disabled-color);
        background-color: var(--btn-disabled-bg-color);
        border-color: var(--btn-disabled-border-color);
    }

    .tc-ctl-dmm .tc-ctl-dmm-cmd button.tc-ctl-dmm-btn-clr:after {
        content: var(--icon-delete);
    }
    .tc-ctl-dmm .tc-ctl-dmm-cmd button.tc-ctl-dmm-btn-hide.tc-active:after {
        content: var(--icon-visible);
    }
    .tc-ctl-dmm .tc-ctl-dmm-cmd button.tc-ctl-dmm-btn-hide:after {
        content: var(--icon-invisible);
    }
    .tc-ctl-dmm .tc-ctl-dmm-cmd button.tc-ctl-dmm-btn-hide.tc-active:not(:disabled) {
        background-color: var(--btn-hl-bg-color);
        border-color: var(--btn-hl-border-color);
    }

.tc-ctl-dmm-cmd button.tc-ctl-dmm-btn-dl:after {
    content: var(--icon-download-all);
}

.tc-ctl-dmm .tc-ctl-mod-style {
    text-align: center;
    margin-bottom: 0.5em;
}

    .tc-ctl-dmm .tc-ctl-mod-style.tc-hidden {
        display: none;
    }

.tc-ctl-dmm .tc-ctl-mod sitna-feature-styler {
    display: none;
}