
.tc-ctl-draw-btn-new {
    border-top-left-radius: var(--sitna-border-radius);
    border-bottom-left-radius: var(--sitna-border-radius);
}

.tc-ctl-btn.tc-ctl-draw-btn-new.tc-active {
    background-color: var(--sitna-active-button-background-color);
    border-color: var(--sitna-active-button-border-color);
}

.tc-ctl-draw-btn-cancel {
    border-top-right-radius: var(--sitna-border-radius);
    border-bottom-right-radius: var(--sitna-border-radius);
}

.tc-ctl-draw-point .tc-ctl-draw-tools .tc-ctl-btn {
    display: none;
}

.tc-ctl-draw-point .tc-ctl-draw-tools .tc-ctl-draw-btn-new, .tc-ctl-draw-point .tc-ctl-draw-tools .tc-ctl-draw-btn-cancel {
    display: inline-block;
}

.tc-ctl-draw-style {
    width: 100%;
}

    .tc-ctl-draw-style.tc-hidden {
        display: none;
    }

.tc-map > .tc-ctl-draw {
    display: none;
}

.tc-ctl-draw-tools {
    display: flex;
    gap: 0.2em;
}

    .tc-ctl-draw-tools > sitna-button {
        --sitna-icon-font-family: 'sitna';
        flex-grow: 1;
    }

        .tc-ctl-draw-tools > sitna-button.tc-ctl-draw-btn-new {
            --sitna-icon-text: '\f040';
        }

        .tc-ctl-draw-tools > sitna-button.tc-ctl-draw-btn-undo {
            --sitna-icon-text: '\2b8c';
        }

        .tc-ctl-draw-tools > sitna-button.tc-ctl-draw-btn-redo {
            --sitna-icon-text: '\2b8c';
            scale: -1 1;
        }

        .tc-ctl-draw-tools > sitna-button.tc-ctl-draw-btn-end {
            --sitna-icon-text: '\2714';
        }

        .tc-ctl-draw-tools > sitna-button.tc-ctl-draw-btn-cancel {
            --sitna-icon-text: '\e908';
        }

.tc-ctl-draw .tc-ctl-draw-tools > button {
    position: relative;
    flex-grow: 1;
    display: inline-block;
    height: 2em;
    margin: 0 0.1em 0 0.1em;
    vertical-align: top;
    text-align: center;
    color: var(--sitna-button-text-color);
    cursor: pointer;
}

    .tc-ctl-draw .tc-ctl-draw-tools > button:first-of-type {
        margin-left: 0;
    }

    .tc-ctl-draw .tc-ctl-draw-tools > button:last-of-type {
        margin-right: 0;
        border-right-color: var(--sitna-button-border-color);
    }

    .tc-ctl-draw .tc-ctl-draw-tools > button:disabled {
        color: var(--sitna-disabled-button-text-color);
        background-color: var(--sitna-disabled-button-background-color);
        border-color: var(--sitna-disabled-button-border-color);
    }

        .tc-ctl-draw .tc-ctl-draw-tools > button:disabled:last-child {
            border-right-color: var(--sitna-disabled-button-border-color);
        }
