
.tc-ctl-draw-btn-new {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.tc-ctl-btn.tc-ctl-draw-btn-new.tc-active {
    background-color: var(--btn-hl-bg-color);
    border-color: var(--btn-hl-border-color);
}

.tc-ctl-draw-btn-cancel {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.tc-ctl-draw-point .tc-ctl-draw-tools .tc-ctl-btn {
    display: none;
}

.tc-ctl-draw-point .tc-ctl-draw-tools .tc-ctl-draw-btn-new, .tc-ctl-draw-point .tc-ctl-draw-tools .tc-ctl-draw-btn-cancel {
    display: inline-block;
}

.tc-ctl-draw-style {
    width: 100%;
}

    .tc-ctl-draw-style.tc-hidden {
        display: none;
    }

.tc-map > .tc-ctl-draw {
    display: none;
}

.tc-ctl-draw-tools {
    display: flex;
}

.tc-ctl-draw .tc-ctl-draw-tools > button {
    position: relative;
    flex-grow: 1;
    display: inline-block;
    height: 2em;
    margin: 0 0.1em 0 0.1em;
    vertical-align: top;
    text-align: center;
    color: var(--btn-color);
    cursor: pointer;
}

    .tc-ctl-draw .tc-ctl-draw-tools > button:first-of-type {
        margin-left: 0;
    }

    .tc-ctl-draw .tc-ctl-draw-tools > button:last-of-type {
        margin-right: 0;
        border-right-color: var(--btn-border-color);
    }

    .tc-ctl-draw .tc-ctl-draw-tools > button:disabled {
        color: var(--btn-disabled-color);
        background-color: var(--btn-disabled-bg-color);
        border-color: var(--btn-disabled-border-color);
    }

        .tc-ctl-draw .tc-ctl-draw-tools > button:disabled:last-child {
            border-right-color: var(--btn-disabled-border-color);
        }
