
.tc-ctl-dldlog-dl {
    padding: 0.5em;
    background-image: linear-gradient(45deg, var(--main-bg-color) 25%, var(--sec-divider-color) 25%, var(--sec-divider-color) 50%, var(--main-bg-color) 50%, var(--main-bg-color) 75%, var(--sec-divider-color) 75%, var(--sec-divider-color) 100%);
    /* background-size: 3.13px 3.13px; */
    background-size: 4.66px 4.66px;
    border-radius: 0.3em;
}

.tc-ctl-dldlog-dl div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

.tc-ctl-dldlog .tc-ctl-dldlog-dl sitna-button {
    width: calc(25% - 0.1em);
    margin: 0.5em 0 0.5em 0;
}

.tc-ctl-dldlog-dl sitna-button:nth-child(4n) {
    border-top-right-radius: var(--sitna-border-radius);
    border-bottom-right-radius: var(--sitna-border-radius);
}

.tc-ctl-dldlog-dl sitna-button:nth-child(4n+1) {
    border-top-left-radius: var(--sitna-border-radius);
    border-bottom-left-radius: var(--sitna-border-radius);
}

.tc-ctl-dldlog .tc-ctl-dldlog-dl .tc-btn-dl.tc-hidden {
    display: none;
}

.tc-ctl-dldlog .tc-btn-dl:first-child {
    border-top-left-radius: var(--sitna-border-radius);
    border-bottom-left-radius: var(--sitna-border-radius);
}

.tc-ctl-dldlog .tc-btn-dl:last-child {
    border-top-right-radius: var(--sitna-border-radius);
    border-bottom-right-radius: var(--sitna-border-radius);
}

.tc-ctl-dldlog .tc-ctl-dldlog-dl button.tc-ctl-wfsquery-dl-btn-geojson {
    text-indent: -0.6em;
}

.tc-ctl-dldlog .tc-ctl-dldlog-dl h2 {
    color: var(--title-color);
    text-transform: lowercase;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid;
    border-bottom-color: var(--main-divider-color);
    font-family: Arial, helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.2em;
    margin: 0;
}

.tc-ctl-dldlog .tc-ctl-dldlog-elev sitna-toggle {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.tc-ctl-dldlog .tc-ctl-dldlog-elev-ipt {
    height: auto;
}

.tc-ctl-dldlog .tc-ctl-dldlog-elev-ip {
    margin-bottom: 0.5em;
    text-align: center;
    height: 10em;
    overflow: hidden;
}

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-ip:has(.tc-ctl-dldlog-elev-ip-m:not(.tc-hidden)) {
        height: 12.2em;
    }

.tc-ctl-dldlog .tc-ctl-dldlog-elev-src {
    text-align: center;
    height: 3em;
    overflow: hidden;
}

.tc-ctl-dldlog .tc-ctl-dldlog-elev-ip-m {
    height: 2.2em;
    opacity: 1;
    padding-top: 0.5em;
}

.tc-ctl-dldlog .tc-ctl-dldlog-elev-ip,
.tc-ctl-dldlog .tc-ctl-dldlog-elev-ip-m,
.tc-ctl-dldlog .tc-ctl-dldlog-elev-src {
    transition: all 0.2s ease;
    transition-behavior: allow-discrete;
}

.tc-ctl-dldlog .tc-ctl-dldlog-elev-ip,
.tc-ctl-dldlog .tc-ctl-dldlog-elev-src {
    @starting-style {
        height: 0;
    }
}

.tc-ctl-dldlog .tc-ctl-dldlog-elev-ip-m {
    @starting-style {
        opacity: 0;
        height: 0;
    }
}
    .tc-ctl-dldlog .tc-ctl-dldlog-elev-ip.tc-hidden,
    .tc-ctl-dldlog .tc-ctl-dldlog-elev-src.tc-hidden {
        display: none;
        height: 0;
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-ip label {
        display: inline-block;
        width: 6em;
        height: 6em;
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-ip input[type=radio] {
        display: none;
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-ip label input[type=radio] ~ span {
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 0.3em solid transparent;
        border-radius: var(--sitna-border-radius);
        text-align: center;
        box-sizing: border-box;
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-ip.tc-hidden label input[type=radio] ~ span {
        display: none;
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-ip label input[type=radio]:checked ~ span {
        border-color: var(--main-hl-color);
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-ip label input[type=radio][value="0"] ~ span {
        background-image: url(../img/uip-features.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: bottom;
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-ip label input[type=radio][value="1"] ~ span {
        background-image: url(../img/ip-features.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: bottom;
    }

.tc-ctl-dldlog .tc-ctl-dldlog-elev-ip .tc-ctl-dldlog-elev-ip-m.tc-hidden {
    display: none;
    opacity: 0;
}

.tc-ctl-dldlog .tc-ctl-dldlog-elev-ip-m input[type=number] {
    width: 3em;
}

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-src.tc-hidden {
        display: none;
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-src label {
        position: relative;
        display: inline-block;
        height: 2em;
        margin: 0.2em 0;
        width: calc(40% - 1px);
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-src input[type=radio] {
        display: none;
    }

        .tc-ctl-dldlog .tc-ctl-dldlog-elev-src input[type=radio] ~ span {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 2em;
            text-align: center;
            border: 1px solid var(--sitna-button-border-color);
            background-color: var(--sitna-button-background-color);
            color: var(--sitna-button-text-color);
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .tc-ctl-dldlog .tc-ctl-dldlog-elev-src input[type=radio]:checked ~ span {
            color: var(--sitna-active-button-text-color);
            background-color: var(--sitna-active-button-background-color);
            border-color: var(--sitna-active-button-border-color);
            z-index: 10007;
        }

        .tc-ctl-dldlog .tc-ctl-dldlog-elev-src input[type=radio].tc-disabled ~ span {
            color: var(--sitna-disabled-button-text-color);
            background-color: var(--sitna-disabled-button-background-color);
            border-color: var(--sitna-disabled-button-border-color);
            cursor: default;
        }

        .tc-ctl-dldlog .tc-ctl-dldlog-elev-src input[type=radio].tc-disabled:checked ~ span {
            color: var(--sitna-disabled-button-text-color);
            background-color: var(--sitna-disabled-button-background-color);
            border-color: var(--sitna-disabled-button-border-color);
            cursor: default;
        }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-src label:first-child input[type=radio] ~ span {
        border-top-left-radius: var(--sitna-border-radius);
        border-bottom-left-radius: var(--sitna-border-radius);
    }

    .tc-ctl-dldlog .tc-ctl-dldlog-elev-src label:last-child input[type=radio] ~ span {
        border-top-right-radius: var(--sitna-border-radius);
        border-bottom-right-radius: var(--sitna-border-radius);
    }