
.tc-ctl-ftools {
    z-index: 10011;
    display: none;
    order: 3;
    flex-grow: 3;
    gap: 0.2em;
}

    .tc-ctl-ftools.tc-active {
        display: block;
        animation: slidedown 0.3s;
        transform-origin: top center;
    }

    .tc-ctl-ftools sitna-button {
        position: relative;
        font-size: calc(var(--sitna-icon-font-grid-size) * 2 / 3);
        --sitna-minimal-button-text-color: var(--main-hl-color);
    }

        .tc-ctl-ftools sitna-button.tc-hidden {
            display: none;
        }

        .tc-ctl-ftools sitna-button.tc-ctl-ftools-dl-btn {
            --sitna-icon-text: var(--icon-download);
        }

        .tc-ctl-ftools sitna-button.tc-ctl-ftools-share-btn {
            --sitna-icon-text: var(--icon-share);
        }

        .tc-ctl-ftools sitna-button.tc-ctl-ftools-zoom-btn {
            --sitna-icon-text: var(--icon-extent);
        }

        .tc-ctl-ftools sitna-button.tc-ctl-ftools-elev-btn {
            --sitna-icon-text: var(--icon-elevation);
        }

        .tc-ctl-ftools sitna-button.tc-ctl-ftools-prof-btn {
            --sitna-icon-text: var(--icon-profile);
        }

        .tc-ctl-ftools sitna-button.tc-ctl-ftools-del-btn {
            --sitna-icon-text: var(--icon-delete);
        }

table.tc-ctl-ftools-zoom {
    cursor: zoom-in;
}

    table.tc-ctl-ftools-zoom a {
        cursor: pointer;
    }

    table.tc-ctl-ftools-zoom label,
    table.tc-ctl-ftools-zoom input,
    table.tc-ctl-ftools-zoom video,
    table.tc-ctl-ftools-zoom audio {
        cursor: default;
    }
