
.tc-ctl.tc-ctl-fscreen {
    top: calc(1.5em - 100%);
    position: relative;
    left: 0.7em;
    padding: 0;
    margin-bottom: 0.5em;
}

.tc-ctl-fscreen {
    width: 2em;
    height: 2em;
}
    .tc-ctl-fscreen button:after {
        content: '\26f6';
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2em;
        width: 1em;
        height: 1em;
        line-height: 1em;
    }

    .tc-ctl-fscreen button.tc-active:after {
        content: '\21b8';
        scale: 1 -1;
    }        

/* GLS: en Safari IOS no pasa a ocupar toda la pantalla, así que aplicamos por CSS */
html:fullscreen .tc-map {
    height: 100vh;
    width: 100vw;
}

html:-moz-full-screen .tc-map {
    height: 100vh;
    width: 100vw;
}

html:-webkit-full-screen .tc-map {
    height: 100vh;
    width: 100vw;
}

body:fullscreen {
    clip: unset;
}

    body:fullscreen > header {
        display: none;
        height: 0;
    }

    body:fullscreen > .tc-map {
        top: 0;
        height: 100%;
    }

    body:fullscreen > .tc-map-3d {
        top: 0;
        height: 100%;
    }

/*.tc-ctl-fscreen-to-header {
    display: none !important;
    height: 0 !important;
}*/

.tc-ctl-fscreen-to-map {
    top: 0 !important;
    height: 100% !important;
}
