
.tc-ctl.tc-ctl-geolocation h2 {
    text-transform: none;
}

.tc-ctl-geolocation .tc-ctl-geolocation-content {
    /*padding: 0.8em 0.5em 0 0.5em;*/
}

.tc-ctl-geolocation-track-marker-icon {
    background-image: url(../img/track-marker-icon.png);
}

.tc-ctl-geolocation-track-marker-icon-end {
    background-image: url(../img/track-marker-icon-end.png);
}

.tc-ctl-geolocation .tc-ctl-geolocation-select {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-select sitna-tab {
        width: 50%;
    }

.tc-ctl-geolocation label.tc-ctl-geolocation-btn-tracks {
    margin-right: 0;
}

.tc-ctl-geolocation label.tc-ctl-geolocation-btn-track {
    margin-left: 0;
}


.tc-ctl-geolocation-track-center {
    top: calc(1.5em + 2em + 10em + 2em + 0.5em + 2em + 0.5em + 2em + 0.5em + 2em + 0.5em + 2em + 0.5em); /* margen antes del +, el +, el alto de la barra, el - y el margen inferior, la casita, el margen inferior, btn streetView, el margen inferior, btn fullScreen, el margen inferior, btn 3D, el margen inferior */
    position: absolute;
    left: 0.7em;
    padding: 0;
    width: 2em;
    height: 2em;
}

    .tc-ctl-geolocation-track-center.tc-ctl {
        padding: 0;
    }

.tc-map .tc-ctl-geolocation-track-center button.tc-unplugged {
    cursor: pointer;
}

.tc-ctl-geolocation-track-center button:after {
    font-family: mapskin;
    content: "\e925";
}

.tc-ctl-geolocation-track-center button.tc-unplugged:after {
    content: "\e926";
}

.tc-ctl-geolocation sitna-button.tc-ctl-geolocation-track-panel-help {
    opacity: 0.5;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track {
    max-height: 28em;
    clear: both;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-cnt {
    box-sizing: border-box;
    margin: 6px 0 0 0;
    text-align: right;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-cnt .tc-ctl-geolocation-track-cnt {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

.tc-ctl-geolocation .tc-ctl-geolocation-track-available {
    margin-top: -15px;
    text-align: left;
}

.tc-ctl-geolocation.tc-collapsed i.tc-ctl-geolocation-track-search-icon {
    display: none;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-ui {
    text-align: right;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-ui button {
        background-image: url(../img/geo-track.png);
        background-repeat: no-repeat;
        background-position: 1.2em 0.2em;
        height: 2em;
        padding-left: 2.5em;
        width: 9em;
    }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-ui button.tc-ctl-geolocation-track-ui-deactivate {
            background-color: #630101;
            border-color: #630101;
        }

.tc-ctl-geolocation button.tc-ctl-geolocation-active {
    border-color: #630101;
    background-color: #630101;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-save, .tc-ctl-geolocation .tc-ctl-geolocation-track-add-wpt {
    /*width: 20%;
    padding-bottom: 0.4em;*/
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-save:before {
        font-family: mapskin;
        content: "\e038";
    }

.tc-ctl-geolocation label.tc-ctl-geolocation-track-available-label {
    width: 100%;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-mng input {
    box-sizing: border-box;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-mng input[type="file"] {
        display: none;
    }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-mng input[type="file"] + label {
            color: white;
            display: inline-block;
            cursor: pointer;
            border: 1px solid;
            border-color: var(--btn-hl-border-color);
            border-radius: var(--border-radius);
            background-color: var(--btn-hl-border-color);
            height: 27px;
            padding: 0 8px;
            box-sizing: content-box;
            line-height: 2.1em;
        }

            .tc-ctl-geolocation .tc-ctl-geolocation-track-mng input[type="file"] + label:before {
                font-family: mapskin;
                content: "\e036";
                padding-right: 0.5em;
            }

.tc-ctl-geolocation .tc-button.tc-icon-button.tc-btn-delete-all {
    padding: 6px 8px;
}

    .tc-ctl-geolocation .tc-button.tc-icon-button.tc-btn-delete-all:before {
        margin-right: 0.5em;
        font-family: var(--icon-font-family);
        font-size: calc(var(--icon-font-grid-size) / 2);
        content: var(--icon-delete);
    }

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst .tc-ctl-geolocation-tools-always {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst {
    max-height: 8em;
    margin-top: 0.5em;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li {
        display: block;
        justify-content: space-between;
    }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li > .tc-ctl-geolocation-tools-always sitna-button[variant="link"] {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            height: 2em;
            flex-grow: 2;
            max-width: calc(100% - 10em);
            padding-left: 0.1em;
        }

.tc-ctl-geolocation ol.tc-ctl-geolocation-track-available-lst > li.tc-ctl-geolocation-track-available-empty > span {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

.tc-ctl-geolocation ol.tc-ctl-geolocation-track-available-lst > li.tc-ctl-geolocation-track-not > span {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button {
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    width: 2.5em;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button:before {
        display: block;
        position: relative;
        color: var(--glyph-color);
        font-family: 'FontAwesome';
        padding: 0 0.3em;
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button:disabled:before {
        color: #ccc;
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button#elevation:before {
        font-family: var(--icon-font-family);
        font-size: calc(var(--icon-font-grid-size) / 2);
        content: var(--icon-profile);
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button.tc-btn-delete:before {
        font-family: var(--icon-font-family);
        font-size: calc(var(--icon-font-grid-size) / 2);
        content: var(--icon-delete);
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button.tc-btn-edit:before {
        font-family: var(--icon-font-family);
        font-size: calc(var(--icon-font-grid-size) / 2);
        content: '\e92a';
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button.tc-btn-save:before {
        font-family: initial;
        content: "\2714";
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button.tc-btn-cancel:before {
        font-family: var(--icon-font-family);
        font-size: calc(var(--icon-font-grid-size) / 2);
        content: var(--icon-close);
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button.tc-btn-export:before {
        font-family: var(--icon-font-family);
        font-size: calc(var(--icon-font-grid-size) / 2);
        content: var(--icon-download);
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li button.tc-btn-share:before {
        font-family: var(--icon-font-family);
        font-size: calc(var(--icon-font-grid-size) / 2);
        content: var(--icon-share);
    }

input#tc-ctl-geolocation-track-available-srch {
    width: 100%;
    height: 2em;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-search-icon {
    position: relative;
    margin-top: 4px;
    right: 1em;
    color: #ccc;
    font-style: normal;
    width: 1em;
    height: 1em;
    float: right;
    top: 20px;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-search-icon:before {
        font-family: var(--icon-font-family);
        font-size: calc(var(--icon-font-grid-size) / 2);
        content: var(--icon-search);
    }

.tc-ctl-geolocation .tc-ctl-geolocation-track-title, .tc-ctl-geolocation .tc-ctl-geolocation-track-waypoint {
    width: 81.6%;
    margin-right: 2.4%;
    margin-bottom: 0.5em;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-current .tc-icon-button {
    width: 16%;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-add-wpt:before {
    font-family: var(--icon-font-family);
    font-size: calc(var(--icon-font-grid-size) / 2);
    content: var(--icon-placemark);
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-import > input[type="file"] {
    width: 100%;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-mng > h4 {
    color: #595959;
    margin: 1em 0;
    margin-bottom: 0.1em;
    clear: right;
}

div.tc-ctl-geolocation-continue-track-dialog > div > div > button.tc-button {
    margin: 0.3em;
}

.tc-ctl-geolocation div.tc-ctl-geolocation-track-render {
    padding-top: 0.3em;
    text-align: left;
    float: left;
    padding-bottom: 0.3em;
}

    .tc-ctl-geolocation div.tc-ctl-geolocation-track-render label {
        width: 100%;
        text-align: left;
        padding-bottom: 0.3em;
    }


.tc-ctl-geolocation .tc-ctl-geolocation-track-panel-block {
    margin: 1em 0 0 0;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-panel-span {
    padding: 0 0.5em;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-panel {
    color: #AA0000;
    font-style: normal;
    font-size: 1.58em;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 0.1em;
    cursor: pointer;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li.tc-checked {
    /*background: repeating-linear-gradient( -45deg, rgba(224, 224, 224, 0.3), rgba(255, 217, 217, 0.7) 1px, #fff 0px, #fff 5px );*/
    /*background: repeating-linear-gradient( -45deg, #F0EFEF, #F0EFEF 1px, #fff 1px, #fff 10px );*/
    color: var(--list-hl-color);
    background-color: var(--list-hl-bg-color);
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li:not(.tc-checked) div.tc-ctl-geolocation-tools-active {
    transition: height 0.3s ease;
    height: 0;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li:not(.tc-checked) div.tc-ctl-geolocation-tools-active * {
        visibility: hidden;
    }

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li.tc-checked div.tc-ctl-geolocation-tools-active {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: both;
    transition: height 0.3s linear;
    height: 2.1em;
}

.tc-ctl-geolocation-track-advertisement {
    text-align: center;
}

    .tc-ctl-geolocation-track-advertisement > label > input[type="checkbox"] {
        vertical-align: middle;
        margin-bottom: 0.1em;
    }

    .tc-ctl-geolocation-track-advertisement > label {
        vertical-align: middle;
        padding-left: 0.2em;
    }

/*
#track-chart {
    min-width: 1em;
    padding-right: 1em;
    background-color: rgba(255,255,255, 0.6);
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    right: 1.8em;
    display: none;
}
*/

div.tc-ctl-geolocation-track-snap-info {
    display: none;
    visibility: visible;
    background-color: rgba(256, 256, 256, .7);
    color: rgba(69, 69, 69, 0.9);
    padding: 0.3em;
    border: 0.1em solid #DFDFDF;
    border-radius: var(--border-radius);
    font-size: 11px;
}

    div.tc-ctl-geolocation-track-snap-info p {
        margin: 0.2em;
    }

    div.tc-ctl-geolocation-track-snap-info ul {
        margin: 0;
        padding: 0 0.8em 0 0.8em;
        list-style-type: none;
    }

        div.tc-ctl-geolocation-track-snap-info ul li {
            padding: 0.2em 0em 0.2em 0em;
            text-transform: uppercase;
        }

            div.tc-ctl-geolocation-track-snap-info ul li span {
                font-weight: bold;
            }

                div.tc-ctl-geolocation-track-snap-info ul li span.tc-original {
                    color: var(--track-profile-original-color);
                }

                div.tc-ctl-geolocation-track-snap-info ul li span.tc-mdt {
                    color: var(--track-profile-mdt-color);
                }

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li, .tc-modal .tc-crs-list > li {
    padding: 0.25em 0 0.2em 0.5%;
    border-bottom: 0.1em solid #ccc;
    overflow: hidden;
    line-height: 2em;
    box-sizing: content-box;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li:last-of-type {
        border-bottom: none;
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li > div.tc-ctl-geolocation-tools-always input {
        flex-basis: calc(100% - 5em);
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim {
        flex-grow: 2;
    }


        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-stop:before {
            font-family: FontAwesome;
            content: "\f04d";
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-pause:before {
            font-family: FontAwesome;
            content: "\f04c";
        }


        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-pause.tc-play:before {
            font-family: FontAwesome;
            content: "\f04b";
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-forward:before {
            font-family: FontAwesome;
            content: "\f04e";
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-backward:before {
            font-family: FontAwesome;
            content: "\f04a";
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-spn-speed {
            font-weight: bold;
            font-family: Arial;
            font-size: 85%;
            color: #666;
            text-decoration: none;
            cursor: auto;
            white-space: nowrap;
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > select.tc-sel-speed {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

table.tc-ctl-geolocation-info-tracking {
    margin: 0.5em auto;
    height: 3.3em;
}

    table.tc-ctl-geolocation-info-tracking td {
        border: none;
    }

.tc-ctl-rpanel-table table.tc-ctl-geolocation-info-tracking tbody tr:nth-child(odd) {
    background: none;
}

.tc-ctl-rpanel-table table.tc-ctl-geolocation-info-tracking tbody tr:nth-child(even) {
    background: none;
}

.tc-ctl-rpanel-table table.tc-ctl-geolocation-info-tracking tbody tr {
    cursor: default; /* initial no funciona en IE */
}

.tc-ctl-rpanel-table table.tc-ctl-geolocation-info-tracking {
    color: rgba(69, 69, 69, 0.9);
    line-height: 0.5em;
}


.tc-ctl-geolocation-ext-dldlog {
    text-align: center;
}

    .tc-ctl-geolocation-ext-dldlog.tc-hidden {
        display: none;
    }

    .tc-ctl-geolocation-ext-dldlog label {
        position: relative;
        display: inline-block;
        height: 2em;
        margin: 0.2em 0;
        width: calc(40% - 1px);
    }

    .tc-ctl-geolocation-ext-dldlog input[type=radio] {
        display: none;
    }

        .tc-ctl-geolocation-ext-dldlog input[type=radio] ~ span {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 2em;
            text-align: center;
            border: 1px solid var(--btn-border-color);
            background-color: var(--btn-bg-color);
            color: var(--btn-color);
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .tc-ctl-geolocation-ext-dldlog input[type=radio]:checked ~ span {
            color: var(--btn-hl-color);
            background-color: var(--btn-hl-bg-color);
            border-color: var(--btn-hl-border-color);
            z-index: 10007;
        }

        .tc-ctl-geolocation-ext-dldlog input[type=radio].tc-disabled ~ span {
            color: var(--btn-disabled-color);
            background-color: var(--btn-disabled-bg-color);
            border-color: var(--btn-disabled-border-color);
            cursor: default;
        }

        .tc-ctl-geolocation-ext-dldlog input[type=radio].tc-disabled:checked ~ span {
            color: var(--btn-disabled-color);
            background-color: var(--btn-disabled-bg-color);
            border-color: var(--btn-disabled-border-color);
            cursor: default;
        }

    .tc-ctl-geolocation-ext-dldlog label:first-child input[type=radio] ~ span {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .tc-ctl-geolocation-ext-dldlog label:last-child input[type=radio] ~ span {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

/*.tc-ctl-geolocation-ext-dldlog label:first-child input[type=radio]:checked ~ span {
        border-bottom-left-radius: 0;
        border-bottom-color: transparent;
    }

    .tc-ctl-geolocation-ext-dldlog label:last-child input[type=radio]:checked ~ span {
        border-bottom-right-radius: 0;
        border-bottom-color: transparent;
    }*/


/* GPS y rutas - mostrar NOVEDAD en 3D */
.tc-ctl-geolocation.tc-3d h2 span.tc-beta {
    visibility: visible;
    opacity: 1;
    display: inline-block;
}
