
.tc-ctl.tc-ctl-geolocation h2 {
    text-transform: none;
}

.tc-ctl-geolocation .tc-ctl-geolocation-content {
    /*padding: 0.8em 0.5em 0 0.5em;*/
}

.tc-ctl-geolocation-track-marker-icon {
    background-image: url(../img/track-marker-icon.png);
}

.tc-ctl-geolocation-track-marker-icon-end {
    background-image: url(../img/track-marker-icon-end.png);
}

.tc-ctl-geolocation .tc-ctl-geolocation-select {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-select sitna-tab {
        width: 50%;
    }

.tc-ctl-geolocation label.tc-ctl-geolocation-btn-tracks {
    margin-right: 0;
}

.tc-ctl-geolocation label.tc-ctl-geolocation-btn-track {
    margin-left: 0;
}


.tc-ctl-geolocation-track-center {
    top: calc(1.5em - 100%);
    position: relative;
    left: 0.7em;
    padding: 0;
    width: 2em;
    height: 2em;
    margin-bottom: 0.5em;
}

    .tc-ctl-geolocation-track-center.tc-ctl {
        padding: 0;
    }

.tc-map .tc-ctl-geolocation-track-center button.tc-unplugged {
    cursor: pointer;
}

.tc-ctl-geolocation-track-center button:after {
    font-family: mapskin;
    content: "\e925";
}

.tc-ctl-geolocation-track-center button.tc-unplugged:after {
    content: "\e926";
}

.tc-ctl-geolocation sitna-button.tc-ctl-geolocation-track-panel-help {
    opacity: 0.5;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track {
    max-height: 28em;
    clear: both;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-cnt {
    box-sizing: border-box;
    margin: 6px 0 0 0;
    text-align: right;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-cnt .tc-ctl-geolocation-track-cnt {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

.tc-ctl-geolocation .tc-ctl-geolocation-track-available {
    margin-top: -15px;
    text-align: left;
}

.tc-ctl-geolocation.tc-collapsed i.tc-ctl-geolocation-track-search-icon {
    display: none;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-ui {
    text-align: right;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-ui sitna-button {
        border-radius: var(--sitna-border-radius);
    }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-ui sitna-button.tc-ctl-geolocation-track-ui-activate {
            --sitna-icon-text: '\e926';
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-ui sitna-button.tc-ctl-geolocation-track-ui-deactivate {
            --sitna-icon-text: '\e925';
        }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-save {
        --sitna-icon-font-family: mapskin;
        --icont-text: "\e038";
    }

.tc-ctl-geolocation label.tc-ctl-geolocation-track-available-label {
    width: 100%;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-mng input {
    box-sizing: border-box;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-mng input[type="file"] {
        display: none;
    }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-mng input[type="file"] + label {
            color: var(--sitna-button-text-color);
            display: inline-block;
            cursor: pointer;
            border: 1px solid;
            border-color: var(--sitna-button-border-color);
            border-radius: var(--sitna-border-radius);
            background-color: var(--sitna-button-border-color);
            height: 2em;
            padding: 0 8px;
            box-sizing: border-box;
            line-height: 2em;
        }

            .tc-ctl-geolocation .tc-ctl-geolocation-track-mng input[type="file"] + label:before {
                font-family: mapskin;
                content: "\e036";
                padding-right: 0.5em;
            }

    .tc-ctl-geolocation .tc-btn-delete-all {
        --sitna-icon-text: var(--icon-delete);
    }

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst .tc-ctl-geolocation-tools-always {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5em;
    box-sizing: border-box;
    margin: 0.2em 0;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst {
    max-height: 8em;
    margin-top: 0.5em;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li {
        display: block;
        justify-content: space-between;
    }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li > .tc-ctl-geolocation-tools-always sitna-button[variant="link"] {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            height: 2em;
            flex-grow: 2;
            max-width: calc(100% - 10em);
            padding-left: 0.1em;
        }

.tc-ctl-geolocation ol.tc-ctl-geolocation-track-available-lst > li.tc-ctl-geolocation-track-available-empty > span {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

.tc-ctl-geolocation ol.tc-ctl-geolocation-track-available-lst > li.tc-ctl-geolocation-track-not > span {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li sitna-button[variant="minimal"] {
    font-size: calc(var(--sitna-icon-font-grid-size) * 2 / 3);
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li sitna-button.tc-btn-delete {
        --sitna-icon-text: var(--icon-delete);
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li sitna-button.tc-btn-edit {
        --sitna-icon-text: '\e92a';
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li sitna-button.tc-btn-save {
        --sitna-icon-text: '\2714';
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li sitna-button.tc-btn-cancel {
        --sitna-icon-text: var(--icon-close);
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li sitna-button.tc-btn-export {
        --sitna-icon-text: var(--icon-download);
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li sitna-button.tc-btn-share {
        --sitna-icon-text: var(--icon-share);
    }

input#tc-ctl-geolocation-track-available-srch {
    width: 100%;
    height: 2em;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-search-icon {
    position: relative;
    margin-top: 4px;
    right: 0.7em;
    color: var(--sitna-minimal-button-text-color);
    font-style: normal;
    width: 1em;
    height: 1em;
    float: right;
    top: 20px;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-search-icon:before {
        font-family: var(--sitna-icon-font-family);
        font-size: calc(var(--sitna-icon-font-grid-size) / 2);
        content: var(--icon-search);
    }

.tc-ctl-geolocation .tc-ctl-geolocation-track-title, .tc-ctl-geolocation .tc-ctl-geolocation-track-waypoint {
    width: 82%;
    margin-bottom: 0.5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-current sitna-button {
    width: 18%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-add-wpt {
    --sitna-icon-text: var(--icon-placemark);
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-import > input[type="file"] {
    width: 100%;
}

.tc-ctl-geolocation div.tc-ctl-geolocation-track-render {
    padding-top: 0.3em;
    text-align: left;
    float: left;
    padding-bottom: 0.3em;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-panel-block {
    display: flex;
    margin: 1em 0 0 0;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-panel-span {
    padding: 0 0.5em;
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li.tc-checked {
    /*background: repeating-linear-gradient( -45deg, rgba(224, 224, 224, 0.3), rgba(255, 217, 217, 0.7) 1px, #fff 0px, #fff 5px );*/
    /*background: repeating-linear-gradient( -45deg, #F0EFEF, #F0EFEF 1px, #fff 1px, #fff 10px );*/
    color: var(--list-hl-color);
    background-color: var(--list-hl-bg-color);
}

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li:not(.tc-checked) div.tc-ctl-geolocation-tools-active {
    transition: height 0.3s ease;
    height: 0;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li:not(.tc-checked) div.tc-ctl-geolocation-tools-active * {
        visibility: hidden;
    }

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li.tc-checked div.tc-ctl-geolocation-tools-active {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clear: both;
    transition: height 0.3s linear;
    height: 2.1em;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li.tc-checked div.tc-ctl-geolocation-tools-active sitna-toggle {
        font-size: 1.2em;
    }

.tc-ctl-geolocation-track-warning {
    display: flex;
    justify-content: center;
}

    .tc-ctl-geolocation-track-warning > sitna-toggle {
        vertical-align: middle;
        margin-bottom: 0.1em;
    }

/*
#track-chart {
    min-width: 1em;
    padding-right: 1em;
    background-color: rgba(255,255,255, 0.6);
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    right: 1.8em;
    display: none;
}
*/

div.tc-ctl-geolocation-track-snap-info {
    display: none;
    visibility: visible;
    background-color: var(--overlay-bg-color);
    color: var(--overlay-color);
    padding: 0.3em;
    border: 0.1em solid var(--overlay-border-color);
    border-radius: var(--sitna-border-radius);
    font-size: 11px;
}

    div.tc-ctl-geolocation-track-snap-info p {
        margin: 0.2em;
    }

    div.tc-ctl-geolocation-track-snap-info ul {
        margin: 0;
        padding: 0 0.8em 0 0.8em;
        list-style-type: none;
    }

        div.tc-ctl-geolocation-track-snap-info ul li {
            padding: 0.2em 0em 0.2em 0em;
            text-transform: uppercase;
        }

            div.tc-ctl-geolocation-track-snap-info ul li span {
                font-weight: bold;
            }

                div.tc-ctl-geolocation-track-snap-info ul li span.tc-original {
                    color: var(--track-profile-original-color);
                }

                div.tc-ctl-geolocation-track-snap-info ul li span.tc-mdt {
                    color: var(--track-profile-mdt-color);
                }

.tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li, .tc-modal .tc-crs-list > li {
    padding: 0.25em 0 0.2em 0.5%;
    border-bottom: 0.1em solid var(--sec-divider-color);
    overflow: hidden;
    line-height: 2em;
    box-sizing: content-box;
}

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li:last-of-type {
        border-bottom: none;
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li > div.tc-ctl-geolocation-tools-always input {
        flex-basis: calc(100% - 5em);
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li.tc-checked sitna-button[variant="minimal"] {
        --sitna-minimal-button-background-color: color-mix(in hsl, var(--list-hl-bg-color) 85%, var(--text-main-color));
        --sitna-disabled-button-text-color: color-mix(in hsl, var(--list-hl-bg-color) 80%, var(--text-main-color));
        --sitna-disabled-button-background-color: color-mix(in hsl, var(--list-hl-bg-color) 90%, var(--text-main-color));
        --sitna-disabled-button-border-color: color-mix(in hsl, var(--list-hl-bg-color) 90%, var(--text-main-color));
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim {
        flex-grow: 2;
    }

    .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim sitna-button {
        margin: 0 0.2em;
    }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-stop {
            --sitna-icon-font-family: FontAwesome;
            --sitna-icon-text: "\f04d";
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-pause {
            --sitna-icon-font-family: FontAwesome;
            --sitna-icon-text: "\f04c";
        }


        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-pause.tc-play {
            --sitna-icon-font-family: FontAwesome;
            --sitna-icon-text: "\f04b";
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-forward {
            --sitna-icon-font-family: FontAwesome;
            --sitna-icon-text: "\f04e";
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-btn-backward {
            --sitna-icon-font-family: FontAwesome;
            --sitna-icon-text: "\f04a";
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > .tc-spn-speed {
            font-weight: bold;
            font-family: Arial;
            font-size: 85%;
            color: var(--text-sec-color);
            text-decoration: none;
            cursor: auto;
            white-space: nowrap;
        }

        .tc-ctl-geolocation .tc-ctl-geolocation-track-available-lst > li div.tc-ctl-geolocation-tools-sim > select.tc-sel-speed {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

table.tc-ctl-geolocation-info-tracking {
    margin: 0.5em auto;
    height: 3.3em;
}

    table.tc-ctl-geolocation-info-tracking td {
        border: none;
    }

.tc-ctl-rpanel-table table.tc-ctl-geolocation-info-tracking tbody tr:nth-child(odd) {
    background: none;
}

.tc-ctl-rpanel-table table.tc-ctl-geolocation-info-tracking tbody tr:nth-child(even) {
    background: none;
}

.tc-ctl-rpanel-table table.tc-ctl-geolocation-info-tracking tbody tr {
    cursor: default; /* initial no funciona en IE */
}

.tc-ctl-rpanel-table table.tc-ctl-geolocation-info-tracking {
    color: rgba(69, 69, 69, 0.9);
    line-height: 0.5em;
}

/* GPS y rutas - mostrar NOVEDAD en 3D */
.tc-ctl-geolocation.tc-3d h2 span.tc-beta {
    visibility: visible;
    opacity: 1;
    display: inline-block;
}
