.tc-ctl-load {
    position: absolute;
    bottom: 2em;
    left: 50%;
    width: 80px;
    height: 20px;
    opacity: 0.7;
    z-index: 10007;
}

.tc-map.tc-ctl-prnmap-printing .tc-ctl-load {
    position: fixed;
    z-index: 100110;
}

.tc-ctl-load-bar {
    position: relative;
    left: -100%;
    top: 0px;
    width: 160px;
    height: 20px;
}

.tc-ctl-load-dots {
    position: absolute;
    top: 0;
    background-color: var(--main-hl-color);
    width: 20px;
    height: 20px;
    -webkit-animation-name: bounce-fading-bar;
    -webkit-animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-name: bounce-fading-bar;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: scale(.3);
}

.tc-ctl-load-dot1 {
    left: 0;
    -webkit-animation-delay: 0.52s;
    animation-delay: 0.52s;
}

.tc-ctl-load-dot2 {
    left: 20px;
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

.tc-ctl-load-dot3 {
    left: 40px;
    -webkit-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

.tc-ctl-load-dot4 {
    left: 60px;
    -webkit-animation-delay: 0.91s;
    animation-delay: 0.91s;
}

.tc-ctl-load-dot5 {
    left: 80px;
    -webkit-animation-delay: 1.04s;
    animation-delay: 1.04s;
}

.tc-ctl-load-dot6 {
    left: 100px;
    -webkit-animation-delay: 1.17s;
    animation-delay: 1.17s;
}

.tc-ctl-load-dot7 {
    left: 120px;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.tc-ctl-load-dot8 {
    left: 140px;
    -webkit-animation-delay: 1.43s;
    animation-delay: 1.43s;
}
