
.tc-ctl-mod-btn {
    display: flex;
    gap: 0.2em;
}

.tc-ctl-mod-style-label {
    margin-bottom: 0.5em;
    text-align: center;
    transition: all linear 0.3s;
}

    .tc-ctl-mod-style-label.tc-hidden {
        padding-top: 0;
        display: block;
        height: 0;
    }

.tc-ctl-mod .tc-ctl-mod-txt {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.tc-ctl-mod .tc-ctl-mod-btn > sitna-button {
    position: relative;
    display: inline-block;
    height: 2em;
    vertical-align: top;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    width: 25%;
    font-size: calc(var(--sitna-icon-font-grid-size) / 2);
}

.tc-ctl-mod .tc-ctl-mod-btn > button.tc-ctl-btn[disabled] {
    cursor: default;
}

.tc-ctl-mod-btn-select {
    --sitna-icon-text: var(--icon-select);
}

.tc-ctl-mod-btn-del-vertex {
    --sitna-icon-text: '\e92b';
}

.tc-ctl-mod-btn-delete {
    --sitna-icon-text: var(--icon-erase);
}

.tc-ctl-mod-btn-text {
    --sitna-icon-text: 'A';
}

.tc-ctl-dmm-mod sitna-button.tc-ctl-mod-btn-join,
.tc-ctl-dmm-mod sitna-button.tc-ctl-mod-btn-split {
    display: none;
}