.autocomplete-suggestions {
    /*text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);*/
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 100011;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    /*Estilos propios*/
    font-size:14px;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 95%; color: #333; cursor:pointer; }
.autocomplete-suggestion {
    border-bottom: 0.15em solid rgba(90, 117, 134, 0.3)
}
    .autocomplete-suggestion:last-child{
        border: none
    }
    .autocomplete-suggestion b {
        font-weight: bold;
        color: #971414;

    }
    .autocomplete-suggestion.selected {
        font-weight: bold;
    }
