.tc-ctl-bms {
    z-index: 10004;
}

ul.tc-ctl-bms-branch {
    list-style-type: none;
    margin: 0.5em 0 0 0;
    padding: 0;
}

.tc-ctl-bms-more-dialog div.tc-modal-body {
    min-width: 14em;
    min-height: 12em;
}

.tc-ctl-bms-more-dialog ul.tc-ctl-bms-branch > li {
    width: 4.8rem;
}

.tc-ctl-bms-more-dialog h2 {
    display: none;
}

.tc-ctl-bms-node label {
    position: relative;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    border: 0.3em solid #ccc;
    border-radius: 0.3em;
    border-radius: var(--border-radius);
    height: 4rem;
    width: 4rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .tc-ctl-bms-node label span {
        position: absolute;
        display: block;
        margin: 0;
        padding-top: 0.6rem;
        top: -0.3em;
        left: -0.3em;
        text-shadow: 0.1em 0.1em 0 #fff, 0.1em -0.1em 0 #fff, -0.1em 0.1em 0 #fff, -0.1em -0.1em 0 #fff;
        height: 3.36rem;
        width: 4rem;
    }

.tc-ctl-bms-more-dialog .tc-ctl-bms-node label span {
    text-shadow: #fff -0.06rem 0, #fff 0rem 0.08rem, #fff 0.08rem 0, #fff 0rem -0.06rem, #fff 0.06rem 0.08rem;
}

.tc-ctl-bms-node input[type=radio] ~ span {
    border: 0.3em solid #ccc;
    border-radius: 0.3em;
    border-radius: var(--border-radius);
}

.tc-ctl-bms-node input[type=radio]:checked ~ span {
    cursor: default;
    border-color: #c00;
    border-color: var(--main-hl-color);
}

.tc-ctl-bms-node input[type=radio].tc-disabled ~ span:after {
    position: absolute;
    font-family: mapskin;
    content: '\e0a4';
    bottom: 0;
    right: 0;
    text-shadow: none;
    font-size: 1.2em;
    background-color: #fff;
    background-color: var(--main-bg-color);
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    border-top-left-radius: 0.2em;
}

.tc-ctl-bms-more-dialog ul.tc-ctl-bms-branch {
    max-width: calc(4.8rem * 8);
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

.tc-ctl-bms-more-node:after {
    content: "\f0fe";
    font-family: 'FontAwesome';
    position: absolute;
    color: #666666;
    font-size: 3em;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
}

.tc-modal.tc-threed li.tc-ctl-bms-node input[type=radio].tc-disabled ~ span:after,
.tc-ctl-bms.tc-threed li.tc-ctl-bms-node input[type=radio].tc-disabled ~ span:after {
    font-family: 'Segoe UI Symbol'; /* Requerido por FF */
    content: '\01F6AB';
    font-weight: bold;
}

.tc-modal.tc-threed li.tc-ctl-bms-node input[type=radio].tc-disabled ~ span,
.tc-ctl-bms.tc-threed li.tc-ctl-bms-node input[type=radio].tc-disabled ~ span {
    cursor: default;
}

ul.tc-ctl-bms-branch > li {
    display: inline-block;
    font-size: 0.63rem;
    width: 25%;
    margin: 0;
    vertical-align: top;
    text-align: center;
    padding: 0.5em 0 0 0;
}

li.tc-ctl-bms-node.tc-hidden {
    display: none;
}

.tc-ctl-bms-name {
    font-weight: bold;
}

ul.tc-ctl-bms-branch input[type=radio] {
    display: none;
}

    ul.tc-ctl-bms-branch input[type=radio]:checked + div {
        background-color: #c00;
        background-color: var(--main-hl-color);
        border: 1px solid #c00;
        border-color: var(--main-hl-color);
    }

@media screen and (min-width: 42em) {
    div.tc-modal-window.tc-ctl-bms-more-dialog {
        max-width: none;
    }
}
