.tc-ctl-bms {
    z-index: 10004;
}

ul.tc-ctl-bms-branch {
    list-style-type: none;
    margin: 0.5em 0 0 0;
    padding: 0;
}

.tc-ctl-bms-node label {
    position: relative;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    border: 0.3em solid #ccc;
    border-radius: 0.3em;
    width: 6.25em;
    height: 6.25em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .tc-ctl-bms-node label span {
        position: absolute;
        display: block;
        margin: 0;
        padding-top: 1em;
        top: -0.3em;
        left: -0.3em;
        text-shadow: 0.1em 0.1em 0 #fff, 0.1em -0.1em 0 #fff, -0.1em 0.1em 0 #fff, -0.1em -0.1em 0 #fff;
        width: 6.25em;
        height: 5.25em;
    }

.tc-ctl-bms-node input[type=radio] ~ span {
    border: 0.3em solid #ccc;
    border-radius: 0.3em;
}

.tc-ctl-bms-node input[type=radio]:checked ~ span {
    cursor: default;
    border-color: #c00;
}

.tc-ctl-bms-node input[type=radio].tc-disabled ~ span:after {
    position: absolute;
    font-family: mapskin;
    content: '\e0a4';
    bottom: 0;
    right: 0;
    text-shadow: none;
    font-size: 1.2em;
    background-color: #fff;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    border-top-left-radius: 0.2em;
}

ul.tc-ctl-bms-branch > li {
    display: inline-block;
    font-size: 0.8em;
    width: 25%;
    margin: 0;
    vertical-align: top;
    text-align: center;
    padding: 0.5em 0 0 0;
}

.tc-ctl-bms-name {
    font-weight: bold;
}

ul.tc-ctl-bms-branch input[type=radio] {
    display: none;
}

    ul.tc-ctl-bms-branch input[type=radio]:checked + div {
        background-color: #c00;
        border: 1px solid #c00;
    }

