@keyframes slow-fadeout {
    0% {
        opacity: 0.7;
        visibility: visible;
    }

    63% {
        opacity: 0.7;
        visibility: visible;
    }

    99% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.tc-ctl-coords {
    position: absolute;
    height: 25px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    overflow: hidden;
    background-color: #fff;
    opacity: 0.7;
    z-index: 9999;
    font-family: Arial, helvetica, sans-serif;
    font-size: 0.7em;
    padding: 0.2em;
    color: #999;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    
    top: 50%;
    right: 0;
    left: auto;
    -ms-transform: translate(45%, -50%) rotate( -90deg );
    -webkit-transform: translate(45%, -50%) rotate( -90deg );
    -moz-transform: translate(45%, -50%) rotate( -90deg );
    transform: translate(45%, -50%) rotate( -90deg );

    border-top: 1px solid #ccc;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

/* en horizontal (en desktop siempre da true) pasamos arriba el control de coordenadas. Por defecto está en el lateral */
@media screen and (orientation: landscape) {

    .tc-ctl-coords {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: none;
        
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 9999;        
    }
}

/* con el ancho suficiente en móviles (por ejemplo: ipad en vertical) pasamos arriba el control de coordenadas. Por defecto está en el lateral */
@media screen and (min-width: 30em) {

    .tc-ctl-coords {
        top: 0;
        opacity: 0.7;
        left: 0;
        right: 0;
        margin: auto;
        transform: none;
        
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 9999;        
    }
}

@media screen and (min-height: 40em) and (pointer: fine),screen and (min-height: 40em) and (-ms-high-contrast: none), screen and (min--moz-device-pixel-ratio:0) and (min-height: 40em) {
    .tc-ctl-coords {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: none;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;        
    }
}
    .tc-ctl-coords.tc-fading {
        animation: slow-fadeout 8s;
    }

    .tc-ctl-coords.tc-hidden {
        animation: none;
        visibility: hidden;        
    }

.tc-map.tc-collapsed .tc-ctl-coords {
    display: none;
}

.tc-ctl-coords div {
    padding: 0;
    display: inline-block;
    line-height: 20px;
}

div.tc-ctl-coords-xy {
    padding: 0 0 0 0.5em;
    margin: auto;
}

.tc-ctl-coords-crs, .tc-ctl-coords-geocrs, .tc-ctl-coords-x, .tc-ctl-coords-y, .tc-ctl-coords-lat, .tc-ctl-coords-lon, .tc-ctl-coords-elevation {
    color: var(--text-main-color);
    font-size: 1em;
}

.tc-ctl-coords span.close {
    color: var(--win-btn-color);
    height: 2em;
    margin: 0 0.3em 0 0.5em;
}

    .tc-ctl-coords span.close:after {
        content: '\2716';
    }

button.tc-ctl-coords-crs {
    border: 0.1em solid #666;
    border-radius: 0.2em;
    background-color: transparent;
    padding: 0.1em 0.2em;
    margin-right: 0.5em;
}

.tc-ctl-coords .tc-active span.tc-ctl-coords-crs {
    display: none;
}

.tc-ctl-coords.tc-3d span.tc-ctl-coords-crs {
    display: inline;
}

.tc-ctl-coords.tc-3d button.tc-ctl-coords-crs {
    display: none;
}

button.tc-ctl-coords-crs:before {
    font-family: mapskin;
    content: '\e01a';
    margin-right: 0.3em;
}

.tc-ctl-coords-alt {
    margin-left: 0.5em;
}

    .tc-ctl-coords-alt:before {
        content: '\2022';
        margin-right: 0.5em;
    }

.tc-ctl-coords-x, .tc-ctl-coords-y {
    width: 4.8em;
    display: inline-block;
}

.tc-ctl-coords-lat, .tc-ctl-coords-lon {
    width: 4.8em;
    display: inline-block;
}

.tc-ctl-coords-elevation {
    width: 3.8em;
    display: inline-block;
}

.tc-ctl-coords-threed {
    background-image: url(../img/marker2_32.png);
}

.tc-ctl-coords-cur-crs-name, .tc-ctl-coords-cur-crs-code {
    font-weight: bold;
}

.tc-ctl-coords-change p.tc-msg-warning {
    font-style: italic;
    transition: all .3s ease;
}

    .tc-ctl-coords-change p.tc-msg-warning.tc-hidden {
        opacity: 0;
        height: 0;
    }

.tc-ctl-coords-change span.tc-msg-warning:after {
    font-family: mapskin;
    font-style: normal;
    color: #999;
    content: '\e0a4';
    margin-left: 0.5em;
}

.tc-ctl-coords-icon-cross {
    left: 50%;
    top: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    background-image: url(../img/crosshair.svg);
}
