
.tc-ctl-dmm .tc-hidden {
    display: none;
}

.tc-ctl-dmm .tc-ctl-meas-select.tc-hidden {
    margin-top: 0.5em;
}

.tc-ctl-dmm .tc-ctl-meas-select label {
    width: calc(33.33% - 1px);
}
.tc-ctl-dmm .tc-ctl-meas-select label:first-of-type {
    width: 33.33%
}
.tc-ctl-dmm .tc-ctl-dmm-tool {
    display:flex;
}
.tc-ctl-dmm-tool button {
    margin: 0 0.1em 0 0.1em;
    position: relative;
    flex-grow: 1;
    display: inline-block;
    border-radius: 0;
    border: 0;
    height: 2em;
    vertical-align: top;
    text-align: center;
    color: var(--btn-color);
}

    .tc-ctl-dmm-tool button:disabled {
        color: var(--btn-disabled-color);
        background-color: var(--btn-disabled-bg-color);
        border-color: var(--btn-disabled-border-color);
    }

    .tc-ctl-dmm-tool button:first-child {
        margin-left: 0;
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .tc-ctl-dmm-tool button:last-child {
        margin-right:0;
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }


.tc-ctl-dmm .tc-ctl-dmm-mod {
    flex-basis: 60%;
    padding: 0;
}

.tc-ctl-dmm .tc-ctl-dmm-mod > button {
    flex-basis:20%;
}

.tc-ctl-dmm .tc-ctl-mod-btn-delete {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

    .tc-ctl-dmm .tc-ctl-mod-btn-delete:disabled {
        border-right-color: var(--btn-disabled-border-color);
    }

.tc-ctl-dmm .tc-ctl-mod-btn-join, .tc-ctl-dmm .tc-ctl-mod-btn-split, .tc-ctl-dmm .tc-ctl-mod-btn-attr {
    display: none;
}


.tc-ctl-dmm .tc-ctl-mod .tc-ctl-btn:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tc-ctl-dmm-cmd {
    position: absolute;
    top: 0;
    left: 60%;
}

    .tc-ctl-dmm-cmd button {
        width: calc(50% - 0.1em);
        text-indent: -1000vw;
        position: relative;
        margin: 0 0.1em 0 0.1em;
        color: var(--btn-color);
        background-color: var(--btn-bg-color);
        border-color: var(--btn-border-color);
    }

    .tc-ctl-dmm-cmd button:disabled {
        color: var(--btn-disabled-color);
        background-color: var(--btn-disabled-bg-color);
        border-color: var(--btn-disabled-border-color);
    }

