
.tc-ctl.tc-ctl-finfo {
    padding: 0;
}

.tc-ctl-finfo-coords {
    display: inline-block;
    font-size: 0.7em;
    margin: 0 0.8em 0.6em 0;
    cursor: auto;
    user-select: text;
    line-height: 1.5em;
}

    .tc-ctl-finfo-coords.tc-hidden {
        display: none;
    }

.tc-ctl-finfo-coords-pair {
    display: inline-block;
    color: #999;
    white-space: nowrap;
    margin-right: 0.5em;
}

    .tc-ctl-finfo-coords-pair.tc-hidden {
        display: none;
    }

.tc-ctl-finfo-coords-val {
    color: var(--text-main-color);
}

ul.tc-ctl-finfo-services, ul.tc-ctl-finfo-layers, ul.tc-ctl-finfo-features {
    padding: 0;
    margin: 0;
}

    ul.tc-ctl-finfo-services > li {
        width: 100%;
    }

    ul.tc-ctl-finfo-services > li, ul.tc-ctl-finfo-layers > li, ul.tc-ctl-finfo-features > li {
        list-style-type: none;
        display: inline-block;
    }

.tc-ctl-finfo .tc-ctl-finfo-result h3 {
    font-size: 1em;
    border-bottom: 1px solid #ccc;
    margin: 0 0.2em 0.5em 0;
}

.tc-ctl-finfo .tc-ctl-finfo-result h4 {
    font-size: 0.9em;
    margin: 0 0 0.5em 0;
    color: var(--title-color);
    text-shadow: 0 0 0.3em #fff;
}

.tc-ctl-finfo .tc-ctl-finfo-result h5 {
    display: none;
}

.tc-ctl-finfo .tc-ctl-finfo-result table {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

.tc-ctl-finfo .tc-ctl-finfo-result pre, .tc-ctl-finfo .tc-ctl-finfo-result iframe {
    border: 0.2em var(--cell-odd-bg-color) solid;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

.tc-ctl-finfo .tc-ctl-finfo-layer-content {
    overflow-x: hidden;
}

.tc-ctl-finfo .tc-ctl-finfo-result table {
    margin: 0.5em;
}

.tc-ctl-finfo .tc-ctl-finfo-result pre {
    width: 40vw;
    background-color: var(--main-bg-color);
    margin: 0;
}

.tc-ctl-finfo .tc-ctl-finfo-result iframe {
    width: 40vw;
    height: 40vh;
    background-color: var(--main-bg-color);
    /*border:0;
    box-shadow: none;
    display: block;*/
}

    .tc-ctl-finfo .tc-ctl-finfo-result iframe.tc-video-attr {
        border: none;
    }

video.tc-video-attr, img.tc-img-attr {
    object-fit: scale-down;
    max-width: calc(min(30em, 100vw));
    max-height: calc(min(30em, 100vh));
    margin: auto;
}

.tc-ctl-finfo-val.tc-img-attr, .tc-ctl-finfo-val.tc-video-attr, .tc-ctl-finfo-val.tc-img-attr, .tc-ctl-finfo-val.tc-embed-attr, .tc-ctl-finfo-val.tc-audio-attr {
    overflow-x: auto;
    max-width: calc(41vw - 3em);
    padding: 0;
}
.tc-ctl-finfo-val.tc-embed-attr iframe.tc-embed-attr, .tc-ctl-finfo-val.tc-audio-attr audio {
    border: 0;
    box-shadow: none;
    display: block;
}
.tc-ctl-finfo-val.tc-audio-attr audio {
    display: block;
    margin: 0 auto;
}

.tc-ctl-finfo-val.tc-embed-attr div{
    padding:0.3em 0 0 0.3em;
}

img.tc-img-attr {
    cursor: pointer;
    display: block;
}

video.tc-video-attr {
    display: block;
    cursor: default;
}

iframe.tc-video-attr,
.tc-ctl-finfo-result iframe.tc-video-attr {
    display: block;
    border: none;
    max-width: calc(min(30em, 100vw));
    max-height: calc(min(30em, 100vh));
    margin: auto;
}

a.tc-embed-attr {
    cursor: pointer;
}

iframe.tc-embed-attr {
    margin-top: 6px;
    border: 0.2em #eee solid;
}

audio.tc-audio-attr {
    cursor: default;
}

.tc-ctl-finfo .tc-ctl-finfo-share-dialog h2 {
    display: none;
}

.tc-ctl-finfo-share-dialog .tc-modal-body {
    font-size: 0.8em;
}

.tc-ctl-finfo-empty {
    font-style: italic;
    color: var(--disabled-text-color);
    padding: 0.5em;
    background-color: var(--main-bg-color);
    list-style-type: none;
    box-sizing: border-box;
    border-radius: 0.2em;
}

.tc-ctl-finfo .tc-ctl-finfo-layer-n {
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.6em;
    text-align: center;
    font-size: 0.67em;
    font-weight: normal;
    background-color: var(--main-hl-color);
    color: var(--btn-hl-color);
    vertical-align: top;
}

.tc-ctl-finfo-btn-prev, .tc-ctl-finfo-btn-next {
    display: none;
}

.tc-ctl-finfo .tc-ctl-finfo-features pre {
    cursor: text;
}

.tc-ctl-finfo ul.tc-ctl-finfo-features li {
    position: relative;
}

    .tc-ctl-finfo ul.tc-ctl-finfo-features li table {
        transition: border .3s ease;
    }

    .tc-ctl-finfo ul.tc-ctl-finfo-features li.tc-checked table {
        cursor: zoom-in;
        outline: 0.2em var(--main-hl-color) solid;
    }

/* Para hacer sitio al botón de herramientas */
/*URI: Creo que esto sobra*/
/*.tc-ctl-finfo-features tr:nth-child(1) td.tc-ctl-finfo-val {
    padding-right: 2.1em;
}*/

.tc-ctl-finfo-counter {
    display: none;
}

.tc-ctl-finfo-elev:before {
    margin-right: 0.5em;
    font-family: sitna;
    content: '\e918';
}

.tc-ctl-finfo-height:before {
    margin-right: 0.5em;
    font-family: sitna;
    content: '\e919';
}

div.tc-3d .tc-ctl-finfo-coords-pair.tc-ctl-finfo-elev:before, div.tc-3d .tc-ctl-finfo-coords-pair.tc-ctl-finfo-height:before {
    display: inline-block;
    vertical-align: top;
    line-height: normal;
}

.tc-ctl-finfo-val a[target=_blank]:after {
    content: ' \21aa';
}

.tc-ctl-finfo-btn {
    order: 2;
}

    .tc-ctl-finfo-btn button,
    .tc-ctl-finfo-btn label {
        display: inline-block;
        font-size: 1.2em;
        width: 1.2em;
        height: 1.2em;
        line-height: 1.2em;
        padding: 0;
        text-align: right;
        font-size: 1em;
        cursor: pointer;
        overflow: hidden;
    }

        .tc-ctl-finfo-btn button.tc-hidden,
        .tc-ctl-finfo-btn label.tc-hidden {
            display: none;
        }

.tc-icon-btn.tc-ctl-finfo-btn-dl:before {
    font-family: 'sitna';
    content: '\e903';
}

.tc-ctl-finfo-btn input.tc-ctl-finfo-btn-show-all[type=checkbox] {
    display: none;
}

    .tc-ctl-finfo-btn input.tc-ctl-finfo-btn-show-all[type=checkbox] + label {
        display: inline-flex;
    }

        .tc-ctl-finfo-btn input.tc-ctl-finfo-btn-show-all[type=checkbox] + label:before {
            box-sizing: border-box;
            border-radius: calc(var(--border-radius) / 2);
            color: var(--cb-color);
            background-color: var(--cb-bg-color);
            font-family: sitna;
            content: '\e91f';
        }

    .tc-ctl-finfo-btn input.tc-ctl-finfo-btn-show-all[type=checkbox]:checked + label:before {
        content: '\e91e';
        color: var(--cb-checked-color);
        background-color: var(--cb-checked-bg-color);
    }

    .tc-ctl-finfo-btn input.tc-ctl-finfo-btn-show-all[type=checkbox]:checked + label:before {
        color: #ffffff;
        background-color: var(--win-btn-color);
    }

.tc-icon-btn.tc-ctl-finfo-btn-zoom-all:before {
    font-family: 'sitna';
    content: '\e90e';
}

.tc-icon-btn.tc-ctl-finfo-btn-del-all:before {
    font-family: 'sitna';
    content: '\e90d';
}

.tc-modal.tc-ctl-finfo-img-dialog.tc-visible {
    align-items: center;
    display: grid;
    grid-template-areas: "topleft top topright" "left center right" "bottomleft bottom bottomright";
    background-color: rgba(0,0,0,0.8);
    cursor: zoom-out;
}

.tc-modal.tc-ctl-finfo-img-dialog .tc-modal-img {
    display: inherit;
    grid-area: center;
    margin: auto;
    width: auto;
    height: auto;
    /*border-radius: var(--border-radius);*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

    .tc-modal.tc-ctl-finfo-img-dialog .tc-modal-img img {
        object-fit: scale-down;
        max-width: 100vw;
        max-height: 100vh;
        /*border-radius: var(--border-radius);*/
        cursor: zoom-out;
    }
