
.tc-ctl-ftools {
    z-index: 10011;
    display: none;
}

    .tc-ctl-ftools.tc-active {
        display: block;
        animation: slidedown 0.3s;
        transform-origin: top center;
    }

    .tc-ctl-ftools button {
        position: relative;
        text-indent: -1000vw;
        width: 1em;
        height: 1em;
        display: inline-block;
        background-color: transparent;
        color: var(--main-hl-color);
        padding: 0;
        border-width: 0;
        margin-top: 0.5em;
        z-index: 10010;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }

        .tc-ctl-ftools button:focus {
            outline: none;
        }

        .tc-ctl-ftools button:after {
            position: absolute;
            font-size: 1em;
            height: 100%;
            width: 100%;
            text-align: center;
            text-indent: 0;
            vertical-align: middle;
            content: "\2193";
            left: 0;
            top: 0;
        }

        .tc-ctl-ftools button.tc-ctl-ftools-dl-btn:after {
            content: "\2913";
            font-weight: bolder;
        }

        .tc-ctl-ftools button.tc-ctl-ftools-share-btn:after {
            font-family: mapskin;
            content: "\e07b";
        }

        .tc-ctl-ftools button.tc-ctl-ftools-zoom-btn:after {
            font-family: mapskin;
            content: "\e008";
        }

        .tc-ctl-ftools button.tc-ctl-ftools-del-btn:after {
            content: "\2702";
        }

table.tc-ctl-ftools-zoom {
    cursor: zoom-in;
}
