
.tc-ctl-ftools {
    z-index: 10011;
    display: none;
    order: 3;
    flex-grow: 3;
}

    .tc-ctl-ftools.tc-active {
        display: block;
        animation: slidedown 0.3s;
        transform-origin: top center;
    }

    .tc-ctl-ftools button.tc-icon-btn {
        position: relative;
        text-indent: -1000vw;
        width: 1.2em;
        height: 1.2em;
        display: inline-block;
        background-color: transparent;
        color: var(--main-hl-color);
        padding: 0;
        border-width: 0;
        margin-top: 0.15em;
        z-index: 10010;
        transition: all .2s ease;
    }

        .tc-ctl-ftools button.tc-icon-btn:focus {
            outline: none;
        }

        .tc-ctl-ftools button.tc-icon-btn:before {
            position: absolute;
            color: var(--main-hl-color);
            font-size: 1em;
            height: 100%;
            width: 100%;
            text-align: center;
            text-indent: 0;
            vertical-align: middle;
            content: "\2193";
            left: 0;
            top: 0;
        }

        .tc-ctl-ftools button.tc-icon-btn.tc-hidden {
            display: none;
        }

        /* Regla mientras esté aparcada la tarea del botón de perfil */
        .tc-ctl-ftools button.tc-icon-btn.tc-ctl-ftools-prof-btn {
            display: none;
        }

        .tc-ctl-ftools button.tc-ctl-ftools-dl-btn:before {
            font-family: sitna;
            content: "\e902";
        }

        .tc-ctl-ftools button.tc-ctl-ftools-share-btn:before {
            font-family: mapskin;
            content: "\e07b";
        }

        .tc-ctl-ftools button.tc-ctl-ftools-zoom-btn:before {
            font-family: sitna;
            content: "\e91d";
        }

        .tc-ctl-ftools button.tc-ctl-ftools-prof-btn:before {
            font-family: sitna;
            content: "\e920";
        }

        .tc-ctl-ftools button.tc-ctl-ftools-del-btn:before {
            font-family: sitna;
            content: "\e90d";
        }

table.tc-ctl-ftools-zoom {
    cursor: zoom-in;
}
