
.tc-ctl.tc-ctl-fscreen {
    top: calc(1.5em + 2em + 10em + 2em + 0.5em + 2em + 0.5em + 2em + 0.5em); /* margen antes del +, el +, el alto de la barra, el - y el margen inferior, la casita, el margen inferior, btn streetView, el margen inferior */
    position: absolute;
    left: 0.7em;
    padding: 0;
}

.tc-ctl-fscreen {
    width: 2em;
    height: 2em;
}
        .tc-ctl-fscreen button:after {
            content: 'Pantalla completa';
        }        

/* GLS: en Safari IOS no pasa a ocupar toda la pantalla, así que aplicamos por CSS */
html:fullscreen .tc-map {
    height: 100vh;
    width: 100vw;
}

html:-moz-full-screen .tc-map {
    height: 100vh;
    width: 100vw;
}

html:-webkit-full-screen .tc-map {
    height: 100vh;
    width: 100vw;
}

body:fullscreen {
    clip: unset;
}

    body:fullscreen > header {
        display: none;
        height: 0;
    }

    body:fullscreen > div.tc-map {
        top: 0;
        height: 100%;
    }

    body:fullscreen > div.tc-map-3d {
        top: 0;
        height: 100%;
    }

/*.tc-ctl-fscreenToHeader {
    display: none !important;
    height: 0 !important;
}*/

.tc-ctl-fscreenToMap {
    top: 0 !important;
    height: 100% !important;
}
