.tc-ctl-legend {
    overflow: auto;
    z-index: 10004;
    padding: 0;
}

.tc-ctl-legend-nvr {
    font-size: 0.8em;
    color: #999;
    display: none;
}

.tc-ctl-legend-watch {
    display: block;
    vertical-align: middle;
}

.tc-ctl-legend-img {
    width: 2em;
    height: 1.5em;
    margin-left: 0.2em;
    box-sizing: border-box;
}

.tc-ctl-legend-watch img {
    margin: 0.3em 0 0 0.2em;
}

    .tc-ctl-legend-watch img[src=""] {
        margin: 0;
        display: none;
    }

.tc-ctl-legend-node-notvisible, .tc-ctl-legend-node-outofscale, .tc-ctl-legend-node > .tc-ctl-legend-nvr {
    display: none;
}

.tc-ctl-legend.tc-3d li.tc-ctl-legend-node.tc-ctl-legend-node-outofscale {
    display: block;
}

div.tc-ctl-legend-tree li.tc-ctl-legend-empty {
    font-style: italic;
    color: #ccc;
    padding: 0.5em;
    background-color: var(--main-bg-color);
    list-style-type: none;
}

    div.tc-ctl-legend-tree li.tc-ctl-legend-empty.tc-hidden {
        display: none;
    }

ul.tc-ctl-legend-branch {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    transition: all .3s ease;
}

li.tc-ctl-legend-node {
    font-family: Arial, helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0.5em;
    padding: 0 10px;
    border: 1px solid #eee;
    border-radius: var(--border-radius);
    font-size: 0.85em;
}

    li.tc-ctl-legend-node li.tc-ctl-legend-node {
        font-weight: normal;
        border: 0;
    }
