
.tc-ctl-mod {
    display: flex;
}

.tc-ctl-mod-style {
    text-align: center;
}

.tc-ctl-mod .tc-ctl-mod-txt {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.tc-ctl-mod > button {
    display: inline-block;
    height: 2em;
    margin: 0 0.1em 0 0.1em;
    vertical-align: top;
    cursor: pointer;
    flex-grow: 1;
    border: 0;
    text-align: center;
    width: 33.33%;
}

.tc-ctl-mod .tc-ctl-btn:first-child {
    margin-left: 0.05em;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.tc-ctl-mod .tc-ctl-btn:last-child {
    margin-right: 0.05em;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
