
.tc-ctl-mod {
    display: flex;
}

.tc-ctl-mod-style {
    position: absolute;
    margin-top: 2em;
    text-align: center;
}

.tc-ctl-mod .tc-ctl-mod-style.tc-hidden {
    margin-top: -5em;
}

.tc-ctl-mod .tc-ctl-mod-txt {
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.tc-ctl-mod > button {
    position: relative;
    display: inline-block;
    height: 2em;
    margin: 0 0.1em 0 0.1em;
    vertical-align: top;
    cursor: pointer;
    flex-grow: 1;
    border: 0;
    text-align: center;
    width: 33.33%;
}

.tc-ctl-mod .tc-ctl-btn:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.tc-ctl-mod .tc-ctl-btn:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.tc-ctl-mod.tc-ctl-dmm-mod .tc-ctl-btn.tc-ctl-mod-btn-join,
.tc-ctl-mod.tc-ctl-dmm-mod .tc-ctl-btn.tc-ctl-mod-btn-split,
.tc-ctl-mod.tc-ctl-dmm-mod .tc-ctl-btn.tc-ctl-mod-btn-attr {
    display: none;
}

.tc-ctl-mod .tc-ctl-btn.tc-ctl-mod-btn-text.tc-active {
    margin-bottom: 5em;
}

.tc-ctl-mod-attr {
    margin-top: 0.5em;
    max-height: 30em;
    overflow-y: auto;
}

    .tc-ctl-mod-attr h3 {
        display: none;
    }

    .tc-ctl-mod-attr-body table {
        cursor: default;
        width: 100%;
    }

    .tc-ctl-mod-attr-body input {
        box-sizing: border-box;
        width: 100%;
    }

.tc-ctl-mod-attr-footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    padding-top: 1em;
    text-align: right;
}

    .tc-ctl-mod-attr-footer .tc-button {
        margin-left: 0.2em;
    }
