
.tc-ctl.tc-ctl-nav-home {
    top: calc(1.5em + 2em + 10em + 2em + 0.5em); /* margen antes del +, el +, el alto de la barra, el - y el margen inferior */
    position: absolute;
    left: 0.7em;
    padding: 0;
}

.tc-ctl-nav-home .tc-ctl-nav-home-btn {
    position: relative;    
}

    .tc-ctl-nav-home .tc-ctl-nav-home-btn:after {
        width: 100%;
        height: 100%;
        font-size: 1em;
        font-family: sitna;
        content: '\e900';
        line-height: 2em;
        left: 0;
        top: 0;
        position: absolute;
    }

.tc-ctl-nav-home-btn > * {
    display: none;
}