
.tc-ctl.tc-ctl-nav {
    position: absolute;
    top: 1.5em;
    left: 0.7em;
    padding: 0;
}

.tc-ctl-nav .tc-ctl-nav-bar {
    position: relative;
    width: 2em;
    height: 10em;
    font-size: 1em;
    background-color: #ccc;
    z-index: 10002;
    opacity: 0.5;
    cursor: pointer;
}

.tc-ctl-nav .tc-ctl-nav-slider, .tc-ctl-nav-slider.ol-zoomslider-thumb {
    position: absolute;
    z-index: 10003;
    background-color: #000;
    height: 0.5em;
    width: 2em;
    font-size: 1em;
    cursor: move;
}

.olControlPanZoomBar .tc-ctl-nav-slider {
    margin-top: 10px;
}

.tc-ctl-nav .tc-ctl-nav-btn {
    position: relative;
    width: 2em;
    height: 2em;
    font-size: 1em;
    border: 0;
    border-radius: 0.2em;
    background-color: rgba(0, 0, 0, 0.66);
    cursor: pointer;
    z-index: 10002;
}

    .tc-ctl-nav .tc-ctl-nav-btn:after {
        position: absolute;
        width: 1em;
        height: 1em;
        margin: auto;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        line-height: 1em;
    }

.tc-ctl-nav .tc-ctl-nav-btn-zoomin {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tc-ctl-nav .tc-ctl-nav-btn-zoomout {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tc-ctl-nav-btn-zoomout.ol-zoom-out {
    top: 10em;
}

.ol-zoom-extent {
    position: absolute;
    top: 14em;
}

.tc-ctl-nav .tc-ctl-nav-btn-home, .ol-zoom-extent {
    margin-top: 0.2em;
    line-height: 3em;
}

.tc-ctl-nav .tc-ctl-nav-btn-zoomin:after {
    font-size: 2em;
    content: '+';
    top: 0;
    left: 0;
}

.tc-ctl-nav .tc-ctl-nav-btn-zoomout:after {
    font-size: 2em;
    content: '-';
    top: 0;
    left: 0;
}

.tc-ctl-nav .tc-ctl-nav-btn-home:after {
    width: 100%;
    height: 100%;
    font-size: 2em;
    content: '\2302';
    line-height: 1em;
    left: 0;
    top: 0;
}

.tc-ctl-nav-btn > *, .tc-ctl-nav-slider > * {
    display: none;
}

.ol-zoomslider {
    position: absolute;
    height: 10em;
    width: 2em;
    top: 3.5em;
    left: 0.7em;
    font-size: 1em;
    background-color: #ccc;
    z-index: 10002;
    opacity: 0.5;
    cursor: pointer;
}

.tc-map.tc-collapsed .tc-ctl-nav, .tc-map.tc-collapsed .tc-ctl-nav-bar {
    display: none;
}

.tc-threed div.tc-ctl-nav-bar {
    display: none;
}
