
.tc-ctl.tc-ctl-nav {
    top: 1.5em;
    position: absolute;
    left: 0.7em;
    padding: 0;
}

.tc-ctl-nav .tc-ctl-nav-bar {
    position: relative;
    width: 2em;
    top: 2em;
    height: 10em;
    font-size: 1em;
    background-color: #ccc;
    z-index: 10002;
    opacity: 0.5;
    cursor: pointer;
}

/*.olControlPanZoomBar .tc-ctl-nav-slider {
    margin-top: 10px;
}*/

.tc-ctl-nav .tc-ctl-nav-btn {
    position: relative;
    top: -10em;
}

.tc-ctl-nav .tc-ctl-nav-btn-zoomout {
    top: 0em;
}

.tc-ctl-nav .tc-ctl-nav-btn:after {
    position: absolute;
    width: 1em;
    height: 1em;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
}

.tc-ctl-nav .tc-float-btn.tc-ctl-nav-btn-zoomin {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tc-ctl-nav .tc-float-btn.tc-ctl-nav-btn-zoomout {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tc-ctl-nav .tc-ctl-nav-btn-zoomin:after {
    font-size: 2em;
    content: '+';
    top: 0;
    left: 0;
}

.tc-ctl-nav .tc-ctl-nav-btn-zoomout:after {
    font-size: 2em;
    content: '-';
    top: 0;
    left: 0;
}

.tc-ctl-nav .tc-ctl-nav-slider, .tc-ctl-nav-slider.ol-zoomslider-thumb {
    position: absolute;
    z-index: 10003;
    background-color: var(--map-slider-thumb-bg-color);
    height: 0.5em;
    width: 2em;
    font-size: 1em;
    cursor: move;
}

.tc-ctl-nav-btn > *, .tc-ctl-nav-slider > * {
    display: none;
}


.ol-zoomslider {
    position: absolute;
    height: 10em;
    width: 2em;
    font-size: 1em;
    background-color: var(--map-slider-bg-color);
    z-index: 10002;
    opacity: 0.5;
    cursor: pointer;
}

.tc-map.tc-collapsed .tc-ctl-nav, .tc-map.tc-collapsed .tc-ctl-nav-bar {
    display: none;
}

.tc-3d div.tc-ctl-nav-bar {
    display: none;
}

.tc-ctl-prnmap-printing div.tc-ctl-nav-bar {
    display: none;
}
