
.tc-ctl-popup {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    color: var(--overlay-color);
    background-color: var(--overlay-bg-color);
    font-family: Arial, helvetica, sans-serif;
    font-size: 0.95em;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--overlay-border-color);
    margin-top: -41px;
    margin-left: -49px;
    z-index: 10000;
    pointer-events: none;
}

.ol-overlay-container {
    visibility: hidden;
}

.ol-overviewmap-map .ol-overlay-container {
    visibility: visible;
}

.tc-ctl-popup.tc-draggable {
    cursor: move;
}

.tc-ctl-popup:after, .tc-ctl-popup:before {
    opacity: 0.6;
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tc-ctl-popup:after {
    opacity: 0.6;
    border-top-color: #fff;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.tc-ctl-popup:before {
    border-top-color: #ccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.tc-ctl-popup.tc-dragged:after, .tc-ctl-popup.tc-dragged:before {
    display: none;
}

.tc-ctl-popup.tc-drag {
    background-color: rgba(255,255,255,0.4);
}

.tc-ctl-popup.tc-visible {
    position: relative;
    display: flex;
    align-items: stretch;
    width: auto;
    height: auto;
    animation: fadein 0.3s;
    -webkit-animation: fadein 0.3s;
    pointer-events: initial;
}

.tc-ctl-popup-content, .olPopupContent {
    min-width: 48px;
    min-height: 15px;
    -webkit-overflow-scrolling: touch; /* scroll inercial */
    transition: all .3s ease;
}

.tc-ctl-popup-content {
    display: inline-block;
    align-self: flex-start;
    max-height: calc(60vh + 4.5em);
    overflow-x: auto;
}

.tc-ctl-popup-menu {
    display: flex;
    flex-flow: column;
    margin-left: 0.5em;
    width: 1.5em;
    min-width: 1.5em;
}

.tc-ctl-popup h3 {
    font-size: 1em;
    border-bottom: 1px solid #ccc;
    margin: 0 0 0.5em 0;
}

.tc-ctl-popup h4 {
    font-size: 0.9em;
    margin: 0 0.2em 0.5em 0;
    color: var(--title-color);
    text-shadow: 0 0 0.3em #fff;
}

.ol-overlaycontainer-stopevent .tc-ctl-popup {
    bottom: 10px;
}

.tc-ctl-popup table {
    font-size: 0.8em;
    border-collapse: collapse;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
    cursor: default;
    user-select: text;
}

.tc-ctl-popup tr:nth-child(odd) {
    background: var(--cell-odd-bg-color);
}

.tc-ctl-popup tr:nth-child(even) {
    background: var(--cell-even-bg-color);
}

.tc-ctl-popup th, .tc-ctl-popup td {
    text-align: left;
    padding: 0.3em;
}

.tc-icon-btn.tc-ctl-popup-close {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 1em;
    padding: 0;
    margin: 0;
    text-align: center;
}

    .tc-icon-btn.tc-ctl-popup-close:before {
        font-family: sitna;
        content: '\e908';
        margin-right: -0.1em;
        color: var(--win-btn-color);
    }

.tc-ctl-popup .tc-icon-btn.tc-ctl-popup-share:before {
    font-family: sitna;
    content: "\e924";
}

.olPopup th, .olPopup td {
    padding: 0.3em;
    text-align: left;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.tc-ctl-popup .olPopupCloseBox {
    background: transparent;
}

@media screen and (min-height: 40em) and (pointer: fine), screen and (min--moz-device-pixel-ratio:0) and (min-height:40em) {
    .tc-ctl-popup-content {
        max-width: 40vw;
    }
}

/*Pupurri*/

.tc-ctl-popup table.complexAttr {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.tc-ctl-finfo ul.tc-ctl-finfo-features li table.complexAttr {
    box-shadow: none;
}

.tc-ctl-finfo ul.tc-ctl-finfo-features li.tc-checked table.complexAttr, .tc-ctl-finfo ul.tc-ctl-finfo-features li:not(.tc-checked) table.complexAttr,
.tc-ctl-popup table.complexAttr {
    border: none;
}

    .tc-ctl-finfo ul.tc-ctl-finfo-features li table.complexAttr *, .tc-ctl-popup table.complexAttr * {
        background-color: transparent;
        padding: 0;
        box-sizing: border-box
    }

    .tc-ctl-popup table.complexAttr table,
    .tc-ctl-popup table.complexAttr tbody,
    .tc-ctl-popup table.complexAttr table.complexAttr tr,
    .tc-ctl-popup table.complexAttr td {
        width: 100%;
        display: block;
    }

.tc-ctl-finfo ul.tc-ctl-finfo-features li .complexAttr table td, .tc-ctl-popup .complexAttr table td {
    padding: 3px 3px 3px 7px;
}

.tc-ctl-popup .complexAttr input {
    display: none;
}

.tc-ctl-popup .complexAttr label {
    cursor: pointer;
    margin-right: .5em;
    line-height: 1.3em;
}

.tc-ctl-popup .complexAttr input:checked ~ div > table {
    display: inline-block;
}

.tc-ctl-popup .complexAttr input:not(checked) ~ div > table {
    display: none;
}

.tc-ctl-popup .complexAttr table tr {
    border-bottom: solid #999 1px;
}

    .tc-ctl-popup .complexAttr table tr:last-of-type {
        border-bottom: none;
    }

.tc-ctl-popup .complexAttr .title {
    font-weight: bold;
}

.tc-ctl-popup .complexAttr .plus:before {
    font-family: FontAwesome;
    content: "\f0fe";
    font-size: 1em;
}

.tc-ctl-popup .complexAttr input:checked ~ div > .plus:before {
    content: "\f146";
}

.tc-ctl-popup .tc-ctl-finfo ul.tc-ctl-finfo-features li .complexAttr table, .tc-ctl-popup table.complexAttr table, .tc-ctl-popup div.complexAttr table {
    border: solid #999 1px;
    border-radius: 3px;
    box-sizing: border-box;
}

.tc-ctl-popup table.complexAttr .key {
    display: table-cell;
}

.tc-ctl-popup table.complexAttr .value {
    display: table-cell;
}

.tc-ctl-finfo ul.tc-ctl-finfo-features li table.complexAttr th.key, .tc-ctl-popup table.complexAttr th.key {
    padding-right: 0.5em;
    padding-left: 0;
}

.tc-ctl-finfo ul.tc-ctl-finfo-features li table.complexAttr table th.key, .tc-ctl-popup table.complexAttr table th.key {
    padding-left: 0.5em;
}
