.tc-ctl-print-btn {
    display: inline-block;
    font-size: 1.2em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    padding: 0;
    text-align: right;
    cursor: pointer;
    overflow: hidden;
    color: transparent;
    background-color: var(--win-btn-bg-color);
    order: 1;
}

    a.tc-icon-btn.tc-ctl-print-btn:hover, a.tc-icon-btn.tc-ctl-print-btn:active {
        color: transparent;
    }

    .tc-ctl-print-btn:before {
        position: absolute;
        width: 1.2em;
        height: 1.2em;
        font-family: 'sitna';
        content: '\e91b';
        margin-right: 0.2em;
    }