@keyframes showIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes showIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes showOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes showOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

body {
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    stroke: #000;
}

.c3 .c3-axis-x tspan {
    fill: #000;
    font-weight: bold;
}

/*.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: var(--track-profile-original-color);
}*/

.c3 .c3-axis-y tspan {
    /*fill: var(--track-profile-original-color);*/
    font-weight: bold;
}

.c3 .c3-axis-y2 path, .c3 .c3-axis-y2 line {
    stroke: var(--track-profile-mdt-color);
}

.c3 .c3-axis-y2 tspan {
    fill: var(--track-profile-mdt-color);
    font-weight: bold;
}

/* remarcamos la línea de los perfiles porque con el gradiente no se aprecian las diferencias */
.c3-line-ele {
    stroke-width: 1.5px !important;
    stroke: var(--track-profile-original-color) !important;
}

.c3-line-ele2 {
    stroke-width: 1.5px !important;
    stroke: var(--track-profile-mdt-color) !important;
}


.tc-track-chart .tc-track-chart-elevation-minmax {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    font-weight: bold;
    font-size: 10px;
    color: #000;
    height: auto;
    max-height: 22px;
}

.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-track-chart .tc-track-chart-elevation-minmax {
    max-height: 22px;
}

.tc-track-chart-elevationGain, .tc-track-chart-minmax {
    font-weight: bold;
    font-size: 10px;
    color: #000;
    width: 50%;
    display: flex;
}

.tc-track-chart-minmax {
    justify-content: flex-start;
}

.tc-track-chart-elevationGain {
    justify-content: flex-end;
}

span.tc-track-chart-elevationGain {
    width: 100%;
}

.tc-track-chart .tc-track-chart-elevationGain div, .tc-track-chart-minmax div {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
}

    .tc-track-chart .tc-track-chart-elevationGain div span:nth-child(1), .tc-track-chart-minmax div span:nth-child(1) {
        color: var(--track-profile-original-color);
    }

    .tc-track-chart .tc-track-chart-elevationGain div span:nth-child(2), .tc-track-chart-minmax div span:nth-child(2) {
        color: var(--track-profile-mdt-color);
    }

.tc-track-chart p {
    width: 337px;
    color: rgba(0,0,0,0.9);
    font-size: 75%;
}

.c3-tooltip-container {
    z-index: 10;
    width: fit-content;
}

    .c3-tooltip-container > div span {
        color: #000;
        font-weight: bold;
    }

        .c3-tooltip-container > div span[data-isnumber].original {
            color: var(--track-profile-original-color);
        }

        .c3-tooltip-container > div span[data-isnumber].mdt {
            color: var(--track-profile-mdt-color);
        }

            .c3-tooltip-container > div span[data-isnumber].mdt:before {
                content: " - "
            }

    .c3-tooltip-container > div.onBottom span {
        display: block;
    }

    /* la librería c3js añade estilos en línea al tooltip para mostrar/ocultar lo que sobrescribe el display flex, 
    con esta regla sobrescribimos nosotros cuando se muestra el tooltip  */
    .c3-tooltip-container[style*="display: block;"] {
        display: flex !important;
    }

.c3-tooltip-container {
    font-size: 0.9em;
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

    .c3-tooltip-container div.onTop {
        display: inline-block;
        padding: 0.2em;
        background-image: linear-gradient(45deg, #ffffff 25%, #eaeaea 25%, #eaeaea 50%, #ffffff 50%, #ffffff 75%, #eaeaea 75%, #eaeaea 100%);
        background-size: 5.66px 5.66px;
    }

    .c3-tooltip-container div.onBottom {
        margin-top: auto;
        background-image: linear-gradient(45deg, #ffffff 25%, #eaeaea 25%, #eaeaea 50%, #ffffff 50%, #eaeaea 75%, #eaeaea 75%, #eaeaea 100%);
        background-size: 5.66px 5.66px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

.track-elevation-tooltip > span {
    color: #2f2f2f;
    /*font-size: 70%;*/
}

/* estilos de c3.js */
.c3 svg {
    font: 10px sans-serif;
}

.c3 line, .c3 path {
    fill: none;
    stroke: #000;
}

.c3 text {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.c3-bars path, .c3-event-rect, .c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid {
    shape-rendering: crispEdges;
}

.c3-chart-arc path {
    stroke: #fff;
}

.c3-chart-arc text {
    fill: #fff;
    font-size: 13px;
}

.c3-grid line {
    stroke: #aaa;
}

.c3-grid text {
    fill: #aaa;
}

.c3-xgrid, .c3-ygrid {
    stroke-dasharray: 3 3;
}

.c3-text.c3-empty {
    fill: gray;
    font-size: 2em;
}

.c3-line {
    stroke-width: 1px;
}

.c3-circle._expanded_ {
    stroke-width: 1px;
    stroke: #fff;
}

.c3-selected-circle {
    fill: #fff;
    stroke-width: 2px;
}

.c3-bar {
    stroke-width: 0;
}

    .c3-bar._expanded_ {
        fill-opacity: .75;
    }

.c3-target.c3-focused {
    opacity: 1;
}

    .c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
        stroke-width: 2px;
    }

.c3-target.c3-defocused {
    opacity: .3 !important;
}

.c3-region {
    fill: #4682b4;
    fill-opacity: .1;
}

.c3-brush .extent {
    fill-opacity: .1;
}

.c3-legend-item {
    font-size: 10px;
    font-weight: bold;
}

.c3-legend-item-hidden {
    opacity: 0.60;
}

.c3-legend-item-hidden.tc-hidden {
    opacity: 0.60;
}

.c3-legend-item-tile {
    shape-rendering: geometricprecision;
}

.c3-legend-background {
    opacity: 0;
    fill: #fff;
    stroke: #d3d3d3;
    stroke-width: 1;
}

.c3-tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    box-shadow: 7px 7px 12px -9px #777;
    opacity: .9;
}

    .c3-tooltip tr {
        border: 1px solid #CCC;
    }

    .c3-tooltip th {
        background-color: #aaa;
        font-size: 14px;
        padding: 2px 5px;
        text-align: left;
        color: #FFF;
    }

    .c3-tooltip td {
        font-size: 13px;
        padding: 3px 6px;
        background-color: #fff;
        border-left: 1px dotted #999;
    }

        .c3-tooltip td > span {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 6px;
        }

        .c3-tooltip td.value {
            text-align: right;
        }

.c3-area {
    stroke-width: 0;
    opacity: .2;
}

.c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 1.3em;
}

.c3-chart-arcs .c3-chart-arcs-background {
    fill: #e0e0e0;
    stroke: none;
}

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
    fill: #000;
    font-size: 16px;
}

.c3-chart-arcs .c3-chart-arcs-gauge-max, .c3-chart-arcs .c3-chart-arcs-gauge-min {
    fill: #777;
}

.c3-chart-arc .c3-gauge-value {
    fill: #000;
}
/* fin estilos c3.js*/

div.tc-map div.tc-ctl-p-results {
    position: absolute;
    top: 1.5em;
    left: 3em;
    padding: 0;
    max-width: 40%;
    min-width: 225px;
}

.tc-3d > .tc-ctl-p-results {
    min-width: 260px;
}

.tc-ctl-p-results h4 .prcollapsed-slide-submenu:hover {
    cursor: pointer;
}

.tc-ctl-p-results #results {
    font-size: 12px;
}

.tc-ctl-p-results .prpanel-default {
    /* por interactjs*/
    box-sizing: border-box;
}

/* para hacer el panel resizable */

div.tc-map div.tc-ctl-cctr li > div.tc-ctl.tc-ctl-p-results.tc-resizable {
    overflow: visible;
}


.tc-ctl-p-results .prpanel-default {
    display: flex;
    flex-direction: column;
    flex: 1;
}

    .tc-ctl-p-results .prpanel-default.tc-resizable {
        touch-action: none; /*warning de la librería*/
        box-sizing: content-box;
        position: relative;
    }

.tc-ctl-p-results {
    --resize-handler-size: 0.5em;
}



div.tc-map div.tc-ctl-p-results .prpanel.prpanel-default.tc-resizable #results {
    /* tenemos los resize handlers con los bordes */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 3;
}

div.tc-map div.tc-ctl-p-results .prpanel.prpanel-default.tc-resizable .prpanel-heading {
    width: calc(100% + var(--resize-handler-size));
}

.tc-ctl-p-results-resize-handler {
    position: absolute;
    z-index: 1;
    background-color: rgb(243 243 243 / 70%);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

    .tc-ctl-p-results-resize-handler:before {
        content: "=";
        height: var(--resize-handler-size);
        width: var(--resize-handler-size);
        text-align: center;
        color: gray;
        font-weight: bold;
        font-size: 0.8em;
    }

.tc-resizable-grid-handlerRight {
    right: calc(-1 * var(--resize-handler-size)); /*calc(-1 * var(--resize-handler-size))*/
    height: calc(100% - 1.9em);
    width: var(--resize-handler-size);
    bottom: 0;
}

    .tc-resizable-grid-handlerRight:before {
        display: block;
        transform: rotate( 90deg ) translateY(calc(-0.7 * var(--resize-handler-size)));
        position: absolute;
        top: 50%;
    }

.tc-resizable-grid-handlerBottom {
    left: 0;
    bottom: calc(-1 * var(--resize-handler-size));
    width: 100%;
    height: var(--resize-handler-size);
    border-bottom-left-radius: 0.2em;
}

    .tc-resizable-grid-handlerBottom::before {
        display: block;
        transform: translateY(-4px);
        position: absolute;
        left: 50%;
    }

.tc-resizable-grid-handlerDiagonal {
    bottom: calc(-1 * var(--resize-handler-size));
    right: calc(-1 * var(--resize-handler-size));
    height: var(--resize-handler-size);
    width: var(--resize-handler-size);
    border-bottom-right-radius: 0.2em;
}

    .tc-resizable-grid-handlerDiagonal:before {
        bottom: calc(-1 * var(--resize-handler-size));
        right: calc(-1 * var(--resize-handler-size));
        transform: rotate( -45deg ) translate(0px, -6px);
        display: block;
    }

.tc-ctl-p-results .prpanel-default.tc-resizable .prpanel-collapse,
.tc-ctl-p-results .prpanel-default.tc-resizable .prpanel-collapse.collapse.in {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tc-ctl-p-results .prpanel-default.tc-resizable .prpanel-body.list-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tc-ctl-p-results .prpanel-default.tc-resizable .tc-track-chart {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"],
.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] *:not(video) {
    max-height: 100%;
    min-height: unset;
}
    .tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-finfo div.tc-ctl-finfo-layer-content,
    .tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="width"] .tc-ctl-finfo div.tc-ctl-finfo-layer-content {
        display: none;
    }

    .tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-finfo ul.tc-ctl-finfo-layers li.tc-checked div.tc-ctl-finfo-layer-content,
    .tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="width"] .tc-ctl-finfo ul.tc-ctl-finfo-layers li.tc-checked div.tc-ctl-finfo-layer-content {
        display: block;
    }

.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="width"],
.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="width"] *:not(video) {
    max-width: unset;
    min-width: unset;
}

.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable.tc-loading[style*="height"] .tc-ctl-p-results-chart .tc-chart.c3 svg {
    display: none;
}

.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable.tc-loading[style*="width"] .tc-ctl-p-results-chart .tc-chart.c3 svg {
    display: none;
}


.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-p-results-info,
.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-p-results-table,
.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-p-results-chart {
    max-height: 100%;
    min-height: unset;
}

.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="width"] .tc-ctl-p-results-info,
.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="width"] .tc-ctl-p-results-table,
.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="width"] .tc-ctl-p-results-chart {
    max-width: unset;
    min-width: unset;
}

    .tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-p-results-info div.tc-ctl-finfo,
    .tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="width"] .tc-ctl-p-results-info div.tc-ctl-finfo {
        display: table;
    }

.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-p-results-info:empty,
.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-p-results-table:empty,
.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-p-results-chart:empty {
    display: none;
}

.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable[style*="height"] .tc-ctl-p-results-chart .tc-chart.c3 {
    max-height: none !important; /* no hay más remedio porque es un estilo en línea */
    height: calc(100% - 22px ); /* si no, no coge el alto del padre. Restamos el alto del DIV de min/max y desnivel */
    flex-grow: 1;
}

.tc-ctl.tc-ctl-p-results .prpanel.prpanel-default.tc-resizable .prpanel-collapse {
    height: calc(100% - 35px); /*el alto de la cabecera*/
}

.tc-ctl.tc-ctl-p-results .prpanel.prpanel-default.tc-resizable #results {
    height: calc(100% - 35px); /*el alto de la cabecera*/
}

    .tc-ctl.tc-ctl-p-results .prpanel.prpanel-default.tc-resizable .prpanel-collapse .tc-ctl-p-results-chart {
        height: calc(100% - 50px /*del DIV de featureTools*/ ); /*si no, no coge el alto del padre*/
    }

    .tc-ctl.tc-ctl-p-results .prpanel.prpanel-default.tc-resizable .prpanel-collapse .tc-ctl-p-results-info {
        height: calc(100% - 50px /*del DIV de featureTools*/ ); /*si no, no coge el alto del padre*/
    }

.tc-ctl.tc-ctl-p-results .prpanel-default.tc-resizable.tc-loading[style*="height"] .tc-ctl-p-results-chart .tc-chart.c3 {
    max-height: none !important; /* no hay más remedio porque es un estilo en línea */
    height: 0;
}

.tc-ctl.tc-ctl-p-results .prpanel.prpanel-default.tc-resizable.tc-loading .prpanel-collapse {
    height: 0;
}

    .tc-ctl.tc-ctl-p-results .prpanel.prpanel-default.tc-resizable.tc-loading .prpanel-collapse .tc-ctl-p-results-chart {
        height: 0;
    }

.prpanel.prpanel-default.tc-resizable.tc-loading {
    cursor: default;
}

    .prpanel.prpanel-default.tc-resizable.tc-loading:before {
        content: " ";
        border-radius: 50%;
        box-shadow: #ccc 6em 0 0 0, #ccc 4.243em 4.243em 0 0, #ccc 0 6em 0 0, #ccc -4.243em 4.243em 0 0, #ccc -6em 0 0 0, #ccc -4.243em -4.243em 0 0, #ccc 0 -6em 0 0, #ccc 4.243em -4.243em 0 0;
        position: absolute;
        width: 3em;
        height: 3em;
        background-color: transparent;
        left: 50%;
        top: 50%;
        margin-left: -1.5em;
        margin-top: -1.5em;
        font-size: 0.3em;
        animation: spin 2s infinite linear;
        z-index: 4;
    }


/* fin para hacer el panel resizable */

.tc-ctl.tc-ctl-p-results .prpanel.prpanel-default.tc-resizable.tc-loading .prpanel-collapse .tc-ctl-p-results-chart {
    opacity: 0;
}

.tc-ctl-p-results .prpanel {
    background-color: rgba(255,255,255,0);
}

.prpanel-group .prpanel {
    border: 0;
    margin-bottom: 0;
    border-radius: 4px;
}

.prpanel-default > .prpanel-heading > h4 {
    margin: 0;
}

.prpanel-heading {
    height: 2em;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border-color: #ddd;
    border-bottom: 0;
    line-height: 2em;
    padding: 0em 0em 0em 0.5em;    
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    z-index: 2;    
    box-sizing: border-box;
}

.prpanel-default > .prpanel-heading > .prpanel-title > a {
    color: #fff;
    text-decoration: none;
}

.prcollapsed-pull-right {
    float: right !important;
}

.prcollapsed-pull-left {
    float: left !important;
}

.prcollapsed .fa {
    color: #fff;
}

.prcollapsed {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.66);
    border: 0;
    border-radius: 0.2em;
    line-height: 2.1em;
    width: 2em;
    height: 2em;
    text-align: center;
    font-family: FontAwesome;
}

div.prcollapsed-samehw {
    line-height: 2em;
    width: 2em;
    height: 2em;
    font-size: 100%;
}

div.prpanel-heading-samehw {
    line-height: 2em;
    height: 2em;
}

.tc-ctl-p-results .table {
    width: 100%;
    display: block;
}

.prcollapsed:hover {
    cursor: pointer;
}

.prcollapsed::before {
    color: white;
}

.prcollapsed.table::before {
    content: '\f022';
}

.prcollapsed.chart::before {
    font-family: sitna;
    content: '\e920';
}

.tc-ctl-p-results #results {
    font-size: 12px;
    background-color: rgba(255,255,255,.7);
}

.collapse.in {
    min-width: 225px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.collapse {
    display: none;
}

.prpanel-group .panel {
    border: 0;
}

.prpanel-title {
    font-size: 14px;
}

.tc-ctl-p-results #results {
    font-size: 12px;
}

.tc-ctl-p-results .prpanel-group .prpanel {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tc-ctl-p-results #results {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.tc-ctl-p-results .prpanel-body {
    padding: 5px 10px 10px 10px;
    /*padding: 5px 10px 15px 10px*/
}

.tc-ctl-p-results .tc-ctl.tc-ctl-draw {
    padding: 0.5em;
    width: 100%;
}

.tc-ctl-p-results .prpanel-body div.tc-chart svg[style] {
    overflow: visible !important;
}

.prpanel-default > .prpanel-heading + .prpanel-collapse > .prpanel-body {
    border-top-color: #ddd;
}

.prpanel > .list-group, .prpanel > .prpanel-collapse > .list-group {
    margin-bottom: 0;
}

.tc-ctl-p-results-menu {
    order: 99;
    text-align: right;
    display: flex;
    align-items: center;
    /*border-top: 1px solid var(--main-divider-color);*/
    padding: 0.3em;
}

    .tc-ctl-p-results-menu:empty {
        padding: 0;
        border-top: none;
    }

    .tc-ctl-p-results-menu .tc-ctl-ftools {
        padding-right: 0.5em;        
    }

.tc-ctl-p-results .tc-ctl-p-results-info {
    width: 100%;
    display: block;
}

    .tc-ctl-p-results .tc-ctl-p-results-info h3 {
        font-size: 1em;
        border-bottom: 1px solid #ccc;
        margin: 0.9em 0 0.5em 0.3em;
    }

    .tc-ctl-p-results .tc-ctl-p-results-info .tc-ctl-finfo h3 {
        margin: 0em 0 0.5em 0;
    }

    .tc-ctl-p-results .tc-ctl-p-results-info h4 {
        margin: 0.5em 0.5em 0em 0.5em;
    }

    .tc-ctl-p-results .tc-ctl-p-results-info .tc-ctl-finfo h4 {
        margin: 0;
    }

    .tc-ctl-p-results .tc-ctl-p-results-info table.tc-attr {
        width: calc(100% - 1.6em);
        margin: 0.8em;
    }

div.tc-3d .tc-ctl-p-results .tc-ctl-p-results-table {
    flex-direction: column;
}

    div.tc-3d .tc-ctl-p-results .tc-ctl-p-results-table h3 {
        margin: 0.6em 0.3em;
        font-size: 1.1em;
        width: calc(100% - 2.2em);
    }

    div.tc-3d .tc-ctl-p-results .tc-ctl-p-results-table h4 {
        margin: 0 0 0.3em 0.3em;
    }

    div.tc-3d .tc-ctl-p-results .tc-ctl-p-results-table table {
        width: 100%;
    }

        div.tc-3d .tc-ctl-p-results .tc-ctl-p-results-table table.tc-ctl-geolocation-info-tracking {
            width: auto;
        }

.tc-ctl-p-results div.tc-ctl-finfo {
    display: block;
    max-width: 100%;
    /* provisional */
    /*padding: 0.4em;*/
    padding: 0.4em 0.4em 0 0.4em;
    opacity: 0.9;
}

.tc-ctl-p-results .tc-ctl-finfo iframe {
    height: auto;
}

.tc-ctl-p-results .tc-ctl-p-results-info {
    width: 100%;
}

.tc-ctl-p-results-table {
    width: 100%;
    overflow: auto;
}

.tc-ctl-p-results .tc-ctl-finfo-coords {
    margin-bottom: 1em;
    font-size: 0.887em;
}

.tc-ctl-p-results-info tr:nth-child(odd) {
    background: #eee;
}

.tc-ctl-p-results-info tr:nth-child(even) {
    background: #fff;
}

.tc-ctl-p-results-table th, .tc-ctl-p-results-table td, .tc-ctl-p-results-info th, .tc-ctl-p-results-info td {
    text-align: left;
    padding: 0.3em;
}

.tc-ctl-p-results .tc-ctl-p-results-info h4 {
    font-size: 1.2em;
    color: #666;
    font-weight: bold;
    text-overflow: clip;
    overflow: auto;
    white-space: normal;
}

.prpanel-body {
    position: relative; /* para que la impresora se mantega dentro del panel */
}

    .prpanel-body.list-group.tc-ctl-p-results-table, .prpanel-body.list-group.tc-ctl-p-results-info {
        padding: 0px;
    }

.tc-ctl-p-results .prpanel-title span.prpanel-title-text {
    flex: 1 1 auto;
    margin-left: 0;
}

.tc-ctl-p-results .tc-ctl-finfo-coords {
    margin-bottom: 1em;
    font-size: 0.887em;
}

.tc-ctl-p-results .tc-ctl-ftools {
    width: auto;
    flex: auto;
}

    .tc-ctl-p-results .tc-ctl-ftools button.tc-icon-btn {
        margin-left: 0.5em;
        margin-top: 0;
    }



.tc-ctl-p-results a.tc-ctl-print-btn {
    font-size: 1.2em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    z-index: 10012;
}


.tc-ctl-p-results-table table, .tc-ctl-p-results-info table {
    font-size: 1em;
    border-collapse: collapse;
}

.tc-ctl-p-results-table th, .tc-ctl-p-results-table td, .tc-ctl-p-results-info th, .tc-ctl-p-results-info td {
    text-align: left;
    padding: 0.3em;
}

div.tc-3d .tc-ctl-p-results .tc-ctl-p-results-table table.tc-attr th {
    width: 25%;
}

.tc-ctl-p-results-info h4 {
    font-size: 1.2em;
}

.tc-ctl-p-results-table tbody tr {
    cursor: zoom-in;
}

.tc-ctl-p-results-table tbody td.tc-numeric {
    text-align: right;
}

.tc-ctl-p-results-table thead th {
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}

.tc-ctl-p-results-table tbody td {
    border-top: 1px solid #dee2e6;
}


.tc-ctl-p-results-table thead tr {
    background-color: rgba(221,221,221,.5);
}

.tc-ctl-p-results-table table:not(.nested) tbody tr:nth-child(even), .tc-ctl-p-results-table table.nested tbody:nth-child(odd) {
    background-color: rgba(238,238,238,.5);
}

.tc-ctl-p-results-table table:not(.nested) tbody tr:nth-child(odd), .tc-ctl-p-results-table table.nested tbody:nth-child(even) {
    background-color: rgba(256,256,256,.5);
}

.tc-ctl-p-results-table table:not(.nested) tbody tr:hover, .tc-ctl-p-results-table table.nested tbody:hover {
    background-color: rgba(200,200,200,.7);
}

.tc-ctl-p-results-table tbody td {
    vertical-align: middle;
}

.tc-ctl-p-results-table tbody .tc-icon {
    background: none;
    color: #700;
    cursor: pointer;
    border: 0;
    font-family: 'mapskin';
    text-decoration: none;
}

    .tc-ctl-p-results-table tbody .tc-icon:visited, .tc-ctl-p-results-table tbody .tc-icon:active {
        color: #700;
    }

    .tc-ctl-p-results-table tbody .tc-icon:focus {
        outline: none;
    }

    .tc-ctl-p-results-table tbody .tc-icon:hover {
        color: red;
    }

    .tc-ctl-p-results-table tbody .tc-icon.small {
        font-size: 80%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.medium {
        font-size: 120%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.large {
        font-size: 150%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.extralarge {
        font-size: 180%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.tc-icon-info:after {
        content: '\e024';
    }

.showIn {
    -webkit-animation: showIn 0.5s normal forwards ease-in-out;
    animation: showIn 0.5s normal forwards ease-in-out;
    /*display:inline-block !important;*/
}

.showOut {
    -webkit-animation: showOut 0.5s normal forwards ease-in-out;
    animation: showOut 0.5s normal forwards ease-in-out;
}

.tc-ctl-p-results .tc-ctl-finfo-coords {
    display: flex;
}

/* GLS 13/02/2020 razón de la regla CSS: condiciones de carrera que impiden controlar el número de impresoras que se añaden al panel */
/*.tc-ctl-p-results .tc-ctl-print-btn {
    display: none;
}

    .tc-ctl-p-results .tc-ctl-print-btn:first-of-type {
        display: block;
    }*/

.tc-ctl-p-results .prpanel-title {
    display: flex;
}

button.tc-icon-btn.tc-ctl-p-results-share-btn, button.tc-icon-btn.tc-ctl-p-results-csv-btn, button.tc-icon-btn.tc-ctl-p-results-dwn-btn, button.tc-icon-btn.tc-ctl-p-results-min-btn, button.tc-icon-btn.tc-ctl-p-results-close-btn {
    position: relative;
    border: none;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    text-indent: -1000vw;
    opacity: 1;
    visibility: visible;
    padding: 0;
    width: 1.8em;
}

    button.tc-icon-btn.tc-ctl-p-results-share-btn.tc-hidden,
    button.tc-icon-btn.tc-ctl-p-results-csv-btn.tc-hidden,
    button.tc-icon-btn.tc-ctl-p-results-dwn-btn.tc-hidden,
    button.tc-icon-btn.tc-ctl-p-results-min-btn.tc-hidden,
    button.tc-icon-btn.tc-ctl-p-results-close-btn.tc-hidden {        
        visibility: hidden;    
        display: none;
    }

    /* Por Carreteras: modificamos las reglas sobre la cabecera del panel de resultados para controlar que la flecha para colapsar el panel quede con mayor margen en el panel warning de carreteras. En la app hay reglas específicas que añaden margen izquierdo pero no derecho y el con el cambio a flexbox del título, la flecha de colapsado queda demasiado a la derecha. */ 
    button.tc-icon-btn.tc-ctl-p-results-close-btn.tc-hidden {
        width: 0.5em;
        display: initial;
    }

    button.tc-icon-btn.tc-ctl-p-results-share-btn:before, button.tc-icon-btn.tc-ctl-p-results-csv-btn:before, button.tc-icon-btn.tc-ctl-p-results-dwn-btn:before, button.tc-icon-btn.tc-ctl-p-results-min-btn:before, button.tc-icon-btn.tc-ctl-p-results-close-btn:before {
        color: #ffffff;
        font-size: 13px;
        line-height: 2.5em;        
        text-align: center;
    }

    button.tc-icon-btn.tc-ctl-p-results-share-btn:before {
        font-family: sitna;
        content: "\e924";
    }

    button.tc-icon-btn.tc-ctl-p-results-csv-btn:before {
        font-family: FontAwesome;
        content: "\f1c3";
    }

    button.tc-icon-btn.tc-ctl-p-results-dwn-btn:before {
        font-family: FontAwesome;
        content: "\f019";
    }

    button.tc-icon-btn.tc-ctl-p-results-min-btn:before {
        font-family: FontAwesome;
        content: "\f053";
    }

    button.tc-icon-btn.tc-ctl-p-results-close-btn:before {
        font-family: FontAwesome;
        content: "\f00d";
        font-size: 15px;
        line-height: 1.95em;
    }

.tc-ctl-p-results-overlay {
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    height: 2em;
    width: 2em;
    visibility: visible;
}

    .tc-ctl-p-results-overlay.elevation {
        background-color: rgba(255, 0, 0, 0.5);
        border: 2px solid white;
        height: 12px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 12px;
    }

@media screen and (pointer:coarse), (max-device-width: 768px), (max-device-height: 768px) {
    .tc-ctl-p-results-table tbody .tc-icon.small {
        font-size: 120%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.medium {
        font-size: 160%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.large {
        font-size: 190%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.extralarge {
        font-size: 230%;
    }
}
