body {
}

.prpanel-collapse, .prpanel-collapse.collapse.in {
    display: flex;
    flex-direction: column;
}

.tc-ctl-p-results-menu {
    order: 99;
    border-top: 1px solid #ccc;
    text-align: right;
}

    .tc-ctl-p-results-menu .tc-ctl-ftools {
        padding-right: 0.5em;
    }

.tc-ctl-p-results .tc-ctl-p-results-info {
    width: 100%;
    display: block;
}

    .tc-ctl-p-results .tc-ctl-p-results-info h3 {
        font-size: 1em;
        border-bottom: 1px solid #ccc;
        margin: 0.9em 0 0.5em 0.3em;
    }

    .tc-ctl-p-results .tc-ctl-p-results-info .tc-ctl-finfo h3 {
        margin: 0em 0 0.5em 0;
    }

    .tc-ctl-p-results .tc-ctl-p-results-info h4 {
        margin: 0.5em 0 0.5em 0.5em;
    }

    .tc-ctl-p-results .tc-ctl-p-results-info .tc-ctl-finfo h4 {
        margin: 0;
    }

    .tc-ctl-p-results .tc-ctl-p-results-info table.tc-attr {
        cursor: zoom-in;
        width: calc(100% - 1.6em);
        margin: 0.8em;
    }

.tc-ctl-p-results-table {
    width: 100%;
    overflow-x: hidden;
}

div.tc-threed .tc-ctl-p-results .tc-ctl-p-results-table {
    flex-direction: column;
}

    div.tc-threed .tc-ctl-p-results .tc-ctl-p-results-table h3 {
        margin: 0.6em 0.3em;
        font-size: 1.1em;
        width: calc(100% - 2.2em);
    }

    div.tc-threed .tc-ctl-p-results .tc-ctl-p-results-table h4 {
        margin: 0 0 0.3em 0.3em;
    }

    div.tc-threed .tc-ctl-p-results .tc-ctl-p-results-table table {
        width: 100%;
    }

.tc-ctl-p-results div.tc-ctl-finfo {
    display: block;
    max-width: 100%;
    padding: 0.4em;
    opacity: 0.9;
}

.tc-ctl-p-results .tc-ctl-p-results-info {
    width: 100%;
}

.tc-ctl-p-results-table {
    width: 100%;
    overflow-x: hidden;
}

.tc-ctl-p-results .tc-ctl-finfo-coords {
    margin-bottom: 1em;
    font-size: 0.887em;
}

.tc-ctl-p-results-table a.tc-ctl-print-btn, .tc-ctl-p-results-info a.tc-ctl-print-btn {
    top: 2em;
    right: 0.3em;
    font-size: 1.5em;
}

    .tc-ctl-p-results-table a.tc-ctl-print-btn:before, .tc-ctl-p-results-info a.tc-ctl-print-btn:before {
        margin-right: 0;
    }

.tc-ctl-p-results-table table, .tc-ctl-p-results-info table {
    font-size: 1em;
    border-collapse: collapse;
}

.tc-ctl-p-results-table tr:nth-child(odd), .tc-ctl-p-results-info tr:nth-child(odd) {
    background: #eee;
}

.tc-ctl-p-results-table tr:nth-child(even), .tc-ctl-p-results-info tr:nth-child(even) {
    background: #fff;
}

.tc-ctl-p-results-table th, .tc-ctl-p-results-table td, .tc-ctl-p-results-info th, .tc-ctl-p-results-info td {
    text-align: left;
    padding: 0.3em;
}

.tc-ctl-p-results .tc-ctl-p-results-info h4 {
    font-size: 1.2em;
    color: #666;
    font-weight: bold;
    text-overflow: clip;
    overflow: auto;
    white-space: normal;
}

.prpanel-body.list-group.tc-ctl-p-results-table, .prpanel-body.list-group.tc-ctl-p-results-info {
    padding: 0px;
}

.tc-ctl-p-results .prpanel-title span.prpanel-title-text {
    margin-left: 0;
}

.tc-ctl-p-results .tc-ctl-finfo-coords {
    margin-bottom: 1em;
    font-size: 0.887em;
}

.tc-ctl-p-results .tc-ctl-ftools {
    width: auto;
    font-size: 1.2em;
}

    .tc-ctl-p-results .tc-ctl-ftools button {
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }

.tc-ctl-p-results-table a.tc-ctl-print-btn, .tc-ctl-p-results-info a.tc-ctl-print-btn {
    position: absolute;
    right: 0;
    margin: 0.2em;
    z-index: 100000;
    /*font-size: 0.3em;*/
}

.tc-ctl-p-results-table table, .tc-ctl-p-results-info table {
    font-size: 1em;
    border-collapse: collapse;
}

.tc-ctl-p-results-table th, .tc-ctl-p-results-table td, .tc-ctl-p-results-info th, .tc-ctl-p-results-info td {
    text-align: left;
    padding: 0.3em;
}

div.tc-threed .tc-ctl-p-results .tc-ctl-p-results-table table.tc-attr th {
    width: 25%;
}

.tc-ctl-p-results-info h4 {
    font-size: 1.2em;
}

.tc-ctl-p-results-table tbody tr {
    cursor: zoom-in;
    /*IE hack*/
    cursor: url(//sitna.tracasa.es/api/TC/layout/responsive/img/zoomin.cur),default\9;
}

.ie10 .tc-ctl-p-results-table tbody tr {
    cursor: url(//sitna.tracasa.es/api/TC/layout/responsive/img/zoomin.cur),default;
}

.tc-ctl-p-results-table thead th {
    border-bottom: 1px solid #dee2e6;
}

.tc-ctl-p-results-table tbody td {
    border-top: 1px solid #dee2e6;
}


.tc-ctl-p-results-table thead tr {
    background-color: rgba(221,221,221,.5);
}

.tc-ctl-p-results-table table:not(.nested) tbody tr:nth-child(even), .tc-ctl-p-results-table table.nested tbody:nth-child(odd) {
    background-color: rgba(238,238,238,.5);
}

.tc-ctl-p-results-table table:not(.nested) tbody tr:nth-child(odd), .tc-ctl-p-results-table table.nested tbody:nth-child(even) {
    background-color: rgba(256,256,256,.5);
}

.tc-ctl-p-results-table table:not(.nested) tbody tr:hover, .tc-ctl-p-results-table table.nested tbody:hover {
    background-color: rgba(200,200,200,.7);
}

.tc-ctl-p-results-table tbody td {
    vertical-align: middle;
}

.tc-ctl-p-results-table tbody .tc-icon {
    background: none;
    color: #700;
    cursor: pointer;
    border: 0;
    font-family: 'mapskin';
    text-decoration: none;
}

    .tc-ctl-p-results-table tbody .tc-icon:visited, .tc-ctl-p-results-table tbody .tc-icon:active {
        color: #700;
    }

    .tc-ctl-p-results-table tbody .tc-icon:focus {
        outline: none;
    }

    .tc-ctl-p-results-table tbody .tc-icon:hover {
        color: red;
    }

    .tc-ctl-p-results-table tbody .tc-icon.small {
        font-size: 80%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.medium {
        font-size: 120%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.large {
        font-size: 150%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.extralarge {
        font-size: 180%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.tc-icon-info:after {
        content: '\e024';
    }

@media screen and (pointer:coarse),(max-device-width: 768px), (max-device-height: 768px) {

    .tc-ctl-p-results-table tbody .tc-icon.small {
        font-size: 120%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.medium {
        font-size: 160%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.large {
        font-size: 190%;
    }

    .tc-ctl-p-results-table tbody .tc-icon.extralarge {
        font-size: 230%;
    }
}
