
.tc-ctl-share-select {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

    .tc-ctl-share-select label {
        position: relative;
        display: inline-block;
        height: 2em;
        margin: 0.2em 0;
        width: calc(50% - 1px);
    }

    .tc-ctl-share-select input[type=radio] {
        display: none;
    }

        .tc-ctl-share-select input[type=radio] ~ span {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 2em;
            text-align: center;
            border: 1px solid var(--tab-border-color);
            background-color: var(--main-bg-color);
            color: var(--tab-color);
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .tc-ctl-share-select input[type=radio]:checked ~ span {
            border-color: var(--main-hl-color);
            color: var(--main-hl-color);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-color: var(--main-bg-color);
            z-index: 10007;
        }

    .tc-ctl-share-select label:first-child input[type=radio] ~ span {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .tc-ctl-share-select label:last-child input[type=radio] ~ span {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    .tc-ctl-share-select label:first-child input[type=radio]:checked ~ span {
        border-bottom-left-radius: 0;
        border-bottom-color: transparent;
    }

    .tc-ctl-share-select label:last-child input[type=radio]:checked ~ span {
        border-bottom-right-radius: 0;
        border-bottom-color: transparent;
    }

label.tc-ctl-share-btn-url span:before {
    text-indent: -40%;
    font-family: 'Mapskin';
    content: '\e026';
    padding-right: 0.5em;
}

label.tc-ctl-share-btn-iframe span:before {
    text-indent: -70%;
    font-family: 'Mapskin';
    content: '\e04b';
    padding-right: 0.5em;
}

label.tc-ctl-share-btn-url {
    margin-right: 0;
}

label.tc-ctl-share-btn-iframe {
    margin-left: 0;
}

.tc-ctl-share h2 {
    clear: both;
}

.tc-ctl-share .tc-ctl-share-url-box.tc-hidden {
    display: none;
}

div.tc-ctl-share-url-box {
    margin: 6px -3px 6px 0;
    min-width: 300px;
}

.tc-ctl-share input[type='text'] {
    width: 100%;
}

.tc-ctl-share button.form-control {
    width: 70px;
}

.tc-ctl-share .tc-ctl-share-url-box .tc-textbox {
    font-size: 1em;
    border-right: 0;
    position: relative;
    background-color: var(--input-disabled-bg-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: calc(52.3% - 0.4em);
    height: 2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.tc-ctl-share .tc-ctl-share-url-box.tc-iframe .tc-textbox {
    width: calc(76% - 0.2em);
}

.tc-ctl-share .tc-ctl-share-url-box .tc-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 2em;
    width: 24%;
    font-size: 1em;
    border-left: 0;
    padding: 0;
}

    .tc-ctl-share .tc-ctl-share-url-box .tc-button:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 0.1em;
        float: left;
    }

    .tc-ctl-share .tc-ctl-share-url-box .tc-button.tc-loading {
        position: relative;
    }

        .tc-ctl-share .tc-ctl-share-url-box .tc-button.tc-loading:after {
            position: absolute;
            font-size: 85%;
            font-family: sitna;
            content: '\e90f';
            left: auto;
            right: 2px;
            margin-top: 2px;
            display: inline-block;
            animation: spin 2s infinite linear;
            -webkit-animation: spin 2s infinite linear;
        }

.tc-ctl-share .tc-ctl-share-alert.tc-loading {
    position: relative;
}
    .tc-ctl-share .tc-ctl-share-alert.tc-loading p {
        visibility: hidden;
    }

    .tc-ctl-share .tc-ctl-share-alert.tc-loading:after {
        position: absolute;
        font-size: 85%;
        font-family: sitna;
        content: '\e90f';
        left: 50%;
        top: 50%;
        right: auto;        
        display: inline-block;
        animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;        
    }


div.tc-ctl-share .tc-ctl-share-url-box.tc-iframe .tc-button:first-of-type {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin-right: 0;
    float: none;
}

.tc-ctl-share div.ga-share-icons {
    margin: 10px 10px 0 10px;
}

    .tc-ctl-share div.ga-share-icons.tc-loading * {
        visibility: hidden;
    }

    .tc-ctl-share div.ga-share-icons.tc-loading:before {
        position: absolute;
        font-family: sitna;
        content: '\e90f';
        color: var(--title-color);
        font-size: 1.2em;
        display: inline-block;
        animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;
    }

    .tc-ctl-share div.ga-share-icons a.tc-disabled {
        cursor: not-allowed;
        opacity: 0.65;
    }

.tc-ctl-share .ga-share-icon {
    display: inline-block;
    padding: 0 6px;
    color: var(--title-color);
    font-size: 21px;
    font-family: FontAwesome;
    font-weight: 400;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

    .tc-ctl-share .ga-share-icon i::before {
        font-style: normal;
    }

.tc-ctl-share .ga-share-icons a:visited, .ga-share-icons a:focus {
    text-decoration: none;
}

.tc-ctl-share .ga-share-icons a:hover {
    color: var(--main-hl-color);
}

.tc-ctl-share .ga-share-icons a.tc-disabled:hover {
    color: #777;
}

.tc-ctl-share .icon-envelope-alt:before {
    content: "\f0e0";
}

.tc-ctl-share .icon-qrcode:before {
    content: "\f029";
}

.tc-ctl-share .icon-facebook:before {
    content: "\f09a";
}

.tc-ctl-share .icon-twitter:before {
    content: "\f099";
}

.tc-ctl-share .icon-whatsapp:before {
    content: "\f232";
}

.tc-ctl-share .ga-share-icon.share-whatsapp.tc-hidden {
    display: none;
}

.tc-ctl-share .icon-star:before {
    content: "\f005";
}

/*.tc-ctl-share div.tc-ctl-share-qr-dialog {
    top: 20%;
}*/
.tc-ctl-share div.tc-ctl-share-qr-dialog .modal-dialog {
    width: 340px;
}

.tc-ctl-share div#qrcode img, div#qrcode canvas {
    margin: auto;
}

div.tc-ctl-share-qr-dialog.tc-modal .qrcode img {
    display: initial !important; /* no hay más remedio que indicar el important, es un estilo en línea que añade la librería de QR*/
}
