
.tc-ctl.tc-ctl-threed {
    top: calc(1.5em + 2em + 10em + 2em + 0.5em + 2em + 0.5em + 2em + 0.5em + 2em + 0.5em); /* margen antes del +, el +, el alto de la barra, el - y el margen inferior, la casita, el margen inferior, btn streetView, el margen inferior, btn fullScreen, el margen inferior */
    position: absolute;
    left: 0.7em;
    padding: 0;
}

.tc-ctl-threed {
    width: 2em;
    height: 2em;    
    position: absolute;
}

    .tc-ctl-threed button {
        color: #fff;        
        border-radius: 0.2em;
        border: 0;
        background-color: rgba(0, 0, 0, 0.66);
        width: 100%;
        height: 100%;
        padding: 0;
        font-weight: bold;
        font-size: 0.9em;
    }

        .tc-ctl-threed button:before {
            content: '3D';
        }

        .tc-ctl-threed button.active:before {
            content: '2D';
        }

        .tc-ctl-threed button:focus {
            outline: none;
        }

        .tc-ctl-threed button[disabled] {
            background-color: rgba(156, 156, 156, 0.5);
        }

/*.tc-ctl-threed button[disabled]:before {
        content: '';
    }

    .tc-ctl-threed button[disabled].active:before {
        content: '';
    }*/