.tc-ctl-toc {
    overflow: hidden;
    z-index: 10004;
}

.tc-ctl-toc-tree {
    padding-top: 0;
}

ul.tc-ctl-toc-branch {
    list-style-type: none;
    /* img/vline.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAIAAAD6sKMdAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfWCAYTExkGTLX0AAAAGnRFWHRTb2Z0d2FyZQBQYWludC5ORVQgdjMuNS4xMUfzQjcAAAAQSURBVBhXY5g5cyZhPHMmAGbPEe/qkYsqAAAAAElFTkSuQmCC) repeat-y;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    transition: all .3s ease;
}

ul.tc-ctl-toc-wl {
    margin-top: 0.6em;
}

div.tc-ctl-toc-tree div.tc-ctl-toc-empty {
    font-style: italic;
    color: #ccc;
    padding: 0.5em;
    background-color: var(--main-bg-color);
    list-style-type: none;
}

    div.tc-ctl-toc-tree > div.tc-ctl-toc-empty.tc-hidden {
        display: none;
    }

li.tc-ctl-toc-node {
    position: relative;
    font-family: Arial, helvetica, sans-serif;
    margin: 0;
    padding: 0 20px;
    padding-right: 0;
    line-height: 1.2em;
    /* img/node.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALDwAACw8BkvkDpQAAAAd0SU1FB9YIBhQIJYVaFGwAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAEFJREFUOE9jmDlz5n8GZgYGXPj///948agB9DAAJI8LDyIDCGFsACo+WLyATSMMo2tCxkQZAFKED48aMPAG/GcAAFySJ1PSNmZLAAAAAElFTkSuQmCC) no-repeat;
}

    li.tc-ctl-toc-node > button.tc-ctl-toc-collapse-btn {
        position: absolute;
        left: 23px;
        width: 22px;
        height: 22px;
        background-color: transparent;
        border: 0;
    }

    li.tc-ctl-toc-node > span {
        vertical-align: top;
        background-color: var(--main-bg-color);
    }

    li.tc-ctl-toc-node input[type=checkbox] {
        float: right;
        margin-right: 0.3em;        
    }

li.tc-ctl-toc-node input[type=checkbox].tc-ctl-toc-branch-cb {
    float: none;
    vertical-align: top;
    margin: 0.1em 0.2em 0.2em 0.2em;
}

li.tc-ctl-toc-leaf {
    /* img/leaf.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALDgAACw4BQL7hQQAAAAd0SU1FB9YIBhQIJYVaFGwAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAD1JREFUOE9jmDlz5n8GZgYGXPj///948agB9DAAJI8LDyIDyMXUcwE2jTCMrgkZ08cAkCJ8eNSAgTfgPwMAvVAhWS5/PgQAAAAASUVORK5CYII=) no-repeat;
}

li.tc-ctl-toc-node.tc-collapsed {
    /* img/node-collapsed.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALEQAACxEBf2RfkQAAAAd0SU1FB9YIBhQIJYVaFGwAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAEZJREFUOE9jmDlz5n8GZgYGXPj///948agB9DAAJI8Lk2wACKDxqWQAIYwNQMUHixewaYRhZA3omCgDQIrw4VEDBt6A/wwA2+4sGw5LZ3sAAAAASUVORK5CYII=) no-repeat;
}

li.tc-ctl-toc-node-notvisible {
    color: #aaa;
}

ul.tc-ctl-toc-branch li.tc-ctl-toc-node:last-child {
    /* img/lastnode.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALEAAACxABrSO9dQAAAAd0SU1FB9YIBhQIIhs+gc8AAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAFhJREFUOE/tzUEKgDAQBMEF//+Afe1IQLCRTryJgkJdkvRY3Z3aqmaSLP0DTwyM+5kXDdyx7zj3v9J1jD4yMB6taEQWkUZkEWlEFpFGZBFpRBaRRmTRKbUD3MALjd92TQsAAAAASUVORK5CYII=) no-repeat;
    background-color: var(--main-bg-color);
}

ul.tc-ctl-toc-branch li.tc-ctl-toc-node.tc-collapsed:last-child {
    /* img/lastnode-collapsed.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALEQAACxEBf2RfkQAAAAd0SU1FB9YIBhQIIhs+gc8AAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAGVJREFUOE/tzcEJgDAQBdEF+y8g1a4EBIdlEg2KJwPvEHW+0VrL2CJGMnPqH/hioL8fWR7op9xfGrhi53juf6U6VO4eUQmeDVS3BvpHMxqRRaQRWUQakUWkEVlEGpFFpBFZdMrYAVwrEFV8yTH0AAAAAElFTkSuQmCC) no-repeat;
    background-color: var(--main-bg-color);
}

ul.tc-ctl-toc-branch li.tc-ctl-toc-leaf:last-child {
    /* img/lastleaf.png */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAYAAACEYr13AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALDwAACw8BkvkDpQAAAAd0SU1FB9YIBhQIIhs+gc8AAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAFdJREFUOE/tzTEKgDAQBdEF73+APe2XCOIUkxQWomDxqs38VHentqqZJEv/wBMD4z7zooG7jgH7lSw8fWRgPFrRiCwijcgi0ogsIo3IItKILCKNyKJLagc9jQWTqTPg4gAAAABJRU5ErkJggg==) no-repeat;
    background-color: var(--main-bg-color);
}

ul.tc-ctl-toc-branch.tc-collapsed {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.tc-ctl-toc-empty.tc-hidden {
    display: none;
}

.tc-ctl-toc .tc-hidden {
    display: none;
}
@media screen and (pointer: coarse), (max-device-width: 768px), (max-device-height: 768px){
    .tc-ctl-toc-branch li.tc-ctl-toc-node {
        padding-left:50px;
    }
    .tc-ctl-toc-branch li.tc-ctl-toc-node span{
        display:block;
        padding-top:3px;
    }
    li.tc-ctl-toc-node input[type=checkbox]:not(.tc-ctl-toc-branch-cb) {
        margin-top: 2px;
        width: 18px;
        height: 18px;
    }
    li.tc-ctl-toc-node input[type=checkbox].tc-ctl-toc-branch-cb {
        display: inline-block;
        float: left;
        margin-top: 3px;
        width: 18px;
        height: 18px;
    }
    /*li.tc-ctl-toc-node > button.tc-ctl-toc-collapse-btn {
        width: 20px;
        height: 18px;
        left: 13px;
    }*/
}
@media screen and (pointer:coarse) and (min-device-width: 1024px),(pointer:coarse) and (min-device-height: 1024px) {
    .tc-ctl-toc-branch li.tc-ctl-toc-node {
        padding-left: 33px;
    }
    li.tc-ctl-toc-node > button.tc-ctl-toc-collapse-btn {
        width: 20px;
        height: 18px;
        left: 13px;
    }
    
}
@media screen and (min-height: 40em) and (pointer: fine), screen and (min--moz-device-pixel-ratio:0) and (min-height:40em) {
    li.tc-ctl-toc-node > button.tc-ctl-toc-collapse-btn {
        left: 0;
        width: 20px;
        height: 15px;
    }
}