
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

tc-ctl-wfsquery .tc-ctl-wfsquery-dialog.tc-modal {
    display: -moz-flex !important;
    display: -webkit-flex !important;
    display: -ms-flex !important;
    display: flex !important;
}

.tc-modal .tc-ctl-wfsquery-modal-window {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    overflow: visible;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-self: center;
    top: auto;
    position: relative;
    /*Animacion para Firefox */
    -moz-animation: fadeIn .5s linear;
    /*top: 20%;    */
    /*transform: translate(-50%, 0);*/
    transform: none;
    left: auto;
}

.tc-ctl-wfsquery-modal-window .tc-modal-footer button {
    margin: 0 2px;
}

    .tc-ctl-wfsquery-modal-window .tc-modal-footer button:last-of-type {
        margin-left: 0;
    }

.tc-ctl-wfsquery-modal-window .tc-modal-body {
    overflow-y: auto;
    padding: 20px;
}

.tc-ctl-wfsquery-modal-window .tc-modal-body div {
    flex-basis: 100%;
    margin-bottom: 1em;
}

.tc-ctl-wfsquery-modal-window.tc-modal-body div.tc-modal-form, .tc-ctl-wfsquery-modal-window .tc-modal-body div.tc-ctl-wfsquery-where, .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where-list, .tc-ctl-wfsquery-modal-window .tc-modal-body div:last-of-type, .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-op {
    margin-bottom: 0;
}

.tc-ctl-wfsquery-dialog .tc-combo {
    width: 100%;
}

.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form label.tc-ctl-wfsquery-cond,
.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-geomtype button {
    float: left;
    padding: 6px 6px;
    text-align: center;
    flex-grow: 6;
    flex-basis: 12%;
    cursor: pointer;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    color: white;
    box-sizing: border-box;
    width: auto;
}
.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form label.tc-ctl-wfsquery-cond {
    flex-basis: 12%;
}
    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-geomtype button:disabled {
        cursor: default;
    }

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form label.tc-ctl-wfsquery-cond:first-of-type,
    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-geomtype button:first-of-type {
        margin-left: 0;
        border-top-left-radius: .3em;
        border-bottom-left-radius: .3em;
    }

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form label.tc-ctl-wfsquery-cond:last-of-type,
    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-geomtype button:last-of-type {
        margin-right: 0;
        border-top-right-radius: .3em;
        border-bottom-right-radius: .3em;
    }

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form label.tc-ctl-wfsquery-cond span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery-text,
.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery-numeric,
.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery-date,
.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery-geom {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery-text.tc-hidden,
    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery-numeric.tc-hidden,
    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery-date.tc-hidden,
    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery-geom.tc-hidden {
        display: none;
    }

.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form input[type=radio]:checked + label {
    background-color: var(--main-hl-color);
    border-color: var(--main-hl-color);
}

.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where .tc-ctl-wfsquery-geomtype {
        display: none;
    }

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where.tc-spatial .tc-ctl-wfsquery-geomtype {
        display: flex;
        width: 50%;
        flex-basis: auto;
    }

        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where.tc-spatial .tc-ctl-wfsquery-geomtype button {
            height: 2em;
        }

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where .tc-ctl-wfsquery-value {
        display: inline-block;
        flex-basis: auto;
        width: 50%;
    }

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where.tc-spatial .tc-ctl-wfsquery-value {
        display: none;
    }

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input {
        display: block;
        float: left;
        width: 70%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-sizing: border-box;
        /* height: 29px; */
    }
        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input[type=text]::-ms-clear {
            display: none;
        }
        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input[type=date]::-webkit-inner-spin-button, .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input[type=number]::-webkit-inner-spin-button {
            height: 26px;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input[type=number]::-webkit-inner-spin-button, .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input[type=number] {
            -moz-appearance: textfield;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input[type=date] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

    .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-value button {
        display: block;
        float: left;
        width: 30%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 2em;
        font-size:100%;
    }

.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where-list {
    border: solid 1px #CCC;
    border-radius: 0.3em;
    min-height: 2em;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 0.3em;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    box-sizing: border-box;
    align-items: baseline;
}
.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where-list .tc-ctl-wfsquery-where-cond {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: calc(100% - 4em);
    margin: 0;
    box-sizing: border-box;
    align-self: center;
}

.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where-list .tc-ctl-wfsquery-where-cond:nth-of-type(odd) {
    flex-basis: calc(100% - 2em);
    width: 0px;
}

.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where-list div.tc-ctl-wfsquery-where-list-op {
    flex-basis: 2em;
    margin-bottom: 0;
    align-self: center;
}

.tc-ctl-wfsquery-where-list div.tc-ctl-wfsquery-del-cond {
    color: #666;
    width: 1em;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 1.33;
    flex: 0;
    flex-basis: 1em;
    margin-bottom: 0;
}

    .tc-ctl-wfsquery-where-list div.tc-ctl-wfsquery-del-cond:after {
        font-family: 'FontAwesome';
        content: '\f1f8';
    }

.tc-modal .tc-ctl-wfsquery-modal-window {
    width: 600px;
    max-width: 80%;
    max-height: 100%;
}

.tc-ctl-wfsquery-modal-window .tc-modal-body.tc-loading {
    background-color: #fff;
}

    .tc-ctl-wfsquery-modal-window .tc-modal-body.tc-loading:before {
        content: " ";
        border-radius: 50%;
        box-shadow: #ccc 6vmin 0 0 0, #ccc 4.243vmin 4.243vmin 0 0, #ccc 0 6vmin 0 0, #ccc -4.243vmin 4.243vmin 0 0, #ccc -6vmin 0 0 0, #ccc -4.243vmin -4.243vmin 0 0, #ccc 0 -6vmin 0 0, #ccc 4.243vmin -4.243vmin 0 0;
        position: absolute;
        width: 3vmin;
        height: 3vmin;
        background-color: transparent;
        left: 50%;
        top: 50%;
        margin-left: -1.5vmin;
        margin-top: -1.5vmin;
        font-size: 2vmin;
        animation: spin 2s infinite linear;
        -webkit-animation: spin 2s infinite linear;
    }

    .tc-ctl-wfsquery-modal-window .tc-modal-body.tc-loading * {
        visibility: hidden;
    }

.tc-ctl-wfsquery-log-ops > div {
    margin-bottom: 1em;
}

.tc-ctl-wfsquery-modal-window .tc-modal-body div .tc-ctl-wfsquery-where .tc-ctl-wfsquery-key {
    margin-left: 0;
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.tc-ctl-wfsquery-modal-window .tc-modal-body div .tc-ctl-wfsquery-where .tc-ctl-wfsquery-key label {
    display: inline-block;
    text-align: center;
    padding-right:1em;
}

.tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where .tc-ctl-wfsquery-log-ops {
    flex-basis: 20%;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    display: flex;
}
.tc-ctl-wfsquery-modal-window .tc-modal-form .tc-ctl-wfsquery-op input[type=radio] {
    display: none;
}

.tc-modal-form label.tc-ctl-wfsquery-log-op {
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 0.3em;
    flex-grow: 2;
    color: white;
    padding: 5px;
    font-size: 100%;
    height: 2em;
    box-sizing: border-box;
}

    .tc-modal-form label.tc-ctl-wfsquery-log-op:last-of-type {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .tc-modal-form label.tc-ctl-wfsquery-log-op:first-of-type {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 1px;
    }


.tc-ctl-wfsquery-message {
    padding: 1.5em;
    box-shadow: 0 0 12px #999;
    overflow-y: auto;
    font-size: 0.9em;
    opacity: .8;
    border-radius: 0.2em;
    position: absolute;
    bottom: 70px;
    width: calc(100% - 80px);
    align-self: self-end;
    display: block;
    right: 21px;
}

    .tc-ctl-wfsquery-message:before {
        font-family: 'FontAwesome';
        float: left;
        padding-right: 0.5em;
    }   

    .tc-ctl-wfsquery-message.tc-msg-warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b;
    }

    .tc-ctl-wfsquery-message.tc-msg-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #31708f;
    }

    .tc-ctl-wfsquery-message.tc-msg-error {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
    }

    .tc-ctl-wfsquery-message.tc-msg-warning:before {
        content: "\f071";
    }

    .tc-ctl-wfsquery-message.tc-msg-info:before {
        content: "\f05a";
    }

    .tc-ctl-wfsquery-message.tc-msg-error:before {
        content: "\f057";
    }
/*.tc-ctl-wfsquery-btn-open ~ input[type='range'] {
    flex-basis: 70%;
}*/

.tc-ctl-wfsquery-btn-open:after {
    font-family: sitna;
    content: '\e916';
}

.tc-ctl-wfsquery-btn-open.tc-loading:before {
    font-size: 1.1em;
    cursor: default;
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    content: '\f1ce'
}

    .tc-ctl-wfsquery-btn-open.tc-unavailable:before {
        cursor: default;
        color: var(--btn-disabled-bg-color);
    }

.tc-ctl-wfsquery-list.tc-ctl-search-list {
    background-color: var(--main-bg-color);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    list-style-type: none;
    padding: 0.2em;
    line-height: 1.8em;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    max-height: 20em;
    overflow: auto;
    z-index: 10011;
    flex: 1 1 100%;
    margin-left: 0;
    margin-top: 30px;
    width: auto;
    max-width: calc(100% - 1.8em);
    min-width: calc((100% - 1.8em)*0.35);
    box-sizing: border-box;
    left: 0.9em;
    position: absolute;
}
.tc-ctl-wfsquery-results .tc-ctl-p-results-table {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
}

.tc-ctl-wfsquery-opt-geom {
    color: var(--main-hl-color);
}

.tc-modal.tc-ctl-wfsquery-dialog .tc-modal-form {
    min-height: 300px;
}



    @media only screen and (max-width: 480px) {
        .tc-modal.tc-ctl-wfsquery-dialog .tc-ctl-wfsquery-modal-window {
            width: 100%;
            max-width: 100%;
            max-height: 100%
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body {
            padding: 10px;
            height: auto;
            overflow-y: auto
        }

        .tc-modal-form .tc-ctl-wfsquery-text, .tc-modal-form .tc-ctl-wfsquery-numeric, .tc-modal-form .tc-ctl-wfsquery-date {
            flex-wrap: wrap
        }

        .tc-modal.tc-ctl-wfsquery-dialog .tc-modal-form {
            height: inherit;
            width: inherit;
            flex-wrap: wrap;
        }

       
        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form.tc-ctl-wfsquery-where .tc-ctl-wfsquery-where-list {
            flex-basis: 100%
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery.tc-ctl-wfsquery-numeric label, .tc-ctl-wfsquery.tc-ctl-wfsquery-date label {
            flex-basis: 29%;
        }

            .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery.tc-ctl-wfsquery-numeric label:nth-of-type(1), .tc-ctl-wfsquery.tc-ctl-wfsquery-date label:nth-of-type(1) {
                margin-bottom: 1px;
                border-bottom-left-radius: 0
            }

            .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery.tc-ctl-wfsquery-numeric label:nth-of-type(2), .tc-ctl-wfsquery.tc-ctl-wfsquery-date label:nth-of-type(2) {
                margin-bottom: 1px
            }

            .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery.tc-ctl-wfsquery-numeric label:nth-of-type(3), .tc-ctl-wfsquery.tc-ctl-wfsquery-date label:nth-of-type(3) {
                margin-bottom: 1px;
                border-top-right-radius: 0.3em
            }

            .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery.tc-ctl-wfsquery-numeric label:nth-of-type(4), .tc-ctl-wfsquery.tc-ctl-wfsquery-date label:nth-of-type(4) {
                margin-left: 0px;
                border-bottom-left-radius: 0.3em
            }

            .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-modal-form .tc-ctl-wfsquery.tc-ctl-wfsquery-numeric label:nth-of-type(6), .tc-ctl-wfsquery.tc-ctl-wfsquery-date label:nth-of-type(6) {
                border-top-right-radius: 0
            }
    }

    @media only screen and (max-width: 480px), only screen and (max-height: 480px) {
        .tc-ctl-wfsquery-modal-window .tc-modal-header {
            padding: 10px 20px 10px 10px;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-footer {
            padding: 10px;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body {
            padding: 10px;
        }

        .tc-ctl-wfsquery-modal-window label.tc-ctl-wfsquery-cond {
            font-size: 75%;
            min-height: 14px;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input {
            display: block;
            flex-basis: 75%;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where .tc-ctl-wfsquery-value {
            flex-basis: 100%;
        }

        .tc-ctl-wfsquery-where {
            display: flex;
            flex-wrap: wrap;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body div .tc-ctl-wfsquery-where .tc-ctl-wfsquery-key, .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where input {
            flex-basis: 75%;
            margin-left: 0;
            margin-top: 0;
        }
        
        .tc-ctl-wfsquery-modal-window .tc-modal-body div .tc-ctl-wfsquery-where .tc-ctl-wfsquery-log-ops, .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-value button {
            flex-basis: 25%;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where .tc-ctl-wfsquery-value {
            flex-basis: 100%;
            width: 0;
            display: flex;
        }
        .tc-ctl-wfsquery-modal-window .tc-modal-body .tc-ctl-wfsquery-where.tc-spatial .tc-ctl-wfsquery-geomtype {
            flex-basis:100%;
        }

        .tc-ctl-wfsquery-list.tc-ctl-search-list {
            display: block;
            margin-top: 30px;
            width: auto;
            max-width: calc(100% - 1.8em);
            min-width: calc((100% - 1.8em)*0.75);
        }
    }

    @media only screen and (max-width: 500px) {
        .tc-modal.tc-ctl-wfsquery-dialog .tc-ctl-wfsquery-modal-window {
            width: 100%;
            max-width: auto;
            min-width:auto;
            left: 0;
        }
    }

    @media only screen and (min-width: 768px) {
        /*.tc-ctl-wfsquery-where .tc-ctl-wfsquery-key {
        flex-basis: 75%;
        margin-left: 0%;        
    }
    .tc-ctl-wfsquery-where .tc-ctl-wfsquery-log-ops{
        flex-basis: 25%;
        display:flex;
    }*/
    }

    @media only screen and (min-width: 768px) and (orientation: portrait) {
        .tc-modal.tc-ctl-wfsquery-dialog.tc-ctl-wfsquery-modal-window {
            width: 500px;
            max-height: 80%;
        }

        
        .tc-ctl-wfsquery-where input {
            width: 35%;
            flex-basis: 35%;
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
        }

        .tc-ctl-wfsquery-where button {
            width: 15%;
            flex-basis: 15%;
            height: 29px;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body div .tc-ctl-wfsquery-where .tc-ctl-wfsquery-key {
            flex-basis: 30%;
            margin-top: 0;
            margin-left: 0;
        }

        .tc-ctl-wfsquery-modal-window .tc-modal-body div .tc-ctl-wfsquery-where .tc-ctl-wfsquery-log-ops {
            flex-basis: 20%;
            margin-top: 0;
        }

        .tc-modal-form label.tc-ctl-wfsquery-log-op {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @media only screen and (max-height: 600px) {
        .tc-modal.tc-ctl-wfsquery-dialog .tc-ctl-wfsquery-modal-window {
            max-height: 100%;
        }
    }
    /*
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .tc-modal-form
    {
        min-height: 400px;
    }
}*/
    @media only screen and (min-width: 1024px) {

        .tc-modal.tc-ctl-wfsquery-dialog .tc-ctl-wfsquery-modal-window {
            max-height: 80%;
        }
        
    }
@media screen and (min-width: 42em) {
    .tc-modal .tc-modal-window.tc-ctl-wfsquery-modal-window {
        width: 600px;
    }
}
/*Estilos del results panel*/
div.tc-ctl.tc-ctl-wfsquery-results .tc-ctl-p-results-table {
    max-width: 60vw;
    min-width:100%;
}

.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results div.prpanel-group {
    width: 100%!important;
}

.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .table {
    display: table;
}

.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .prpanel-title span.prpanel-title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    cursor: text;
}
-tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .tc-ctl-p-results-table th, .tc-ctl-p-results-table td {    
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

div.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .prcollapsed-slide-submenu {
    font-size: 1.4em;
}

.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results.tc-ctl-p-results-table .table thead th {
    text-align: center;
}

.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .table th:not(:first-of-type), .tc-ctl-p-results-table .table td:not(:first-of-type) {
    border-left: 1px solid #ddd
}
.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .table tbody td {
    padding: .3em .5em;
}
.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results th.tc-ctl-wfsquery-results-sortable{
    cursor:pointer;
    padding-right:30px;
    position:relative;
}
    .tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results th.tc-ctl-wfsquery-results-sortable:before {
        content: "\2191";
        right: 1em;
        display: block;
        position: absolute;
        top: 2px;
        opacity: 0.3;
    }
    .tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results th.tc-ctl-wfsquery-results-sortable:after {
        content: "\2193";
        right: 0.5em;
        display: block;
        position: absolute;
        top: 2px;
        opacity: 0.3;
    }
    .tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results th.tc-ctl-wfsquery-results-sortable.tc-ctl-wfsquery-results-sorting-asc:before {
        opacity: 1;
    }


    .tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results th.tc-ctl-wfsquery-results-sortable.tc-ctl-wfsquery-results-sorting-desc:after {
        opacity: 1;
    }

.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .table tbody td.tc-multimedia {
    max-width: unset;
    padding: 0;
}
.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results td.tc-multimedia > img, .tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results td.tc-multimedia > iframe, .tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results td.tc-multimedia > video, .tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results td.tc-multimedia > audio {
    margin: 0 auto;
    display:block;
    border:0;
}
.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .table tbody td.tc-multimedia div {
    padding:0.3em 0.5em 0 0.5em;
}
.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .table tbody td.tc-multimedia div ~ iframe {
    margin-top: 0.5em;
}
@media screen and (min-height: 40em) and (pointer: fine), screen and (min--moz-device-pixel-ratio:0) and (min-height:40em) {
    div .tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .prcollapsed-slide-submenu {
        font-size: 1em;
    }    

    .tc-ctl-wfsquery-results .tc-ctl-p-results-table {
        max-height: 400px;
    }
    .tc-ctl-wlm .tc-ctl-wlm-btn-query {
        font-size: 1.1em;
    }
    
}

@media \0screen\,screen\9 {
    div.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .tc-ctl-search-list.tc-query-list {
        max-width: calc(100% - 57px);
    }
}

@media screen and (min-width:0\0) {
    div.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .tc-ctl-search-list.tc-query-list {
        max-width: calc(100% - 57px);
    }
}

/*Aqui van los estilos para los atributos de Inspire*/

.tc-ctl-p-results table:not(.nested) .complexAttr tbody tr {
    background-color: transparent
}

.tc-ctl-p-results-table tbody .complexAttr td {
    border: none;    
}
.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .complexAttr table tbody td {
    padding-right: 1px;
}
.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .tc-ctl-p-results-table .complexAttr table td.arrayNode {
    padding: 0
}

.tc-ctl-p-results-table .complexAttr label {
    cursor: pointer;
}

.tc-ctl-p-results-table .complexAttr input {
    display: none;
}

    .tc-ctl-p-results-table .complexAttr input:checked ~ div > table {
        display: block;
    }

.tc-ctl-p-results-table table .complexAttr input:not(checked) ~ div > table {
    display: none;
}
.tc-ctl-p-results-table .complexAttr tbody {
    display: block;
}
.tc-ctl-p-results-table .complexAttr table tr {
    border-bottom: solid #999 1px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.tc-ctl-p-results-table .complexAttr table td {
    box-sizing: border-box;
    width: 100%;
    display: block;
}

.tc-ctl-p-results-table .complexAttr .keyValue .key {
    flex-basis:25%;
}
.tc-ctl-p-results-table .complexAttr .keyValue .value {
    flex-basis:75%;
}
.tc-ctl-p-results-table .complexAttr .keyValue{
    display:flex;
} 
.tc-ctl-p-results-table .complexAttr .keyValue .value div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tc-ctl-p-results-table .complexAttr table tr:last-of-type {
    border-bottom: none;
}

.tc-ctl-p-results-table .complexAttr .title {
    font-weight: bold;
    margin: 0 0.5em 0 0;
}
.tc-ctl-p-results-table .complexAttr .plus {
    margin: 0 0.5em 0 0;
}

.tc-ctl-p-results-table .complexAttr .plus:before {
    font-family: FontAwesome;
    content: "\f0fe";
    font-size: 1em;
}

.tc-ctl-p-results-table .complexAttr input:checked ~ div > .plus:before {
    content: "\f146";
}

.tc-ctl-p-results-table .complexAttr input:not(checked) ~ div > table {
    border: solid #999 1px;
    border-radius: 3px;
}

.tc-ctl-p-results-table a[target=_blank]:after {
    font-family: FontAwesome;
    content: ' \f08e';
}
.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .tc-ctl-p-results-table tr.tc-selectable > td > table > tbody > tr > * {
    padding-left: 0;
    padding-right: 0;
}
.tc-ctl.tc-ctl-p-results.tc-ctl-wfsquery-results .tc-ctl-p-results-table tr.tc-selectable > td > table > tbody > tr > th {
    margin-right:0.3em;
}

.tc-ctl-wfsquery-geom-draw.tc-hidden, .tc-ctl-wfsquery-geom-btn.tc-hidden {
    display: none;
}

.tc-ctl-wfsquery-geom-btn {
    padding: 0.5em;
    width: 100%;
}

.tc-ctl-wfsquery-geom-btn-ok {
    width: 100%;
}

.tc-ctl-wfsquery-where-cond-view:before {
    content: '\e910';
}