<div class="index-content">
    <a href="https://github.com/sitna/api-sitna" title="Ver en GitHub"><img style="position: absolute; top: 70px; right: 10px; border: 0;" src="{{projectRoot}}assets/img/GitHub-Mark-32px.png" alt="Fork me on GitHub"></a>
    <h2>Introducción</h2>
	<p>
		Esta es la documentación de referencia de la API SITNA, una API JavaScript para el desarrollo de mapas interactivos de manera sencilla.
	</p>
    <h3>Cómo empezar a usar la API SITNA</h3>
    <p>
        Para empezar a usar la API, basta seguir estos tres pasos: primero hay que añadir en la página una etiqueta <code>script</code> con la dirección de la API:
        <pre class="prettyprint">&lt;script src="//sitna.tracasa.es/api/"&gt;&lt;/script&gt;</pre>
    </p>
    <p>
        A continuación, añade un elemento HTML a la página donde se va a crear el visor geográfico:
        <pre class="prettyprint">&lt;div id="mapa"&gt;&lt;/div&gt;</pre>
    </p>
    <p>
        Finalmente, en el script de la página instanciar un objeto de la clase <a href="classes/SITNA.Map.html">SITNA.Map</a>, pasándole como parámetro el 
        identificador creado en el paso anterior:
        <pre class="prettyprint">var map = new SITNA.Map("mapa");</pre>
    </p>
    <p>El resultado es el siguiente:</p>
    <iframe class="example" src="../examples/getting-started.html"></iframe>
	<p>
		A lo largo de la documentación hay ejemplos comentados con enlaces a su versión funcional online. Es recomendable abrir el código fuente de 
		estas versiones funcionales para ver el ejemplo completo.
	</p>
</div>